[2018-01-16 22:39] nikomatsakis opened #1 "setup repo to automatically render"
It'd be nice if, after each push, you could go visit a GH pages or something and see the output, so that people can go read the current contents. If you're interested in doing this, leave a comment! (If you need collaborator status, I can add you.)

[2018-01-16 22:41] nikomatsakis opened #2 "move over the rustc README"
There is a lot of existing content scattered in READMEs through rustc. We should move over that content. To start, [the rustc README](https://github.com/rust-lang/rust/blob/master/src/librustc/README.md) is a good candiate. It desribes the layout of the crates and contains a glossary (oh, we should probably add the glossary to its own chapter).

EDIT(@mark-i-m): Added TODOs

EDIT2(@mark-i-m): A lo

[2018-01-17 04:18] Michael-F-Bryan commented on #1
[This][1] is what I do for my FFI guide, with this [slightly more complicated][2] one we use for `mdbook` because we need to regenerate CSS and API docs. I'll create a PR which adds a basic `travis.yml` file and the relevant CI stuff.

[1]: https://github.com/Michael-F-Bryan/rust-ffi-guide/blob/master/ci/deploy.sh
[2]: https://github.com/rust-lang-nursery/mdBook/blob/master/ci/github_pages.sh

[2018-01-17 14:23] nikomatsakis opened #6 "master tracking issue"
This tracking issue contains links to the issues for all the chapters and subsections of the book. It is also the main place to come to if you're looking to get started on contributing.

### How to contribute

Skim down the list below and find a chapter that looks interesting to you. It should have a link to an associated tracking issue. Click on that link and leave a comment there saying you'd li

[2018-01-17 14:24] nikomatsakis commented on #6
Note: this conversation is locked to keep this tracking issue tidy.

[2018-01-17 14:43] nikomatsakis opened #8 ""How to build the compiler and run what you built""
This section should describe how to build the compiler and run what you built. There is plenty of existing material that we can draw on. For example, the [build system](https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#the-build-system) section of the CONTRIBUTING.md file covers similar material.

One thing that I think is missing from existing material is a focus on "practical recipes

[2018-01-18 10:27] nikomatsakis opened #10 ""Using the compiler testing framework""
This section should describe how to compiler is tested. Substantial work has been done but there remains more to document:

- [x] discuss bors, travis, platform emulation (#66 )
- [ ] crater: what is it and why is it useful? How do you request a crater run and when should you to do so? (#151)
- [ ] maybe talk about "perf runs" too (#151)
- [x] rustdoc tests (cc @QuietMisdreavus)
- [x] talk about u

[2018-01-18 10:31] nikomatsakis opened #11 ""Debugging the compiler""
This section should talk about the various tips and tricks for debugging the compiler, as well as perhaps some amount of "debug log conventions". It doesn't necessarily have to be a *super* long section, but here are some of the things I can think of:

- [x] How to use `RUST_LOG` and `config.toml` first and foremost (overlaps with https://github.com/rust-lang-nursery/rustc-guide/issues/8)
- [x] So

[2018-01-18 10:35] nikomatsakis opened #12 ""Conventions used in the compiler""
Some of this material exists already scattered about, and/or maybe this overlaps with the glossary, but I think it'd be helpful to try and capture some common conventions.

Here are some things I'm thinking about:

- [x] How to format code (#47)
    - [x] Um... kind of a mess. Hopefully we'll move to rustfmt.
- [x] Naming conventions (maybe this should just be in the glossary, actually?)
    - [x]

[2018-01-18 10:40] nikomatsakis opened #13 ""The parser""
It'd be worth covering where the lexer is, how the parser works, conventions around error recovery.

[2018-01-18 10:44] nikomatsakis opened #14 ""Diagnostics: reporting errors and lints""
We should talk first about:

- Guidelines for emitting errors
    - How to find an error code and add an extended error
    - Conventions are how the error should be formatted (lowercase letter, etc)
        - link or maybe just inline [the RFC with guidelines on how extended errors should look](https://github.com/rust-lang/rfcs/blob/master/text/1567-long-error-codes-explanation-normalization.md)

[2018-01-18 10:47] nikomatsakis opened #15 ""macro expansion""
Talk about where macro expansion happens. There is lots of other stuff we should cover here eventually:

- Hygiene
- Custom derive and procedural macros and how those work

cc @jseyfried -- can you help on elaborating the list of things that belong here?

[2018-01-18 10:50] nikomatsakis opened #16 ""name resolution""
We should be talking about the `librustc_resolve` crate works here. Some topics of interest:

- Handling scopes within the crate
   - What is a rib?
   - Where do ribs get added / removed, what happens if I need to introduce a binder?
   - How does `pub use` and stuff like that work
   - Globs and ambiguity
- How do names from external crates fit in?

[2018-01-18 10:52] nikomatsakis opened #17 ""HIR and HIR Lowering""
Talk about the HIR:

- [ ] how it is structured,
- [x] how to dump it and inspect it,
- [x] the code that creates it (#148)
- [x] the HIR map

[2018-01-19 11:25] nikomatsakis commented on #16
@vorner sounds good to me! One of the things I've been wrestling with, as an aside, is just how much detail this guide should go into. I don't think it should replace "in-code" comments -- that is, we don't want the material to become outdated very regularly. We'll have to feel our way.

To that end, I was thinking that perhaps a good place to start would be to dive into the code and try to add co

[2018-01-19 12:25] nikomatsakis commented on #1
@Michael-F-Bryan hmm -- it doesn't quite seem to be working. Any idea what further steps I might have to do? I also added you as a collaborator I think.

[2018-01-19 12:26] nikomatsakis commented on #1
Oh, I guess I see the problem:

https://travis-ci.org/rust-lang-nursery/rustc-guide/builds/330775541#L462

`mdbook` command not found

[2018-01-19 16:21] vorner commented on #16
My idea was to do the comments in code (if I find places where the code isn't self-documenting and find them missing) and then try to write a high level picture with very little details. I guess it'll need some more iteration later on, and details can always be added.

[2018-01-19 16:37] Michael-F-Bryan commented on #13
I'd be interested in helping out with the parser section. I haven't made any contributions to the Rust parser specifically, but I've played around with `syn` and proc macros and also done a fair amount of parsing for other projects (toy projects, custom file formats at work, etc).

Do you know if there's anyone with experience in the parser that I'd be able to bounce questions off?

[2018-01-20 11:32] nikomatsakis commented on #13
@Michael-F-Bryan you can certainly bounce questions off of me; I would say the main *owner* of the parser is @petrochenkov

[2018-01-20 11:33] nikomatsakis commented on #16
@vorner sounds perfect

[2018-01-20 13:46] Michael-F-Bryan opened #20 "Automated Link Checking"
I'm assuming this guide is going to contain lots of links to various bits and pieces around the `rust-lang/rust` repository, so it's probably a good idea to set up some sort of link checking in CI.

I've made a backend for `mdbook` which will read your book and check all the links are valid called [mdbook-linkcheck]. We'll be making another release in the next couple days (rust-lang-nursery/mdBook

[2018-01-23 06:59] theotherphil commented on #17
@nicomatsakis I'd like to give this a go, but know very little about compilers in general or rustc in particular. I'm happy to just read the code and put a rough first sketch together, but if you can point me at any other existing resources that would be great.

[2018-01-23 15:41] nikomatsakis commented on #17
@theotherphil my plan is to move README content into the guide, since the guide itself will eventually move into rustc. Our experience has been that the READMEs are not typically very "discoverable". So, an initial PR based on the README would be a good start!

Feel free to ping me with questions. I'll try to keep up here, but you can also find me on gitter or IRC.

[2018-01-23 16:08] theotherphil commented on #17
Ok great, thanks!

[2018-01-23 16:17] nikomatsakis commented on #1
OK, so, @Michael-F-Bryan I did a bunch of setup but now I'm getting weird errors about SSL. Any tips?

https://travis-ci.org/rust-lang-nursery/rustc-guide/builds/332364731#L702

[2018-01-23 22:18] nikomatsakis commented on #1
I guess I need some stuff like this:

https://github.com/rust-lang-nursery/mdBook/blob/master/ci/github_pages.sh#L34-L41

[2018-01-24 02:41] nikomatsakis commented on #1
Found this handy gist https://gist.github.com/willprice/e07efd73fb7f13f917ea

[2018-01-24 02:42] nikomatsakis commented on #1
But there also exists this https://docs.travis-ci.com/user/deployment/pages/ -- which kind of sounds like *exactly* what we want?

[2018-01-24 09:37] nikomatsakis commented on #1
Woohoo, a couple of commits later, it seems to be working!

[2018-01-24 09:37] #1 closed

[2018-01-24 09:38] nikomatsakis commented on #20
Yes, this would be great. One of the things I have been wondering is how to link to functions -- or maybe even *snippets* -- in the Rust source. I'd like it if the book were moved into the Rust repository so that changes to the Rust source would not build if they broke the book; but in the meantime, I suppose a "simple" solution would be to have the rustdoc for the compiler posted somewhere, which

[2018-01-24 15:57] Michael-F-Bryan commented on #20
I've got a [copy of the internal docs][1] which are recompiled and uploaded daily. Would it be worth asking people to link to that?

All I did was translate an old shell script of mine into Rust and then set up `cron` to make sure the program gets run while I'm asleep, so if the tool can help here feel free to use/fork it. I remember [talk of making a better solution][2], but I don't think anythin

[2018-01-24 20:45] nikomatsakis commented on #20
@Michael-F-Bryan maybe we could put it on rust-lang-nursery or forge or some such?

So long as we are an external guide, of course, we have to think about a policy to detect rot -- i.e., compiler changes, we have to adapt.

[2018-01-25 14:40] #8 closed

[2018-01-25 14:47] nikomatsakis commented on #13
Copying some stuff I wrote in #21 that seems relevant:

Hmm, good question. I imagine it'd be good to look at a few PRs that modified the parser to see what they had to do. Actually, it might be worth just including a link to those PRs in the guide to help people get oriented.

rust-lang/rust#45047 is such a PR, and here is a [link to some of the relevant content](https://github.com/rust-lang/rust

[2018-01-25 14:59] Michael-F-Bryan commented on #13
I'm surprised how familiar a lot of this is! Quite a lot of parsers for toy languages I've written in Rust are effectively a state machine which incrementally consumes tokens (`eat()`). Your parser keeps track of where it's at (`last_span`) and then uses that to create a `Span` so you can figure out where an AST node originally came from. The "union" operation for joining spans is then a logical e

[2018-01-25 16:14] nikomatsakis opened #25 "include a section on how the compiler team functions"
We should talk about how the compiler team itself functions:

- [x] Chatting typically in `#rustc` on IRC
- [x] Open-to-public triage meetings in `#rustc` on IRC at 10am Boston time on Thursday
  - Careful around US daylight savings time :/
- [x] How to find open issues
- [x] Mentoring and how to ask for it (#64)

[2018-01-25 23:50] mark-i-m commented on #15
Started a simple chapter on macro expansion here: #26

I don't know much about hygiene, custom derive, or procedural macros, but I can write about normal `macro_rules` expansion...

[2018-01-26 14:08] nikomatsakis commented on #13
@Michael-F-Bryan

Yeah, it's your basic recursive descent parser. Nothing too fancy. =)

This is somewhat ad-hoc, but actually one of the things I would like documented. @nrc is the one who put in a lot of that, and they may be able to comment a bit, though I think @estebank has also put in some effort here. One particular pattern I recall that @estebank has used a few times is that they "checkpoi

[2018-01-29 18:29] mark-i-m opened #30 "Chapter on MIRI?"
... perhaps as a subchapter under the MIR chapter?

[2018-01-29 18:33] mark-i-m commented on #2
@nikomatsakis What is the status of the README about dependency tracking... is there any content there that needs to be moved over to the book still?

[2018-01-30 13:01] Michael-F-Bryan commented on #30
Weren't there plans to use miri to help with compile time function execution (`constexpr`)? If so, knowing how it works and how to use it may be useful.

[2018-01-30 14:17] mark-i-m commented on #30
@Michael-F-Bryan see rust-lang/rust#46882 which is actually very close 🎉

[2018-01-30 21:19] rylev opened #32 "Chapter 2 "How to build the compiler..." Assumes Knowledge of Compiler Stages"
Chapter 2 assumes you understand why there are multiple compiler stages and what each is used for. A short section explaining this would make the chapter much clearer.

[2018-01-30 22:31] mark-i-m commented on #32
See #33

[2018-01-31 07:38] Michael-F-Bryan commented on #13
I'm moving across [a conversation](https://github.com/rust-lang-nursery/rustc-guide/pull/26#issuecomment-361847847) I was having with @mark-i-m about how much we want to explain parser basics.

---

Sounds like a good idea. I was thinking we could say something like this:

For people who already know how parsers work it's essentially recursive descent 101,  but something like that is probably comp

[2018-01-31 10:04] oli-obk commented on #30
Feel free to assign this to me (so I'll find it again :D). I'll write up something.

What level of detail did you have in mind?

[2018-01-31 16:25] #32 closed

[2018-01-31 16:27] nikomatsakis commented on #2
@mark-i-m good question. I'm not entirely sure how much of that material is still relevant.

[2018-01-31 16:43] mark-i-m commented on #13
Copying over Niko's comment from #26 :

[2018-01-31 18:07] alexreg opened #35 "What are "filemaps"?"
They're mentioned on <https://rust-lang-nursery.github.io/rustc-guide/the-parser.html>, but not defined. I think it would be good to explain what they are first.

[2018-01-31 18:11] mark-i-m commented on #30
@oli-obk Thanks! It doesn't look like I can actually assign you in the issue tracker, unfortunately.

I really don't know much about MIRI, but I guess this is what I was thinking:
- What is it? What is its role in compilation/const evaluation?
- Where does it fit into the compiler pipeline?
- What are the important algorithms? How does it work? Where in the codebase are they defined? (We are looki

[2018-01-31 18:12] mark-i-m commented on #35
cc #13

[2018-01-31 18:15] mark-i-m commented on #2
cc @michaelwoerister ?

[2018-01-31 18:31] mark-i-m commented on #15
cc @federicomenaquintero

[2018-01-31 18:32] mark-i-m commented on #17
Ping @theotherphil :)

Any updates?

[2018-01-31 18:32] mark-i-m commented on #16
Ping @vorner ?

Did you wish to continue iterating on this chapter?

[2018-01-31 19:20] #20 closed

[2018-01-31 21:33] theotherphil commented on #17
Nothing yet, apart from copying Nico's README from librustc. I have a document with some questions I want to answer but I've not yet had time to work out any answers.

[2018-01-31 23:55] dtolnay opened #38 "Add ICH to the glossary"
Follow-up from https://github.com/rust-lang/rust/issues/47782. @avborhanian could you submit a PR here as well? Thanks!

[2018-02-01 04:12] alexreg commented on #30
I was just going to file this issue and nominate @eddyb to write it (who mentored me through the bits I contributed to the above PR), but it seems you've beat me too it, so yay!

[2018-02-01 04:48] eddyb commented on #30
@mark-i-m I think the important part about miri isn't the algorithms (which I can't think of any of note), but *the data structures*, and more specifically how miri represents values and memory allocations.

Everything else is just "match on MIR and apply each instruction to values in local variables and/or memory allocations they might point to" in a way that we could even formally describe as bi

[2018-02-01 08:52] Michael-F-Bryan commented on #35
Does anyone mind if I have a go at answering this one?

[2018-02-01 15:56] alexreg commented on #30
@eddyb You can probably adapt a good deal of material from the original author's report/presentation then. :-)

[2018-02-01 23:03] mark-i-m commented on #2
I'm going to go ahead and close this. We can augment the dep. tracking chapters later if we want.

[2018-02-04 21:27] alexreg opened #42 "Line wrap convention?"
What's the line wrap convention? I initially guessed 80 chars max, but then it seems like a) a few lines overflow (I'd guess these were oversights), b) many lines wrap before they need to (I'd guess intentionally). I can't figure out the logic for b) in particular, since no consistent scheme seems to be used.

Personally, I'm not a big fan of hard wrapping in markup files (or code, to a lesser ext

[2018-02-04 22:10] mark-i-m commented on #42
I don't think there is a hard style guide... I personally prefer hard wrapping at 80chars. If this was code, I would say "use `rustfmt`", but I have no strong preference for markup files.

Feel free to pick a convention. If you do, please add a note in the README. This could be turned a tracking issue of files that need to be properly formatted.

Let me know what you think :)

[2018-02-04 22:12] alexreg commented on #42
Hard-wrapping at 80, and keeping formatted parts (backticks, bold, underline) on their own line seems to make the most sense to me. Is there a tool that can automatically do this?

[2018-02-05 01:09] avborhanian commented on #38
Yup! Submitted at #40

[2018-02-05 01:54] mark-i-m commented on #38
Merged :)

[2018-02-05 01:54] #38 closed

[2018-02-05 01:55] mark-i-m commented on #42
Unfortunately, I don't know. I usually just use vim (`gqgq`)...

[2018-02-05 07:20] petrochenkov commented on #42
100 characters is the limit currently enforced by tidy.
Everything below that is either personal preferences or rustfmt's preferences.

[2018-02-05 07:21] petrochenkov commented on #42
Oh wait, do you mean for this repo?

[2018-02-05 16:15] mark-i-m commented on #42
Yep, since it is mostly markdown rustfmt doesn't help :'(

On Feb 5, 2018 1:21 AM, "Vadim Petrochenkov" <notifications@github.com>
wrote:

Oh wait, do you mean for this repo?

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/rust-lang-nursery/rustc-guide/issues/42#issuecomment-363000777>,
or mute the thread
<https://github.com/not

[2018-02-05 16:47] alexreg commented on #42
Hmm, we may be able to use the GNU `fmt` utility for this, and integrate it into the build script?

[2018-02-05 16:48] mark-i-m commented on #15
Ping @federicomenaquintero :)

Are you still interested in writing something up about hygiene or proc macros?

[2018-02-05 16:50] mark-i-m commented on #42
I'm not familiar with `fmt`, but it sounds promising. I think the best thing would be to have some sort of `tidy` check that is run by travis. That way a PR gets blocked until formatting is fixed.

[2018-02-05 16:54] alexreg commented on #42
Yeah, that could work too. Should be pretty easy to write a Bash script that does that.

[2018-02-06 22:03] mark-i-m commented on #30
See #45

[2018-02-07 14:51] nikomatsakis commented on #42
I'm generally in favor of line wrapping -- it makes the text much more readable when it's not rendered, and it can help make diffs more readable  -- though I see the advantage of not doing it too. I don't know about tooling for doing it; I also just hit M-q in emacs to do it. I suppose fmt might work?

[2018-02-07 18:00] alexreg commented on #42
I've seen some odd line wrapping conventions around the Rust codebase (70 chars?!), and even though I prefer not line wrapping, it seems like most people like it... so as long as we could standardise it, and put a check on the CI, that could work. (I just tried `fmt -w 80` here, which works nicely for Markdown.

[2018-02-09 15:13] mark-i-m opened #48 "Glossary"
Are there any other terms that should be added to the glossary? Please make suggestions.

- [x] filemap (#35)
- [x] soundness (#54)
- [x] completeness (#54)
- [x] skolemization (#67)
- [x] sigil (#57)
- [x] LTO, ThinLTO, FatLTO (#56)
- [x] TLS (#56)
- [x] LLVM (#56)
- [x] IR (#56)
- [x] Fat pointer (#112)
- [x] region (#57)
- [x] HIR map (#63)
- [x] CTFE (compile-time function evaluation)... This

[2018-02-09 15:15] mark-i-m opened #49 "Glossary alphabetical"
I just noticed that the glossary is not perfectly in alpha order... Note to self: fix it when I get back to a computer...

[2018-02-09 15:28] mark-i-m opened #50 "Code index"
One thing that could be helpful is an index of important data structures, functions, methods, traits, etc in the compiler. I propose we add a chapter after the glossary with a big table (sorted alphabetically by item name) that looks something like this:

Item |  Kind  | Short description | Chapter | Declaration
--------|------|-----------------------------|--------------------|-------------------

[2018-02-09 15:32] mark-i-m commented on #50
A good first step on this would be to crawl the existing chapters and look for data structures that are explicitly mentioned.

[2018-02-10 14:02] phansch commented on #48
One thing I have been wondering is if 'soundness' means something special in the compiler context or if it is just a different word for correctness. There are [lot's of issues](https://github.com/rust-lang/rust/search?q=soundness&type=Issues&utf8=%E2%9C%93) mentioning 'soundness bugs' and 'soundness fixes'. So maybe it makes sense to add this too or explain it somewhere?

[2018-02-10 14:44] mark-i-m commented on #48
Yes, soundness is a technical term in programming languages literature. You will usually read about proving "soundness" and "completeness".

Roughly, IIRC, soundness means that if a program type-checks, it is type-safe; i.e. I can never (in safe rust) force a value into a variable if the wrong type. Completeness means that every type-safe program also type-checks. Having both is very hard, and usu

[2018-02-11 21:30] theotherphil commented on #17
I didn't get the time to write anything useful on this topic and I'm now going to be computerless for a while so won't be doing any work in the near future either. Sorry for the slow progress - if anyone else fancies working on this they won't be stepping on my toes.

[2018-02-11 21:42] mark-i-m commented on #17
Thanks for the heads up @theotherphil :)

[2018-02-11 21:48] #49 closed

[2018-02-13 16:36] mark-i-m commented on #10
See #47 and #53

[2018-02-15 04:53] mark-i-m commented on #35
Ping @Michael-F-Bryan

Any updates?

[2018-02-15 04:55] mark-i-m commented on #16
Ping @vorner ?

[2018-02-15 07:06] vorner commented on #16
Sorry, I was busy and missed the previous ping :-|.

Yes, I still want to have a second go through the code, put comments on there and polish the text in the chapter and possibly add some more details.

But if I'm taking too long, I'd definitely understand if someone else wants to take it over (though it seems there's plenty of other work available).

[2018-02-15 15:18] mark-i-m commented on #16
No worries!

I just was making sure you were still interested :)

[2018-02-17 16:49] mark-i-m commented on #12
cc #47 (adds conventions.md)

[2018-02-17 16:51] mark-i-m commented on #10
@QuietMisdreavus #47 has landed :)

[2018-02-17 18:21] ehuss opened #58 "CI using old cache of mdbook"
I'm not 100% certain without access to the Travis cache, but I believe that it is using an old version of mdbook (0.0.28) from the cache.  This was noticed because Travis is not running mdbook-linkcheck, and the output in the Travis logs looks like the old version.

In the Travis logs, it looks like PRs are picking up this old cache from the master branch:
[code]

Due to the way [ci/install.sh](ht

[2018-02-17 18:53] mark-i-m commented on #58
Thanks @ehuss ! I would appreciate that :)

It explains https://github.com/rust-lang-nursery/rustc-guide/pull/47#discussion_r166657423

[2018-02-17 18:56] mark-i-m commented on #58
I just dropped the caches, and will restart the travis builds for outstanding PRs, but a permanent fix would be good.

[2018-02-18 04:35] #58 closed

[2018-02-23 03:40] Michael-F-Bryan commented on #35
Sorry @mark-i-m, I've had a lot on my plate and didn't get around to this. Over the weekend I was wanting to play around with rustc internals to create a tool similar to `cbindgen` so I imagine that'll give me a chance to document things and add a paragraph or two on filemaps/codemaps.

[2018-02-23 04:32] mark-i-m commented on #35
@Michael-F-Bryan Thanks for the update :)

[2018-02-23 18:34] mark-i-m commented on #42
Thanks for the investigation @alexreg :)

Would you mind make a PR to add such a check to the CI?

[2018-02-23 18:36] #30 closed

[2018-02-23 19:31] alexreg commented on #42
@mark-i-m Sure, that should be simple enough...

[2018-02-23 20:40] davidtwco opened #64 "Writing mentored issues"
Not sure if this is the right fit for this book, it relates more to the process of contributing rather than the technical details. Would it be useful to have a section in the guide for writing mentored issues?

The intention being that experienced contributors who are just getting started writing mentored issues would be able to review it and structure their mentoring instructions in as helpful an

[2018-02-23 21:29] mark-i-m commented on #64
:+1: I think it's a great idea. We can leave it open.

[2018-02-24 01:50] nikomatsakis commented on #64
That's a great idea yes

[2018-02-25 21:27] mark-i-m commented on #2
It looks like there are a few more to do... updated the list above.

[2018-02-25 23:57] mark-i-m commented on #2
@nikomatsakis Is  ./src/librustc_borrowck/borrowck/README.md still relevant?

[2018-02-25 23:59] mark-i-m commented on #2
also, do we want to move over ./src/librustc/infer/region_constraints/README.md  and ./src/librustc/infer/lexical_region_resolve/README.md  which describe the old region inference system?

[2018-02-26 18:51] federicomenaquintero commented on #15
I am!  Apologies for taking so long; I've been busy with librsvg.

Now that I'm porting gnome-class to syn 0.12, I'm getting a much more practical view of hygiene.  I'll write something soon.

[2018-02-26 18:52] mark-i-m commented on #15
Thanks for the update!

[2018-03-02 15:55] choudanu4 opened #71 "Switching Out LLVM Backends"
Recently support landed in rustc for dynamically loading LLVM. It would be nice if the rustc-guide documented how to switch to a custom LLVM backend. I'm not sure if this was planned to be included in the trans chapter(#6), as it does not yet have a tracking issue I could comment on.

Sorry if this is out of scope for the rustc-guide!

[An example where people ask for this documentation.](https://

[2018-03-02 18:20] mark-i-m commented on #71
@choudanu4 I think if the focus is more on "how did we make it switchable?", then yes, it seems like a good addition. In general, this guide is aimed more at people _build_, rather than _using_, the compiler.

Would you be interested in starting a trans chapter?

[2018-03-04 07:20] Michael-F-Bryan opened #74 ""Navigating the compiler from the outside""
I'm currently working on a project which uses `rustc` internals to analyse a crate so I can then generate FFI bindings. Kinda like `cbindgen`, except where they focus on static linking at compile time or dynamically when your program gets loaded into memory, I'm trying to load a dynamic library at runtime using `dlopen` (*nix) and `LoadLibrary` (windows).

Seeing as this is a guide on how `rustc`

[2018-03-04 07:26] Michael-F-Bryan commented on #74
Also, I remember seeing a tutorial a while back which steps you through using `rustc_driver` and `rustc` internals to analyse a crate's AST. It was published on GitHub by someone on the core team (maybe @alexcrichton?) and I think it did something like count the number of print statements, or another seemingly trivial task.

It'd be nice to add a link to those sorts of tutorials if they aren't too

[2018-03-04 17:57] Michael-F-Bryan commented on #74
On second thoughts I don't think it'd be necessary to write anything specific to those using `rustc` internals as a library, per-se. It's probably enough to talk about how `rustc_driver` drives the entire compilation process and the ways people are able to hook in at various stages.

Rustdoc has a new README? :open_mouth:

[2018-03-04 19:20] mark-i-m commented on #74
I frankly don't know that much about this topic, so I would defer to you on what would be most useful in such a chapter :)

Indeed! https://github.com/rust-lang/rust/pull/48283

[2018-03-04 20:10] alexcrichton commented on #74
Unfortunately not me :(

[2018-03-04 20:40] ehuss commented on #74
Perhaps you are thinking of https://github.com/nrc/stupid-stats?

[2018-03-05 09:29] Michael-F-Bryan commented on #74
Yep, that's the one! Given how the compiler is currently going from being pass-based to query-based, does anyone know if this `CompilerCalls` mechanism still the best way to use `rustc` from the outside?

[2018-03-07 14:52] nikomatsakis opened #77 "Downloading artifacts from Rust's CI"
There is an awesome utility by @kennytm with the short and pithy name `rustup-toolchain-install-master`. What this does is to download the artifacts produced by Rust's CI for a specific SHA1 -- this basically corresponds to the successful landing of some PR -- and then sets them up for your local use. (@kennytm -- does this include `@bors try` artifacts as well?) This is helpful when you want to e

[2018-03-07 14:53] nikomatsakis opened #78 "Bisecting errors against PRs"
One of the best way of figuring out the cause of a regression is bisecting against the PRs that have landed recently. There are a number of folks (cc'd below) who do this from time to time -- I'm not really sure what wizardry they use to do it, but I'd love to see it documented!

cc @Mark-Simulacrum, @kennytm, @TimNN, @est31

[2018-03-07 14:53] nikomatsakis commented on #78
(Is this on topic for this guide? Maybe too far astray? Maybe better for forge? I'm not really sure.)

[2018-03-07 14:54] nikomatsakis commented on #77
(This feels on topic, but maybe it'd be better for forge?)

[2018-03-07 14:55] kennytm commented on #77
Yes, because try builds and normal builds are deployed into the same folder on S3.

[2018-03-07 16:45] Mark-Simulacrum commented on #78
The current (possibly broken, I haven't used it in a while) tooling that I know of to do this is https://github.com/Mark-Simulacrum/bisect-rust. However, I have had some thoughts about changing to just using normal `git bisect` in a rust-lang/rust checkout but instead of building downloading CI artifacts -- this should make the implementation considerably smaller. I hope to investigate something l

[2018-03-07 18:28] mark-i-m commented on #78
I think this could go in the "debugging the compiler" section

[2018-03-08 10:18] nikomatsakis commented on #78
While we're talking about tools, it'd be nice for the same tool to support nightlies too (and, in an *ideal* world, building from source).

[2018-03-08 16:58] est31 commented on #78
I've never built from source in my bisection work. I've always pinged the most suspicious looking person and then left it to them to nail stuff down further :). But yeah support for nightlies as well would be great (as we delete older builds now)

[2018-03-08 19:54] mark-i-m commented on #77
I think we might want to make a separate chapter on infrastructure and pull it boss, crater, CI, and this into that new chapter.

[2018-03-09 09:10] nikomatsakis opened #80 "How to use CTAGS"
One of the challenges with rustc is that the RLS can't handle it, making code navigation difficult. I personally use ctags; I use this script to set it up:

https://github.com/nikomatsakis/rust-etags

CTAGS integrate into emacs + vim quite easily, I don't know about other editors. I typically have this common as my standard "build rustc" command:

[code]

This allows me to do "jump-to-def" with wh

[2018-03-09 11:10] nikomatsakis opened #81 "Parallel rustc"
As @Zoxc's work to [parallelize rustc] starts to land, we need to start documenting it!

Some example topics:

- What the heck is `Lrc`? When should I be using it?
- What do I use when I want a ref cell?

[2018-03-09 19:34] mark-i-m commented on #81
Perhaps a good starting point might be https://github.com/nikomatsakis/rustc-parallelization/blob/master/interior-mutability-list.md and the discussion in https://internals.rust-lang.org/t/parallelizing-rustc-using-rayon/6606/24

[2018-03-09 19:36] mark-i-m commented on #78
@est31 Would you mind adding this to the "Debugging the compiler" chapter?

[2018-03-09 19:39] mark-i-m commented on #80
I have actually always wanted better ctags support for rust... I once tried to write such a utility from scratch, but it turns out to be a bit hard without something like `libsyntax 2.0`.

[2018-03-10 12:50] nikomatsakis opened #82 "deployment stopped working"
I don't really know why but [travis is failing](https://travis-ci.org/rust-lang-nursery/rustc-guide/jobs/351677551#L548), giving a kind of generic message:

Bah humbug. I hate this stuff. Anybody got a clue? I can give permissions as needed if think you know how to fix =)

[2018-03-10 12:51] nikomatsakis commented on #80
Yes... the current one is "decent enough" but definitely limited. I've contemplated making it work via rustc output (or save analysis or something) but usually before getting started I realize I should do something else.

[2018-03-10 17:00] ehuss commented on #82
Travis released a new version of their deployment tool (dpl) and it broke a lot of repositories.  One of the Travis employees has a workaround (see travis-ci/travis-ci#9312).  I would suspect they will roll out a fix very soon.

[2018-03-12 19:23] nikomatsakis opened #84 "./x.py check"
So I've recently discovered that `./x.py check` is actually *really dang fast* -- we should add a note about it in the "how to build compiler" section. It's in particular very useful when you're doing some kind of "type-based refactoring", like renaming a method, or changing the signature of some function.

[2018-03-12 22:41] #74 closed

[2018-03-12 22:48] mark-i-m commented on #82
It looks like it's working again.

[2018-03-12 22:48] #82 closed

[2018-03-13 15:42] nikomatsakis opened #87 "advice for debugging incremental compilation hashing failures etc"
Over in https://github.com/rust-lang/rust/issues/47935, @michaelwoerister wrote:

I think we ought o move some of those sections over, and/or add some new material on how to debug incremental compilation failures. This is always something I have to kind of rediscover.

[2018-03-13 15:42] nikomatsakis commented on #87
@michaelwoerister, think you'd be up for that? =)

[2018-03-13 15:49] michaelwoerister commented on #87
It depends on how much of a priority it is `:)`

[2018-03-13 16:30] michaelwoerister opened #88 "Profiling the Compiler"
It would be nice to have a section on how to profile the compiler, what tools to use, how to invoke them, and maybe a section on how to interpret results.

[2018-03-13 20:57] mark-i-m commented on #87
Honestly, I was just going to create a new subchapter and copy/paste those two sections into it. But if you're interested in doing something more interesting with those sections, that would be great!

[2018-03-14 10:28] michaelwoerister opened #89 "Codegen: LLVM IR, Monomorphization, Codegen Units, Partitioning, Symbol Linkage and Visibility"
Quite a few complicated things are going on during trans. Would be great to have it documented.

- [ ] Generating LLVM IR
    - [ ] Monomorphization
- [ ] Codegen Units
- [ ] Partitioning
- [ ] Symbol Linkage and Visibiliy

[2018-03-14 10:30] michaelwoerister commented on #89
To clarify: the four topics in the title are relatively tightly coupled so it makes sense to treat them together.

[2018-03-15 02:30] mark-i-m commented on #89
Definitely agree. Trans is one of the bigger missing chapters (along with type-checking, MIR construction, etc).

cc #6

[2018-03-15 23:57] Michael-F-Bryan opened #91 "Document common manipulations and operations"
While playing around using rustc internals as a library I found it was pretty difficult to discover how to do a bunch of "common" operations. We might be able to improve discoverability by documenting these in an appendix.

Off the top of my head, it'd be nice to know how to:

- Get the fully qualified name of a type given its HIR representation and location (e.g. `c_char` -> `libc::c_char` or `st

[2018-03-15 23:58] Michael-F-Bryan commented on #91
I'd be happy to write this up but I'll probably need a little guidance because I only know how to do the second thing (find `DefId`) at the moment.

[2018-03-16 01:48] mark-i-m commented on #91
I don't even know enough to know what is a common operation, but something like that would definitely be helpful. Something like a cookbook appendix...

[2018-03-16 04:40] Michael-F-Bryan commented on #91
To be honest, I was planning to use it as more of a "post questions here if Michael can't figure out how to do something seemingly simple" kind of thing.

For example, I *know* we do name resolution before `rustc_driver` fires the `after_analysis` callback, yet for the life of me I can't figure out how to get the fully qualified name for all a type. For context, I need to convert something like `f

[2018-03-16 15:32] nikomatsakis commented on #87
@mark-i-m starting with that seems ok =)

[2018-03-16 16:49] mark-i-m commented on #87
Ok, created #92 which is pretty much a straight copy/paste.

[2018-03-16 17:48] mark-i-m commented on #2
After #92 this will be done :tada:

[2018-03-19 13:17] nikomatsakis opened #94 "document where various bits of rust are desugared"
It's been mentioned to me that it would be useful to have a list of all the "desugarings" that occur during the compilation process. In particular, which bits of Rust disappear during e.g. HIR conversion, HAIR conversion, MIR conversion. This seems like an ideal thing to mentor out as a kind of quest issue.

So here's the deal: there is a check list below. If one of those interests you, claim it b

[2018-03-19 16:13] nikomatsakis opened #97 "chapter explaining how `Kind` works"
We don't explain `Kind` at all!

cc @varkor -- want to write it =)

[2018-03-19 20:55] nikomatsakis opened #98 "documentation about feature gates"
I find myself referencing this forge article a lot:

~https://forge.rust-lang.org/feature-guide.html~
EDIT (mark-i-m): this moved to https://rust-lang.github.io/rustc-guide/implementing_new_features.html

It's ok, but not great. Some things I would like to see covered in rustc-guide instead (and then perhaps remove that article):

- [x] how to add a feature gate in the code
  - [x] how to add a te

[2018-03-19 21:08] varkor commented on #97
I can try to get around to writing something up :+1:

[2018-03-20 13:31] nikomatsakis commented on #97
@varkor you rock

[2018-03-20 14:46] mark-i-m commented on #2
:tada:

[2018-03-20 14:46] #2 closed

[2018-03-21 22:41] mark-i-m commented on #98
Also, how to stabilize. And then maybe we can get rid of that forge article too...

[2018-03-25 23:47] Michael-F-Bryan opened #100 "Link to internal rustdocs"
When rust-lang/rust-central-station#40 lands we'll have a stable location which contains internal API documentation (i.e. the equivalent of `./x.py doc` with `crate-docs = true`) :tada:

This means when referring to a particular struct or function we'll be able too link to its API docs instead of linking to the original source file and hoping for the best.

Once that PR is merged we'll need to:

-

[2018-03-27 01:28] #42 closed

[2018-03-27 19:59] phansch opened #104 "More information on attributes"
I recently wrote a clippy lint that deals with attributes (mostly outer attributes) and found very little information on how they are implemented. Most of the information I gathered through PR comments and issues in the rust repo. The [reference](https://doc.rust-lang.org/reference/attributes.html) only explains how to use the different attributes.

Do you think it would make sense to have a chapt

[2018-03-27 23:16] mark-i-m commented on #104
I think it would be great to add this! I personally have often wondered how attributes work.

Do you happen to know how they interact with custom drive and proc macros?

[2018-03-27 23:47] petrochenkov commented on #104
The implementation history for libsyntax(_ext) looked roughly like "let's urgently patch things up for 1.0" -> "let's urgently implement mostly working macros 1.1" -> "let's attract new contributors to tick some boxes for the proc macros rfc here and there", and soon "let's urgently implement mostly working macros 1.2 and also attributes for tools" all while keeping the old infrastructure for lega

[2018-03-28 17:36] mark-i-m commented on #104
Do you think that libsyntax2.0 will replace all of this choas (if it happens)?

[2018-03-28 20:39] nagisa commented on #104
There will be discussion about that on friday @ all hands.

cc @matklad I hear you organise discussion for that?

[2018-03-29 00:39] matklad commented on #104
@nagisa yep! And this attribute processing actually a nice illustration for he lossy nature of the current libsyntax.  However libsyntax 2 is a hypothetical far away future, so it seems to me that the more actionable item here is to try to refactor the current attribute handling?

[2018-03-29 07:00] rajcspsg commented on #100
@Michael-F-Bryan  - I'm new to rust. Since I see this is Easy tagged issue shall I take this issue?

[2018-03-30 06:44] Michael-F-Bryan commented on #100
@rajcspsg if you'd like to give it a go that's fine with me, I'm also happy to mentor or answer any questions you encounter while trying to tick this issue off :grin:

We'll need to wait for rust-lang/rust-central-station#40 to be fully merged, but after that it should be relatively straightforward. If you subscribe to that issue, GitHub should send you notifications when it is resolved.

[2018-03-30 07:21] rajcspsg commented on #100
@Michael-F-Bryan _ Thanks for mentoring me and I'm happy to take your guidance as I'm new to rust.
While we are waiting for related PR to be merged, could you please provide the file which needs to be updated with details.

[2018-03-30 08:25] 3442853561 opened #106 "I can not get the hir-tree"
When I:
[code]

I got:
[code]

[2018-03-30 09:15] pnkfelix commented on #106
It seems to work for me, e.g.:

[code]

What version of `cargo` and `rustc` are you seeing this on?

[2018-03-30 09:25] 3442853561 commented on #106
Thanks

[2018-03-30 09:26] 3442853561 commented on #106
And how can I let hir output in file

[2018-03-31 11:41] Michael-F-Bryan commented on #100
It should mainly be a case of looking for all links to source files in the `rust-lang/rust` repo and replacing them with links to the corresponding API docs.

The easiest way would be to use a tool like grep or ripgrep and search for anything with "http" in it.

[code]

[2018-03-31 16:46] mark-i-m commented on #100
To clarify, you are looking for links in _this_ repo _to_ the other repo :)

[2018-04-01 22:55] rajcspsg commented on #100
Thanks for the suggestion @mark-i-m @Michael-F-Bryan.

When I searched for [here](https://doc.rust-lang.org/nightly-rustc/) for `rustc_driver::CompileState`, I end up at [stable page documentation](https://doc.rust-lang.org/1.1.0/rustc_driver/driver/struct.CompileState.html) of rustc_driver version 1.1.0.

I should have get the nightly documentation, correct?

[2018-04-02 03:54] 3442853561 commented on #106
@pnkfelix
cargo 1.26.0-nightly

[2018-04-02 18:33] mark-i-m commented on #100
@rajcspsg IIUC, the new docs should be available tomorrow after the next nightly is released.

[2018-04-02 19:13] balajisivaraman commented on #94
@nikomatsakis, I'd be interested in picking this up. I'll go through the current guide, and then get started with adding this, if that's OK.

[2018-04-02 20:08] mark-i-m commented on #106
Re: getting the output in a file. I imagine these easiest way is to just pipe it...

[2018-04-02 20:16] rajcspsg commented on #100
Thanks @Michael-F-Bryan @mark-i-m.
I've 2 questions on searching the documentation.

1. I searched for DocContext mentioned in this [link](https://github.com/rust-lang-nursery/rustc-guide/blob/master/src/appendix-code-index.md)  using keyword `rustdoc::core` in  [DuckDuckGo](https://duckduckgo.com/) and get this [result](https://doc.rust-lang.org/1.1.0/rustdoc/core/index.html). But when I searched

[2018-04-02 22:34] rajcspsg commented on #100
@mark-i-m - Sure. I will try to fix 404 errors in github as well. I will wait for a day till document release and will let you know if I need any help.

[2018-04-04 03:57] Michael-F-Bryan commented on #100
@rajcspsg the documentation is [now live] :tada:

[now live]: https://doc.rust-lang.org/nightly/nightly-rustc/rustc/

[2018-04-04 12:14] pnkfelix commented on #106
@3442853561 do you have a commit number for your version of cargo? (See for example the transcript I put into [my comment above](https://github.com/rust-lang-nursery/rustc-guide/issues/106#issuecomment-377485316).)

[2018-04-04 16:11] rajcspsg commented on #100
Thanks @Michael-F-Bryan @mark-i-m I will work on this and submit PR.

[2018-04-04 18:01] rajcspsg commented on #100
@Michael-F-Bryan @mark-i-m

I've created PR for this documentation link. But I couldn't find link for below items.
Could you please help me.

| s# | FileName                  | github Link                                                                               | line# |
|----|---------------------------|-----------------------------------------------------------------------------------------

[2018-04-04 22:33] mark-i-m opened #109 "Links don't work on github"
as pointed out in https://github.com/rust-lang-nursery/rustc-guide/issues/100#issuecomment-378031147

We could make all of the links in the book absolute (always point to the guide) or we could leave them relative and just tell people to use the hosted mdbook version, rather than github... My personal leaning is towards the latter because it seems cleaner (easier to move the book later, easier to

[2018-04-04 22:35] mark-i-m commented on #100
Thanks! Nice job :)

Hmm... I can't find those either. I asked a followup on https://github.com/rust-lang/rust-central-station/pull/40

Do you mean with respect to these links that you mentioned before?

These should be links to [hosted version of the rustc guide](https://rust-lang-nursery.github.io/rustc-guide/) itself. I don't think we were expecting anyone to use the github interface to view th

[2018-04-04 22:36] mark-i-m commented on #100
Also, I will try to look at the PR soon

[2018-04-04 22:43] mark-i-m commented on #100
Ok, that was fast.

The reason those items you [listed]() are not in the hosted docs is that they are private, whereas rustdoc generates documentation for only public items by default. There is active discussion on generating docs for these private items in https://github.com/rust-lang/rust/issues/29893.

[2018-04-04 23:53] rajcspsg commented on #100
sure Thanks @mark-i-m !!!

[2018-04-05 08:11] demurgos commented on #16
Thank you for your work on this guide, it's really helpful.
I am currently trying to understand how name resolution works with cycles between types so it would be great if this was expanded. I think it relates to the following parts:

[2018-04-05 12:39] steveklabnik commented on #109
This is always tricky with things like this. Once the guide makes its way into the "real" documentation, we'd want to leave them relative, so that things work offline.

This does make them not work on github, but that's effectively an impossible problem.

[2018-04-05 13:26] nikomatsakis commented on #11
I just noticed that there is a page on forge on this topic:

https://forge.rust-lang.org/debugging.html

So, as a start, moving that content into the rustc-guide and removing the page from forge would be easy enough!

[2018-04-06 11:28] samWson commented on #48
I've found a good definition of _Fat Pointers_ in the Programming Rust book. I can enter that in the glossary this weekend if it's OK with you team.

[2018-04-06 12:11] steveklabnik commented on #48
We've been using "double pointer" or "wide pointer" as well; might be worth considering as "double pointer" at least is significantly more descriptive, IMO.

[2018-04-06 12:16] rkruppe commented on #48
FWIW "double pointer" can also be read as "pointer-to-pointer" (and I've definitely seen it used in that sense in other languages). Besides, *double* becomes inaccurate with custom DSTs (which can add more data than just one word to the pointer). One precise and universal phrase is "pointer with metadata" but that's probably a bit too verbose.

[2018-04-06 17:07] cg-cnu commented on #11
Hey @nikomatsakis A rust beginner here and first time contributor to rust project. Might need some help in making the PR, but definitely interested in putting the time and working on it. Can I work on it 🙂

[2018-04-06 17:30] rajcspsg commented on #100
@mark-i-m
Thanks for accepting my PR :)
sure I will work on the pending items tonight and submit PR.
I will should be able to find remaining items in same nightly documentation search as others, correct?

[2018-04-06 20:10] varkor commented on #97
I've started writing something, but it's a little minimal at the moment: what sort of things would you expect/want to see in such a chapter?

[2018-04-07 00:57] rajcspsg commented on #100
Hey @mark-i-m

I'm still not able to find documentation for below items.

| s#| FileName                  | github Link                                                                               | line# |
|---|---------------------------|-------------------------------------------------------------------------------------------|-------|
| 1 | [compiletest.md](https://github.com/rust-lang-nurser

[2018-04-07 01:26] mark-i-m commented on #100
Thanks :)

I think anything in src/tools is not part of the compiler proper, so it will not be documented. Likewise, anything in src/test is a test, rather than part of the compiler itself, so those will not be documented either. I think we can leave these links for now.

For (5), I think we can use the following link: https://doc.rust-lang.org/nightly/nightly-rustc/rustc_driver/index.html

[2018-04-07 01:35] rajcspsg commented on #100
@mark-i-m - I've updated the documentation link for https://github.com/rust-lang/rust/tree/master/src/librustc_driver/lib.rs in the PR.

[2018-04-07 04:05] samWson commented on #48
Is this a case with of several phrases with the same meaning? Or are these the names of different things?

[2018-04-07 04:26] mark-i-m commented on #48
I believe "fat pointer", "wide pointer", and "double pointer" are all intended to be synonyms.

[2018-04-07 06:54] samWson commented on #48
I can enter this in the glossary as a single entry e.g.

Term | Meaning
------|----------------------------------------------------
Fat pointer, wide pointer, double pointer | "definition goes here"

Or I could make them separate entries, each referencing a single definition:

Term | Meaning
------|-----------------
Fat pointer | Two word pointer with address and metadata
Wide pointer | see fat po

[2018-04-07 11:56] Michael-F-Bryan commented on #48
@samWson I think the second option is best. "Fat pointer" is by far the most popular name for the concept of a pointer with some extra "metadata" attached, so if people want to lookup the term "wide pointer" we should redirect them to the canonical term.

[2018-04-07 14:15] mark-i-m commented on #48
Perhaps we could also add that they are used for dyn Trait and slices?

[2018-04-08 02:09] samWson commented on #48
@mark-i-m Of course. I'll put in a longer definition in the glossary. I only omitted it in my comment for brevity. I'll have a PR ready soon.

[2018-04-08 02:37] samWson commented on #48
Just submitted pull request #112 . Let me know what you think.

[2018-04-10 02:04] mark-i-m commented on #104
@phansch Did you still want to take a stab at this?

[2018-04-10 02:08] mark-i-m commented on #35
@Michael-F-Bryan Ping

(sorry to bug you again)

[2018-04-10 02:08] mark-i-m commented on #15
@federicomenaquintero ping

(sorry to bug you again)

[2018-04-10 05:42] phansch commented on #104
@mark-i-m Sorry I'm currently not in the position to dig into this :/

[2018-04-11 04:02] mark-i-m commented on #16
Did you ever find out anything about this?

[2018-04-11 15:11] vorner commented on #16
If it is question aimed at me, then no. Whatever I discovered through the code has been put into the text.

[2018-04-11 15:52] mark-i-m commented on #16
Thanks @vorner :) I actually meant the question for @demurgos

[2018-04-11 21:09] rajcspsg commented on #100
@mark-i-m @Michael-F-Bryan I think still 2 below items are yet to completed in this issue, correct?
 Update the "contributing" section of the README appropriately
 Update the "How to build the compiler and run what you built" to mention building docs and where they can be found online?

[2018-04-13 02:24] rajcspsg commented on #84
@nikomatsakis @mark-i-m - can I take this easy issue?

[2018-04-13 02:29] mark-i-m commented on #84
Go for it :)

[2018-04-13 02:32] mark-i-m commented on #100
@rajcspsg Yes, that's correct

[2018-04-13 02:38] rajcspsg commented on #100
@mark-i-m i may need some pointers to start with. What should be updated in contributing section?

[2018-04-13 02:50] mark-i-m commented on #100
Perhaps we can start a "Contributor Tips" section at the end? The first tip can be something like "Whenever referring to a part of the rustc source code, please add a link to the [rustc rustdocs](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/). Since these links are checked, it will help us discover when something in the compiler changes and the guide needs to be updated."

[2018-04-13 02:51] mark-i-m commented on #100
@Michael-F-Bryan did you have something specific in mind?

[2018-04-17 00:58] rajcspsg commented on #84
@nikomatsakis - I've updated the [this](https://github.com/rust-lang-nursery/rustc-guide/blob/master/src/how-to-build-and-run.md) file correct?
Also, I see the document has already something related to `x.py` build command for rustc.

[2018-04-17 01:03] rajcspsg commented on #84
@nikomatsakis @mark-i-m - I see documentation related to https://forge.rust-lang.org/x-py.html.
Do I've to move the contents here as mentioned in this [issue 98](https://github.com/rust-lang-nursery/rustc-guide/issues/98)?

[2018-04-17 10:01] frewsxcv opened #115 "Expand descriptions of the various compilation stages"
This is what we currently have: https://github.com/rust-lang-nursery/rustc-guide/blob/46864ca9714707f18e658afba9d2ea62afbe2374/src/how-to-build-and-run.md#running-xpy-and-building-a-stage1-compiler

There's a relevant thread on reddit about what these stages all mean and I think the descriptions in [this answer](https://www.reddit.com/r/rust/comments/8covpo/why_does_rustc_compile_itself_three_time

[2018-04-18 19:09] ehsanmok commented on #115
I am interested in this as my very first PR. I'll prepare it over this weekend.

[2018-04-19 16:07] 3442853561 opened #116 "there is some misunderstood parts"
In https://github.com/rust-lang-nursery/rustc-guide/blob/master/src/hir.md there is a sentence about "It is a desugared version of the abstract syntax tree"

I am not a native English speaker. So I just understand it in my mother language. When I tried to translate this sentence into Chinese which is my mother language. This looks like saying that HIR is a kind of abstract syntax tree.

If this se

[2018-04-20 05:12] mark-i-m commented on #84
Also, I see the document has already something related to x.py build command for rustc.

Yep, that's the right file. It already had content on some of the other x.py commands, but not for `check`.

Do I've to move the contents here as mentioned in this issue 98?

Hmm... I think it would be good to do, but not in this PR. I also think it is distinct from #98... Could you open a new issue for it?

[2018-04-20 05:14] mark-i-m commented on #116
My understanding matches yours. The HIR is like an AST but with all the syntactic sugar removed.

[2018-04-20 09:09] nagisa commented on #116
Definitely not all sugar is removed when lowering to HIR. What differs
between the two is the purpose - AST must faithfully represent code,
whereas HIR does not.

On Fri, Apr 20, 2018, 08:17 Who? Me?! <notifications@github.com> wrote:

[2018-04-20 16:44] mark-i-m commented on #116
@nagisa Thanks for the clarification :)

[2018-04-21 15:58] Michael-F-Bryan commented on #116
From what I've gathered when trying to use the compiler internals, you could say a [`hir::Crate`] is a more compiler-friendly representation of the AST where we've changed the precise way things are stored and desugared some bits to make analysis easier.

[`hir::Crate`]: https://doc.rust-lang.org/nightly/nightly-rustc/rustc/hir/struct.Crate.html

[2018-04-25 12:21] OnlyLys opened #118 "'print this book' button doesn't work"
Hi, I believe the 'print this book' button in the top right corner of the documentation doesn't work. It only prints a screenshot of the current page instead of producing a concatenated document of all the pages in the book.

[2018-04-25 15:29] steveklabnik commented on #118
I seem to get a whole page. This also may be an mdbook bug, not a rustc-guide bug.

[2018-04-25 17:04] mark-i-m commented on #118
@Michael-F-Bryan Do you happen to know more about this?

[2018-04-26 19:46] phansch commented on #118
This seems to happen at least in Firefox Nightly 61 and Firefox 59.0.2. (I printed to a PDF)

[2018-05-02 15:04] QuietMisdreavus opened #120 "add notes about `rustdoc-ui` and `rustdoc-js` tests"
While reviewing https://github.com/rust-lang/rust/pull/50302 i noticed that these test folders aren't mentioned in the testing chapter at all. Since the linked PR adds a special configuration flag to the `rustdoc-js` tests, it would be worth mentioning it in the testing guide.

[2018-05-05 17:44] alexreg opened #122 "Finish chapters on macro expansion?"
Could we get someone to do this? I'm not sure who would be most appropriate. @jseyfried knows it better than most, but he's been absent lately.

[2018-05-06 11:55] nakulcg commented on #94
@nikomatsakis I was planning to document with 3 points for every construct that is desugared
* which expression are they desugared to and what are their contents e.g. if let to match
* equivalent rust code - what would be nice to do here, document the corresponding desugared Rust code?or do we want to actually highlight the hir code inside rustc which does this?
* special mechanisms, unfortunately

[2018-05-06 12:11] kennytm opened #123 ""Standard library (libstd, liballoc, libcore, libtest) guide""
Some main points raised by rust-lang/rust#50466:

* How to build and test the library without needing to rebuild the compiler every time.

    * [ ] **developing from stage0**: one could use `./x.py test --stage 0 --no-doc src/libstd` to quickly build and test the standard library, if features from a pre-built compiler is sufficient.
    * [ ] **developing from stage1** (e.g. a new intrinsic is ad

[2018-05-06 18:47] mark-i-m commented on #122
I believe @petrochenkov and @nrc are also really knowledgeable about the hygiene parts.

[2018-05-06 19:45] alexreg commented on #122
Yep, you're right, @petrochenkov is for sure. Haven't interacted with @nrc about it, but I'll trust you on it!

[2018-05-08 07:37] gnzlbg opened #124 "How to only run the tidy script?"
The [Formatting and tidy script](https://rust-lang-nursery.github.io/rustc-guide/conventions.html#formatting-and-the-tidy-script) section states:

But it should also state how to run it in isolation.

[2018-05-08 14:57] #124 closed

[2018-05-08 17:28] mark-i-m commented on #84
Ping @rajcspsg Any updates?

[2018-05-08 17:29] mark-i-m commented on #97
Ping @nikomatsakis ^^^

[2018-05-08 17:30] balajisivaraman commented on #94
@mark-i-m, Unfortunately no, sorry. I'm still in the early stages of going through the current Rustc Guide, while working on a small [fix](https://github.com/rust-lang/rust/issues/49391) to the compiler itself. It's going to be some time before I'm capable enough of actually making this change. If we have a deadline on this, someone else can pick it up.

Apologies again!

[2018-05-08 17:31] mark-i-m commented on #94
@balajisivaraman No worries :)

[2018-05-08 17:32] mark-i-m commented on #106
Ping @3442853561 Was this resolved?

[2018-05-08 17:33] mark-i-m commented on #115
Thanks @frewsxcv and @ehsanmok :)

[2018-05-08 17:33] #115 closed

[2018-05-08 17:48] mark-i-m commented on #122
@federicomenaquintero had also mentioned in #15 that they might try to write something.

[2018-05-10 12:17] rajcspsg commented on #84
@mark-i-m Sorry for delay. I didn't noticed when you 👍 my comment.
I've created PR for this issue https://github.com/rust-lang-nursery/rustc-guide/pull/129.

[2018-05-10 12:22] rajcspsg opened #130 "Move the documentation related to ./x.py from https://forge.rust-lang.org"
As per discussion https://github.com/rust-lang-nursery/rustc-guide/issues/84#issuecomment-382978810 create a new documentation for `./x.py`.

Copy the contents from link https://forge.rust-lang.org/x-py.html into the new file.

[2018-05-10 12:43] #118 closed, assigned to nobody

[2018-05-10 14:39] mark-i-m commented on #84
@rajcspsg Thanks!

[2018-05-10 14:39] #84 closed

[2018-05-10 14:43] mark-i-m commented on #130
It would be good to systematically move over relevant stuff from there. A PR on this repo should probably be accompanied by a PR on https://github.com/rust-lang-nursery/rust-forge

[2018-05-10 14:43] mark-i-m commented on #130
@rajcspsg Did you want to work on this?

[2018-05-11 11:36] Michael-F-Bryan commented on #100
Oops, looks like I missed this somehow!

I was just thinking we should mention in the contributor guide that the internal API docs are available online and to link to them where possible. The comment you made sounds pretty good.

[2018-05-12 20:04] #116 closed

[2018-05-13 09:43] rajcspsg commented on #130
@mark-i-m - my pleasure :)
I've to copy the [x-py.md](https://github.com/rust-lang-nursery/rust-forge/blob/master/x-py.md) correct?

[2018-05-14 00:23] mark-i-m commented on #130
I think that would be a great start. Some of the things on the forge page are already in the rustc-guide (https://rust-lang-nursery.github.io/rustc-guide/how-to-build-and-run.html), so we should try to avoid duplicating content.  I think we can add the content from the forge page to the existing chapter in the guide. (TBH, I haven't read the forge page, but let me know if you get stuck :) )

[2018-05-14 00:34] mark-i-m opened #133 "Move relevant content from the forge"
Currently, the forge has a lot of useful content that could be moved over.

It would be good to move each of these over to the relevant part of the rustc guide and delete the corresponding forge page (by making a PR on https://github.com/rust-lang-nursery/rust-forge).

- [x] x.py: https://github.com/rust-lang-nursery/rust-forge/blob/master/x-py.md (#130)
- [x] Debugging: https://github.com/rust-la

[2018-05-14 10:32] gnzlbg commented on #123
You forgot liballoc, but yeah, I think this book should have a section about it somewhere. I just landed here to report that https://rust-lang-nursery.github.io/rustc-guide/tests/running.html does not show how to run `liballoc` tests

[2018-05-14 15:53] gnzlbg commented on #123
I know nothing and must be doing everything wrong:

* it takes forever to build `liballoc` for me (~1 h)
* it takes forever to `edit-compile-debug` `liballoc` for me
* running before/after benchmarks takes forever because I need to build it twice, and it takes 2x forever (~2 h)
*  I can't have two rustc folders because each folder takes ~20-30 Gb of HDD space, etc

So I am more in the avoid touchi

[2018-05-14 15:58] gnzlbg commented on #123
For example, I just wanted to run the `vec` benchmarks of the `liballoc` crate, and `./x.py bench -h` doesn't return anything meaningful. So I don't even know how to run only the vec benchmarks there.

[2018-05-14 16:25] mark-i-m commented on #123
Hmm... that's interesting. I do a lot of no_std stuff, and I don't recall liballoc or libcore taking more than a couple of minutes to compile (i5-7500T, 8GB RAM, SSD drive). I'm totally guessing, but

- Are you using a network filesystem? That is _really_ slow in my experience.
- What compiler debugging options turned on in your config toml? I've seen some of these blow up compile time. And if you

[2018-05-14 16:28] gnzlbg commented on #123
I have an SSD, I am running, for example, `./x.py bench src/liballoc`, and that compiles the whole rustc first in release mode (which duplicates my hdd space usage) and then runs all benchmarks, instead of only the ones I am interested about.

I work on both, but I am willing to have two different `config.toml` files for when working only on the library. This is my config.toml: https://gist.github

[2018-05-14 17:02] mark-i-m commented on #123
I think this kind of makes sense. Since the compiler also uses these libraries, if you change one, you are changing a dependency of the compiler, which could in theory change the performance of the compiler or the code it produces.

Perhaps using `--stage 1` might be good enough for quick prototyping? @kennytm Is that the purpose of the flags you mentioned in the OP?

IIRC, when I turned on rust.d

[2018-05-18 21:46] varkor commented on #16
It says ribs were explained as part of #21, but that doesn't seem to be the case. I can't see them mentioned anywhere, including the glossary.

[2018-05-18 21:48] varkor commented on #48
"Rib" and "upvar" should probably be mentioned too.

[2018-05-19 00:10] mark-i-m commented on #16
@varkor Sorry, should be #22. Updated above. Also, rib should probably be added the glossary.

IIRC each rib corresponds to a scope or namespace. For example, there is a rib for global names, a rib for items declared in module `foo`, a rib for names in function `foo::bar`, and so on...

[2018-05-19 00:14] mark-i-m commented on #48
Yeah, upvar is one that had mystified me too...

[2018-05-21 18:23] nikomatsakis opened #137 "tracking issue for documenting chalk and the trait system"
We have some great docs on the trait system already (if I do say so myself 😉) but there's lots of room for improvement. This issue exists to track ideas and try to stay organized.

- [x] Update rustc guide with new rules for GATs (cc @tmandry, @scalexm)

[2018-05-22 11:19] alexcameron89 opened #138 "Menu does not show up on Mobile"
## Problem
When visiting the site on my phone, I cannot see the menu. This makes it hard to progress any further from the initial link to the guides.

I'm confused on what the problem is since building it locally shows the menu. I've compared the versions of MDBook locally and in CI, and they are the same.

If someone has an idea or some direction on how to fix this issue, I am happy to open a Pul

[2018-05-22 11:42] ehuss commented on #138
My suspicion is that this is due to rust-lang-nursery/mdBook#697.

[2018-05-22 15:49] mark-i-m commented on #138
I can confirm. I also noticed this with the [edition guide](https://github.com/rust-lang-nursery/edition-guide), so I think this is a problem with mdbook.

Perhaps @Michael-F-Bryan knows?

[2018-05-23 09:49] nikomatsakis opened #141 "describe --bless in the testing section"
I don't think we talk about the new `--bless` option in the testing section, do we? You can pass it to `./x.py test` and it will update the UI reference files. This replaces the old script we used to run.

We should also talk about rustfix.

[2018-05-23 20:39] sunjay opened #144 "Website is down"
The URL: https://rust-lang-nursery.github.io/rustc-guide/

Produces:
![image](https://user-images.githubusercontent.com/530939/40449844-aee2bb04-5e8e-11e8-9a3c-34eb45a39f06.png)

Maybe someone changed something in the settings of the repo? I would check, but I don't have access.

[2018-05-23 20:50] mark-i-m commented on #144
Hmm... that might have been me. I fat-fingered the delete-branch button earlier and restored the branch, but maybe github didn't catch on? (It's a good thing the `master` branch is protected!)

[2018-05-23 20:50] mark-i-m commented on #144
I just pushed a dummy commit to the gh-pages branch in hopes of spurring github to rerender...

[2018-05-23 20:52] mark-i-m commented on #144
@nikomatsakis Could you confirm that the GH pages is still enabled?

[2018-05-23 20:52] sunjay commented on #144
You may have to reconfigure it in the settings if the branch was deleted.

[2018-05-23 20:53] mark-i-m commented on #144
Oh, :disappointed:

I don't have permissions to fiddle with settings...

[2018-05-23 20:58] sunjay commented on #144
@nikomatsakis confirmed that the right branch is enabled, but it appears to be stuck building the site. I'm going to contact support.

[2018-05-23 21:19] mark-i-m commented on #144
Thanks for investigating @sunjay

[2018-05-24 15:03] sunjay commented on #144
I contacted Github support and the site is back up! Here's their reply:

So hopefully that clears up what happened.

[2018-05-24 15:10] mark-i-m commented on #144
Thanks @sunjay !

[2018-05-24 15:10] #144 closed

[2018-05-29 20:56] #141 closed

[2018-05-30 16:29] 0xAC44 commented on #138
As a temporary workaround, I'm able to open the menu by tapping where it's supposed to be, even though it's invisible.

[2018-06-04 04:04] mark-i-m commented on #48
Is an `upvar` basically a variable that is captured by a closure?

[2018-06-04 04:14] mark-i-m commented on #91
How to get a string from a Span (e.g. for printing errors)... Use `codemap.span_to_snippet(span)`

[2018-06-04 04:15] mark-i-m commented on #97
Ping @nikomatsakis ^^^ ?

[2018-06-04 04:18] mark-i-m commented on #100
Ping @rajcspsg Are you still interested in working on this?

[2018-06-04 04:20] mark-i-m commented on #106
Going to close this to keep things tidy, but feel free to reopen!

[2018-06-04 04:20] #106 closed

[2018-06-04 09:19] varkor commented on #48
DST and ZST might also be worth including.

[2018-06-05 00:44] mark-i-m commented on #48
@varkor added in #152

[2018-06-05 03:18] #10 closed

[2018-06-06 03:06] #80 closed

[2018-07-04 11:01] gnzlbg opened #160 "the search does not work, the latest version of mdBook supports it"

[2018-07-04 11:03] gnzlbg commented on #100
I actually have had a lot of trouble looking for the API docs of rustc, they should at least be linked in the readme, or have a section somewhere with a link to the docs. FWIW, this is the link:  https://doc.rust-lang.org/nightly/nightly-rustc/rustc/

[2018-07-04 21:13] mark-i-m commented on #100
I agree. The docs are surprisingly hard to Google.

[2018-07-04 22:02] mark-i-m commented on #160
related to #138

[2018-07-05 14:12] gnzlbg opened #162 "Add notes about how to extract LLVM IR from rustc"
I've posted some notes here: https://github.com/rust-lang/rust/issues/50422#issuecomment-402162648

[2018-07-06 02:57] mark-i-m opened #163 "Rust Humor index"
Rust is ... funny :rofl:

This stuff is perhaps worth an appendix?

- Weird exprs test: https://github.com/rust-lang/rust/blob/master/src/test/run-pass/weird-exprs.rs
- Ferris Rap: http://fitzgeraldnick.com/2018/12/13/rust-raps.html
- The Genesis of Generic Germination: https://github.com/rust-lang/rust/pull/53645#issue-210543221
- The Bastion of the Turbofish test: https://github.com/rust-lang/ru

[2018-07-10 02:35] #138 closed

[2018-07-10 02:35] #160 closed

[2018-07-11 02:35] #35 closed

[2018-07-12 02:22] mark-i-m commented on #137
Might be good to link to this talk by @sunjay somewhere: https://www.youtube.com/watch?v=rZqS4bLPL24

It's a great intro :)

[2018-07-17 01:52] #162 closed

[2018-07-18 19:32] sunjay opened #172 "Sidebar subsection titles are cut-off"
![image](https://user-images.githubusercontent.com/530939/42903381-84e14af4-8a86-11e8-9a46-1c62c1ff0324.png)

This screenshot shows 17.1.2 and 17.3.1, but there are several more subsection titles that are cut-off in the sidebar.

[2018-07-19 02:30] mark-i-m commented on #172
Can confirm. It was not doing this before. I will shorten the names.

[2018-07-19 03:00] sunjay commented on #172
Maybe the CSS could be adjusted to let long titles wrap to the next one? I think the second chapter title already does that. It just doesn't work in the subsections. That might be a better solution for different screen sizes too.

[2018-07-22 01:14] mark-i-m commented on #172
Hmm... I think this is more of an mdbook issue. The chapter list is generated automatically from `SUMMARY.md`.

I opened https://github.com/rust-lang-nursery/mdBook/issues/729

[2018-07-22 14:44] varkor commented on #48
It'd be good to explicitly define "item" too, as it's not immediately clear from the source exactly what things can be items.

[2018-07-25 02:15] mark-i-m commented on #172
It looks like this is fixed in https://github.com/rust-lang-nursery/mdBook/pull/732... I will keep this in until mdbook 0.1.9 is out.

[2018-07-30 18:59] orium opened #174 "Guide mentions trait evaluation (as part of selection), but does not explain it"

[2018-07-30 19:00] orium opened #175 "Explain how to benchmark the compiler"

[2018-07-31 01:56] djrenren opened #176 "Cover the expansion algorithm"
Namely the stuff going on in `libsyntax/expand.rs`. This will need to touch on things like NodeId's and the algorithm/machinery used to ensure everything is properly expanded and assigned ID's.

[2018-08-08 19:54] nikomatsakis opened #177 "region name resolution, early vs late bound lifetimes"
It'd be nice to make this concept obsolete someday. *Until then*, here is some discussion from Discord on the topic:

[region name resolution](https://discordapp.com/channels/442252698964721669/443113264751181824/476838477770784768), [early vs late](https://discordapp.com/channels/442252698964721669/443113264751181824/476839507983859727)

[2018-08-08 21:14] nikomatsakis opened #178 "document astconv"
At least write out a bit about what it does and why it is named what it is.

https://discordapp.com/channels/442252698964721669/443113264751181824/476859710558175262

[2018-08-10 20:33] nikomatsakis commented on #97
Argh, sorry =)

@varkor I think I would like to see:

- What is the purpose of `Kind`?
- How do I make a `Kind`?
- An example of using `kind.unpack()` works

Actually, some of that might be better as rustc-guide docs, tbh. Always a hard line to figure out where to draw.

[2018-08-10 20:34] nikomatsakis opened #180 "document MIR-based borrowck"
So much to talk about here!

Off the top of my head:

- Dataflow
  - MovePathIndex and that whole setup
- The MIR typeck
- Liveness
- Regions and SCC
- The outlives constraint

[2018-08-14 01:02] alexreg opened #181 "Typo nit"
https://rust-lang-nursery.github.io/rustc-guide/hir.html#hir-id

s/indixes/indexes

[2018-08-14 01:25] alexreg opened #182 "Add to definition of `P<T>` type to Appendix D: Code Index"
And why it's needed.

[2018-08-18 22:37] mark-i-m commented on #181
Thanks :)

Would you mind creating a PR for this?

[2018-08-18 22:47] alexreg commented on #181
I'm a bit busy with PRs to the Rust codebase and other things for now... I was planning on using this as a dump for issues until I or someone else gets around to doing a PR.

[2018-08-18 22:48] mark-i-m commented on #48
Thanks :)

@varkor would you mind opening a PR for that?

[2018-08-20 16:40] mark-i-m commented on #176
cc #15 #122

[2018-08-20 16:44] mark-i-m commented on #175
@nnethercote @wesleywiser Would either of you be able to write something for this?

[2018-08-20 18:09] orium commented on #174
In https://rust-lang-nursery.github.io/rustc-guide/traits/resolution.html#overview:

Maybe this "evaluating nested obligations" is the winnowing?  In that case it is already covered in https://rust-lang-nursery.github.io/rustc-guide/traits/resolution.html#winnowing-resolving-ambiguities, but it should be made clear that it is referring to winnowing.

[2018-08-20 20:29] alexreg opened #185 "Clarify that `'static` is only a "free" lifetime parameter because of coercion"
See [this section](https://rust-lang-nursery.github.io/rustc-guide/traits/canonicalization.html#canonicalizing-the-query), which is otherwise confusing.

This is my understanding, at least; someone correct me if I'm wrong.

[2018-08-20 20:32] alexreg commented on #182
@eddyb's definition of it is an "immutable `Box<T>`". I suppose it's needed just due to the nature of tree data structures?

[2018-08-20 22:37] nnethercote commented on #175
https://github.com/rust-lang-nursery/rustc-perf/blob/master/collector/README.md pretty much has this information. Maybe the guide should just point to that document?

[2018-08-20 22:43] eddyb commented on #182
It's not "needed", not to a large extent. The actual code has [(potentially-outdated) documentation](https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/libsyntax/ptr.rs#L11-L37).

[2018-08-20 22:57] alexreg commented on #182
@eddyb Well, heap allocation is surely needed, otherwise we'd have to deal with an immutable tree, and that would be very expensive during construction and later modification.

[2018-08-21 05:43] eddyb commented on #182
I mean as a separate concept from Box or anything else.

[2018-08-21 14:02] mark-i-m commented on #182
Sorry, I'm not sure I understand. We use P when we need an owned immutable pointer. We can't use &T because that is not owned and we can't use Box because it is not immutable. Is that correct?

[2018-08-21 14:59] alexreg commented on #182
@eddyb Right, fair.

@mark-i-m More or less, yes... @eddyb is saying that `P<>` doesn't really provide anything new over `Box<>` though – it's just a new-type with a immutability guarantee.

[2018-08-24 14:01] hcs64 opened #187 "Incremental build on Windows"
I've been trying the instructions at `how-to-build-and-run.md` with MSYS2 set up as in the main Rust readme, but at link time I get an "ordinal too large" error. I have been able to make more progress by removing the `-i` for incremental build from `./x.py build -i --stage 1 src/libstd`, this might be worth a brief mention.

(I'm not sure if that's the only change needed, I removed the `config.tom

[2018-08-24 15:29] mark-i-m commented on #187
@retep998 have you seen this error before? Any thoughts?

[2018-08-24 21:33] retep998 commented on #187
This is the first time I've heard about this specific issue. A similar issue I have seen is for `pc-windows-msvc` where people are running into `LINK : fatal error LNK1189: library limit of 65535 objects exceeded` because incremental and codegen units split up everything into so many object files that it exceeds limits in the linker. I don't know if they're the same issue, but it would be worth so

[2018-08-29 14:42] mark-i-m commented on #187
Hmm... Perhaps it would be good to open an issue on rust-lang/rust?

@hcs64 would you mind doing that and linking to this issue?

[2018-08-30 14:55] nikomatsakis opened #188 "document craterbot"
@pietroalbini has made it possible for compiler team members to use craterbot. We should document it!

There is a README:

https://github.com/rust-lang-nursery/crater/blob/master/docs/bot-usage.md

[2018-08-30 15:07] hcs64 commented on #187
There's already https://github.com/rust-lang/rust/issues/53014, so I'll just mention there it happens with pc-windows-gnu as well.

I'd brought it up here because this doc suggests `-i` and it'd have saved some time to avoid on Windows.

[2018-08-31 13:10] nikomatsakis commented on #185
I don't know what you mean. I think `'static` is "free" because it is bound outside of the whole program. I'm not sure what coercion has to do with it?

[2018-08-31 13:26] nikomatsakis commented on #100
Wow, there are a lot of comments here. I recently opened up https://github.com/rust-lang-nursery/rustc-guide/pull/189, which added links to the rustdoc for the HIR section. I was thinking we should open a fresh issue (this one is perhaps too cluttered) and make it into a "quest issue". Basically, make a checklist of modules that need work, and issue out a call to try to get people involved. Seems

[2018-08-31 15:07] alexreg commented on #185
Okay... I would consider the binding to be within the program still (but around everything the user writes). It should be clarified either way though.

[2018-08-31 15:49] rajcspsg commented on #100
@nikomatsakis @mark-i-m Hello guys. I'm really sorry that I'm out for a while due to few personal commitments. I think it would be good to open new issue for pending things for this PR.

[2018-08-31 18:05] mark-i-m commented on #100
I'll try to curate such a list and open a new issue sometime soon. I'm not sure if I will have time today, though. I will post back here soon.

[2018-09-01 04:03] #25 closed

[2018-09-04 03:04] tuyenpm9 opened #194 "/home/user/.zshenv:5: command not found: rustc"
Error as title: `/home/sugar/.zshenv:5: command not found: rustc`

I installed rust with `modify path: y` and checked with print `$path` and observed `/home/user/.cargo/bin` in first elemnt of `$path` array. So I have no clue why `rustc` is not found. Also tried to `add .cargo/bin` in `.zshrc` instead of `.zshenv` but also didn't work.

[2018-09-05 02:10] tuyenpm9 commented on #194
I asked in unix.stackexchange.com: `https://unix.stackexchange.com/q/466685/256195` and at the end even `modify path` is `yes` we still have to put `~./cargo/bin` in `path` in front of `RUST_SRC_PATH=$(rustc --print sysroot)/lib/rustlib/src/rust/src/` in `.zshenv`.

Note even `RUST_SRC_PATH` in `.zshrc` still error so maybe modify path at the begining of `.zshrc` or end of `.zshenv` is good idea.

[2018-09-05 02:10] #194 closed

[2018-09-05 14:02] mark-i-m commented on #194
Good to know. Thanks :)

[2018-09-05 14:29] mark-i-m commented on #185
I think the main point is that it is free wrt that particular query (because it is not bound within the query). I'm still not quite understanding where the confusion is coming from. What would you suggest as a fix?

[2018-09-05 14:30] mark-i-m commented on #187
Hmm i see what you mean. We should add a note with a link to this post where it suggests -i. Would you mind opening a PR?

[2018-09-05 15:52] alexreg commented on #185
It's certainly *not* free with that particular query if the binding scope is the whole program.

[2018-09-05 18:08] orium commented on #174
It doesn't seem to be just that.  `SelectionContext::select()` would return `F: Ord` as a nested obligation and it would be added to the obligation forest.

Trait evaluation seems to be something that tells you that some trait obligation holds for sure, or it never holds, or it might hold, etc:

https://github.com/rust-lang/rust/blob/727eabd68143e968d8826ee29b8ea7792d29fa96/src/librustc/traits/sel

[2018-09-05 23:54] alexreg commented on #185
@mark-i-m A variable is "bound" if it is captured by any parent quantifier.

[2018-09-07 14:49] mark-i-m commented on #130
Nice! I'll probably come around to this next week. Thanks :)

[2018-09-10 06:41] Havvy opened #198 "Document IDE Setup"
Basically, a chapter (appendix?) showing how common IDEs are set up to work on the Rust compiler.

[2018-09-11 01:05] mark-i-m commented on #198
Personally, I use straight vim with racer/YouCompleteMe for completions (which only work sometimes...).

[2018-09-11 20:25] nikomatsakis opened #201 "explain in more depth about `keep-stage`"
https://github.com/rust-lang-nursery/rustc-guide/pull/191 added some commentary about `--keep-stage 1` but there is probably more to say.

@Mark-Simulacrum [wrote a comment explaining some more workflows](https://github.com/rust-lang-nursery/rustc-guide/pull/191#issuecomment-419601167) but I confess I haven't fully processed it.

It seems like we should dedicate an entire section (I'd make a new f

[2018-09-18 03:43] mark-i-m opened #202 "Document compatibility and breakage policies"
Specifically, today has very strong stability promises. We should document how that fits in with crater, editions, bug fixes, and seemingly trivial changes with no apparent breakage.

cc @Centril

[2018-09-18 03:50] Centril commented on #202
I don't think we have a coherent policy here; it's more a case-by-case basis.
For the `?` stuff we did edition breakage (zero crater regressions), for `if let` we did all-editions breakage (zero crater regressions), for `try` we did edition breakage (some cases were found in sourcegraph), etc.

cc @nikomatsakis @eddyb

[2018-09-18 03:52] mark-i-m commented on #185
Yes, but only in the context of the binding.

Foo<T> has a free T, whereas impl<T> Foo<T> has a bound T.

[2018-09-18 21:55] alexreg commented on #185
Well, if the binding is around the program, then it definitely is it in the context of the binding! Either way, I think this is very confusing, and worth removing the "free" at the very least (if not saying "bound").

[2018-09-20 10:02] RalfJung opened #203 "Explain all the stable hashing shenanigans"
So rustc is full of these `impl_stable_hash_for`. What are these for? I originally thought that would be for `FxHashMap`, but that seems to be wrong (I still need to `derive(Hash)` to use `FxHashMap`). So now I am just confused. It would be great if the guide could explain that.

[2018-09-20 10:02] RalfJung commented on #203
I was told that @michaelwoerister knows all about this? :D

[2018-09-20 10:11] eddyb commented on #203
Our `Hash` impls hash pointers, IDs, etc. - they're designed for efficiency, *not* stability.

Stability here is across compilations, and it means the hash depends on *semantic* data, not transient representation.
`tcx` is needed to e.g. convert an ID into its "stable" representation / get a cached hash.

[2018-09-20 11:32] RalfJung commented on #203
Okay so "stable" here means "guaranteed not to change between rustc invocations". We must not hash pointers, for example. Good to know.

[2018-09-20 13:38] michaelwoerister commented on #203
"Stable" here means stable across compilation sessions and crate boundaries. For example, if you `Hash` a `Ty` you get a different value in two different compiler processes (because you are actually hashing a pointer to an interned data structure). If you `StableHash` it, the hash value will be the same for different invocations of the compiler, and it will also be the same, independently of wheth

[2018-09-20 13:54] RalfJung commented on #203
@michaelwoerister thanks, that helps! Why does this kind of stability require access to a "context" (`StableHashingContext`) though?

[2018-09-20 14:34] eddyb commented on #203
@RalfJung To cache some kinds of more expensive caches and to look up IDs (`NodeId`, `DefId`, etc.).

[2018-09-21 09:31] michaelwoerister commented on #203
It's not just caching. `NodeId`, `DefId`, `Span`, etc are not stable things. The context provides the data needed for mapping them into a stable format. For example mapping `Span` from a `u32` to `file:line:col`.

[2018-09-21 09:37] eddyb commented on #203
That's what I meant by "looking up IDs".

[2018-09-21 09:38] michaelwoerister commented on #203
Right, I wasn't reading your answer properly `:)`

[2018-09-21 10:37] pnkfelix opened #204 "document testing for broader set of targets"
We need to document the recommended way to go about testing for broader set of targets (e.g. `asmjs`) other than just throwing it at bors and hoping it works.

Spawned off of [T-compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/subject/weekly.20meeting.202018-09-20/near/134311522) discussion of rust-lang/rust#54223

Some choice quotes:

 * > "you can manually fiddl

[2018-09-21 12:32] tromey commented on #204
In the case of #54004 it was not a a documentation problem but a problem reproducing the failure locally - the docker setup did not work here, and only after many tries (and I still don't really know what the key change was) did I manage to get a local failure.  Possibly it would have helped if the various ci scripts didn't hard-code paths, but even then I am not so sure it would have helped.

[2018-09-21 12:32] pnkfelix commented on #204
So what I [just tried doing](https://github.com/rust-lang/rust/pull/54223/commits/b5af1d72979fa51edcfb51331e6f20dca629e466) was:

 1. opening the `.travis.yml`
 2. Near the top of the file, there's a directive like:
[code]
 3. Looking for the relevant target by skimming the `env: IMAGE=foo-bar-baz` lines which look like:
[code]
  4. In my own experiment, I *swapped* the image directives, so that t

[2018-09-21 12:34] pnkfelix commented on #204
@tromey the claim I am making is that if we provided docs for how to leverage the CI to assist with more targeted testing of specific targets, then you wouldn't *need* to reproduce the setup locally...

[2018-09-21 12:38] tromey commented on #204
Aha, ok, thanks.  Someone did give me the advice about how to tweak `.travis.yml` to run just the configuration I wanted on a push -- it was as you say above, adding `type = pull_request`.  I also removed all the other configs to avoid any excess server time.  The main thing that helped in the end was figuring out how to hack llvm to build with `-g1`, to get a stack trace with line numbers.  Full

[2018-09-21 12:40] pnkfelix commented on #204
ah, yes, so best practices might to cut out all but one of the IMAGE directives in the `.travis.yml`? I'm pretty ignorant of Travis so I'm largely making this up as we go along.

[2018-09-21 12:44] tromey commented on #204
I also know little about Travis.  Cutting it down to just the one I was interested in just seemed like a good idea, to avoid spending resources when not needed.

[2018-09-21 12:46] pnkfelix commented on #204
But now that I think about it further: It shouldn't cost anything to have those other directives, as long as you don't `r+` or `bors try` the PR with them engaged... because the only thing that should run is the single IMAGE that has `if: type = pull_request`, right?

[2018-09-21 12:47] Mark-Simulacrum commented on #204
The easiest thing (and this is also fine for Travis) is to simply comment out the if auto line, making no other changes. That will run said builder, and doesn't impact other builders.

[2018-09-21 12:48] pnkfelix commented on #204
Thanks @Mark-Simulacrum !

[2018-09-21 20:54] #172 closed

[2018-09-22 15:06] alexreg commented on #185
It's not right to call it free though, either way. The logician in me baulks at it!

[2018-10-02 13:52] nikomatsakis commented on #185
I still think free is the appropriate term and I don't really understand the objection, to be honest. I'm not sure how important this distinction is though.

[2018-10-02 16:31] alexreg commented on #185
@nikomatsakis Okay, well I reread now, and I think I see where my confusion is coming from (and I think others may be pretty confused too). This is mainly that the `'static` lifetime is quantified around the whole program, thus it is bound to the same lifetime everywhere... this goes against the intuitive notion of "free", even if it is indeed technically correct. Just worth a clarification I thin

[2018-10-05 15:59] rajcspsg commented on #100
@mark-i-m does this PR https://github.com/rust-lang-nursery/rustc-guide/pull/195 covers point 4 this is issue?

[2018-10-05 16:22] mark-i-m commented on #100
Hmm... do we ever mention where they can be found? (https://doc.rust-lang.org/nightly/nightly-rustc/rustc/)

Sorry for the delay on this. I have been pretty swamped for the past few weeks (and will probably continue to be swamped until at least Oct 12)... I appreciate your patience!

[2018-10-05 20:46] rajcspsg commented on #130
@mark-i-m we can close this ticket correct?

[2018-10-07 20:51] benbrandt commented on #133
Is this still needed? I'd be happy to help with this!

[2018-10-13 16:18] mark-i-m commented on #130
Yep! Thanks :)

[2018-10-13 16:18] #130 closed

[2018-10-13 16:28] mark-i-m commented on #88
@michaelwoerister Is this section (and its subsections) what you were thinking of?

https://rust-lang-nursery.github.io/rustc-guide/profiling.html

[2018-10-13 16:48] mark-i-m opened #209 "Link to non-rustc components"
At some point, it would be nice to add documentation for the following. I'm not really sure how to do this, since the rustdocs for these crates are not built or host anywhere, to my knowledge.

Special thanks to @rajcspsg for compiling this list in https://github.com/rust-lang-nursery/rustc-guide/issues/100#issuecomment-379420709

| s#| FileName                  | github Link

[2018-10-13 16:53] mark-i-m commented on #100
Ok, so I opened #209 to track the links @rajcspsg mentioned in https://github.com/rust-lang-nursery/rustc-guide/issues/100#issuecomment-379420709. I'm not really sure how to make progress there TBH, but I don't want to lose the list of links.

I also opened #208 to update the readme, as per the checklist in the OP. @Michael-F-Bryan @rajcspsg let me know what you think.

@rajcspsg I think the only

[2018-10-13 16:57] mark-i-m commented on #123
Does this section cover any of the things you wanted: https://rust-lang-nursery.github.io/rustc-guide/how-to-build-and-run.html#suggested-workflows-for-faster-builds-of-the-compiler

[2018-10-13 17:01] gnzlbg commented on #123
That does look really nice. Thanks!

[2018-10-13 17:01] mark-i-m commented on #123
Is there anything you think should be added to that section?

[2018-10-13 17:03] gnzlbg commented on #123
The only thing that pops to mind is that I don't know how to use `git bisect` to do what's mentioned there, but I am unsure of whether that's worth including. When I'll need that I'll just google for it :)

[2018-10-13 20:04] pietroalbini commented on #133
About the infra & backporting pages, I think those should be kept on the forge: those are used mostly by the infra/release teams, not by rustc contributors.

[2018-10-13 21:29] mark-i-m commented on #123
cc #78 "Bisecting against PRs"

[2018-10-16 04:11] ehuss commented on #78
I've written a tutorial on how to bisect PR's here: https://github.com/rust-lang-nursery/cargo-bisect-rustc/blob/master/TUTORIAL.md

[2018-10-16 15:09] rajcspsg commented on #100
@mark-i-m shall we mark `How to build the compiler and run what you built` section done.

[2018-10-19 11:45] csmoe opened #211 "Clean up skolemization with placeholder"
cc https://github.com/rust-lang/rust/pull/54649

[2018-10-19 12:51] mark-i-m commented on #100
Hmm... do we ever mention where they can be found? (https://doc.rust-lang.org/nightly/nightly-rustc/rustc/)

[2018-10-20 04:57] mark-i-m commented on #211
cc #210

[2018-10-20 11:58] mark-i-m commented on #78
@ehuss Great :) Are you looking to move it to the book?

[2018-10-21 04:18] ehuss commented on #78
That's up to @Mark-Simulacrum. I would think it will be easier to maintain in its own repo, in case things change. Perhaps a small paragraph directing people to the tool would be sufficient? Maybe something like this in the debugging chapter:

## Narrowing Regressions

The [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc) tool can be used as a quick and easy way to find

[2018-10-21 07:15] Mark-Simulacrum commented on #78
I'm happy with anything! No Rust team currently maintains cargo-bisect-rustc and I myself only have time to review pull requests currently but I think we can link to it despite both of these.

Generally linking the tutorial is I think a better approach so that it stays more up to date, though.

[2018-10-22 06:16] rajcspsg commented on #100
@mark-i-m I will update and send PR for that. I have a question.
Which file I have to update `compiler-documenting.md` or `how-to-build-and-run.md`.
Looks to me compiler documenting is correct place?

[2018-10-22 08:18] michaelwoerister commented on #88
@mark-i-m That's an excellent start! I would be great to also have some info on valgrind/cachegrind since those provide a slightly different and useful set of measurements but come with some caveats when invoking the profiler (i.e. making sure that the rustc executable is profiled, not cargo or the rustup wrapper).

[2018-10-22 17:29] mark-i-m commented on #211
@csmoe Does this also apply to the old traits system too?

[2018-10-22 17:56] mark-i-m commented on #78
opened #216

let me know what you think

[2018-10-23 00:57] csmoe commented on #211
@mark-i-m yes, all the things are "placeholder-fy"ed.

[2018-10-23 21:27] #78 closed

[2018-10-25 00:33] mark-i-m commented on #100
Hooray! :tada: This is done :smile:

Nice job @rajcspsg! This is a major improvement to the guide!

[2018-10-25 00:33] #100 closed

[2018-10-25 14:20] rajcspsg commented on #100
Thanks @mark-i-m for accepting my PR :)

[2018-10-25 14:39] pietroalbini commented on #133
@rajcspsg about the stabilization guide, [there is additional content in a forge PR](https://github.com/rust-lang-nursery/rust-forge/pull/125).

[2018-10-25 14:44] mark-i-m commented on #133
@rajcspsg That would be great :)

How about a new chapter after the closing conventions chapter?

[2018-10-25 14:55] rajcspsg commented on #133
@mark-i-m could you please provide me more details on conventions chapter?

[2018-10-25 15:03] mark-i-m commented on #133
@rajcspsg I was thinking of something like this:

[code]

Does that answer your question?

[2018-10-25 15:35] rajcspsg commented on #133
Yeah. I got it now :)
Thanks @mark-i-m @pietroalbini
I will go through the documentation and let you know if I have any questions.

[2018-11-01 01:44] #185 closed

[2018-11-04 07:02] kenta7777 opened #227 "Can't find "use-jemalloc" in config.toml."
[how-to-build-and-run.md](https://github.com/rust-lang-nursery/rustc-guide/blob/607a58f8d2f56068ac1cf60c550d54f3ee6d90c6/src/how-to-build-and-run.md) tells us to open up to config.toml file and change the following settings.
`use-jemalloc = false`
However, the statement cannot be found in the file.

[2018-11-04 10:54] ehuss commented on #227
This was changed just a day ago to `jemalloc` in rust-lang/rust#55238.

[2018-11-05 05:30] kenta7777 commented on #227
@ehuss Thank you for your comment. Then, should I send a PR for this revision?

[2018-11-05 14:48] mark-i-m commented on #227
That would be great!

[2018-11-06 05:42] kenta7777 commented on #227
@mark-i-m I'll send a PR.

[2018-11-07 15:04] kenta7777 commented on #227
Thanks!

[2018-11-07 15:04] #227 closed

[2018-11-11 04:45] mark-i-m commented on #6
@nikomatsakis I think this issue is getting rather out of date. At this point, it seem like all of these topics have made it into the table of contents of the book; it's just a matter of fleshing out the chapters.

Should we close this issue?

[2018-11-16 15:16] gnzlbg opened #239 "Not linked to from https://doc.rust-lang.org/"
The https://doc.rust-lang.org/ should probably link this to help with discoverability.

[2018-11-16 18:33] mark-i-m commented on #239
I've thought about this a few times, but my impression is that that site is aimed more at users of rust than compiler devs.

[2018-11-16 18:46] gnzlbg commented on #239
Some users need to know a lot about the compiler, e.g., to be able to build it, to target something non-standard, etc.

[2018-11-19 21:38] mark-i-m commented on #239
Hmm... I guess it can't hurt to open a PR and see what the docs team says...

[2018-11-26 18:30] dwijnand opened #241 "Document stability attributes?"
I was trying to hack in libcore and when compiling it I got:

[code]

and couldn't find anything detailing stability attributes.  Should that info live here?

[2018-11-27 16:24] dwijnand commented on #241
There's some detail in https://github.com/rust-lang/rust/blob/1.30.1/src/libsyntax/attr/builtin.rs#L104-L123.

[2018-11-30 16:53] euclio opened #244 "Clarify the meaning of hir::Ty"
In the [Allocating and Working with Types section](https://github.com/rust-lang/rustc-guide/blob/master/src/ty.md#allocating-and-working-with-types), it mentions that `ty::Ty` should not be confused with `Ty` in the HIR. How are they different?

[2018-11-30 22:32] mark-i-m commented on #244
hir::Ty is more of a syntactic construct representing the syntax of a type. ty::Ty represents the semantics of a type, e.g. for type checking.

[2018-12-01 19:45] eddyb commented on #244
Another way to think about it is every time you write a type, e.g. `()`, it gets its own `ast::Ty` and `hir::Ty` nodes (with IDs and source information), whereas the `Ty` is always exactly one (`ty::Tup([])`).

[2018-12-03 21:26] mark-i-m opened #248 "Document how x.py works"
https://internals.rust-lang.org/t/compiling-rustc-with-non-standard-flags/8950/3

[2018-12-03 21:27] mark-i-m opened #249 "ACM Library links keep causing CI failures"
Annoying, but maybe tolerable...

If this keeps happening, maybe we can just blacklist those two or three links?

[2019-01-18 03:14] rajcspsg commented on #178
@mark-i-m @nikomatsakis Shall I take this issue to work on?

[2019-01-18 03:40] mark-i-m commented on #178
That would be great, but unfortunately I won't be able to offer much guidance, as I don't really know anything about astconv.

[2019-01-18 04:19] rajcspsg commented on #178
![e81386](https://user-images.githubusercontent.com/10123965/51365443-4a053e00-1aae-11e9-82fa-fcd039537a7f.png)
The link provided by @nikomatsakis is not available or I don't have permission.

[2019-01-18 04:31] mark-i-m commented on #178
Hmm... unfortunately, I don’t really know what to do here. Sorry about that...

[2019-01-18 04:48] rajcspsg commented on #133
@mark-i-m Can I take Implementing new features part of this issue?

[2019-01-18 21:41] nikomatsakis commented on #178
@rajcspsg I'm not sure what it said at that link anymore either =) Probably it was just a summary of how "astconv" contains some logic for converting the types from the "AST form" to the internal, semantic form

[2019-01-18 21:41] nikomatsakis commented on #178
maybe reach out on the [rust-lang zulip](https://rust-lang.zulipchat.com/) and we can discuss more?

[2019-01-21 09:26] oli-obk opened #265 "https://llvm.org/ link checks fail on travis"
I'm assuming it's some sort of rate limiting or general overload protection on their side. Maybe we should just whitelist it?

[2019-01-21 22:47] mark-i-m commented on #265
There were also some failures a while back with the ACM digital library #249. And I saw a few with a link to discord.gg. They always seem to be transient...

[2019-01-22 00:49] shepmaster commented on #265
In a magical world, the tests could allow small amounts of errors in a time period, but warn if there's a consistent pattern. Sounds hard though.

[2019-01-22 15:38] pnkfelix opened #268 "Describe how to swap in local modified crate"
Recently while working on `rustc` I mused that a certain task would have been easier if I could have plugged in a different version of the `ena` crate.

It is probably easy to do this in general. @nikomatsakis says they do it by modifying `Cargo.toml` in an appropriate fashion. Perhaps even a [patch there](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#testing-a-bugfix) wou

[2019-01-23 18:38] #6 closed

[2019-01-23 19:03] mark-i-m commented on #133
@rajcspsg I also forgot about  #98. Do you mind also adding the things Niko mentions in that issue as part of your PR?

[2019-01-23 19:12] rajcspsg commented on #133
@mark-i-m Sure I will do that !!!

[2019-01-23 19:15] mark-i-m commented on #137
This thread doesn't seem to be very useful, so I will close it to keep the tracker clean.

[2019-01-23 19:15] #137 closed

[2019-01-23 19:22] mark-i-m commented on #97
Ping @varkor ?

[2019-01-24 00:19] alexreg commented on #181
Thanks @mark-i-m!

[2019-01-24 04:00] mark-i-m commented on #180
@nikomatsakis I think almost everything here is in the guide or in the TODOs. Do you want to keep this open?

[2019-01-24 04:03] mark-i-m commented on #64
@nikomatsakis Would you be able to write this or suggest someone else to write it? Unfortunately, by construction this chapter requires people who are in high demand.

[2019-01-29 10:57] dwijnand opened #276 "Reusing a built LLVM (e.g with git worktrees)"
Creating a new git worktree (or full clone) of Rust requires rebuilding LLVM, which takes "forever".

Should the guide include tips on how to mitigate this?  What are established rustc hackers doing to avoid this overhead?

[2019-01-29 11:03] dwijnand commented on #123
That's me, too.  I recently learnt that part of the problem was a misunderstanding of the stages, so I was testing at stage 1 instead of stage 0: https://github.com/rust-lang/rust/issues/57963

With regards to disk space, I wonder if it's possible reuse the LLVM part, for both disk usage and build time reasons: https://github.com/rust-lang/rustc-guide/issues/276

[2019-01-29 11:11] dwijnand commented on #77
I think something short and sweet like #216 would already be very useful.

[2019-01-29 17:14] mark-i-m commented on #276
cc https://github.com/rust-lang/rustc-guide/issues/71

[2019-01-29 17:14] mark-i-m commented on #123
As I mentioned on the other thread, a PR would be much appreciated.

cc the related #201

[2019-01-29 17:15] mark-i-m commented on #276
Personally, I've been just rebuilding LLVM... it's a pain, but it only happens the first time I create the worktree...

[2019-01-29 17:16] #77 closed

[2019-01-29 17:52] dwijnand commented on #201
I've so many questions for @Mark-Simulacrum about his workflows in https://github.com/rust-lang/rustc-guide/pull/191#issuecomment-419601167:

How does `x.py build --stage 1 --keep-stage 0 src/libstd` "build the compiler once and only once"?  Doesn't it skip compiling the stage 0 compiler and never get to compiling the stage 1 compiler?

Instead of `x.py build --stage 1 src/libstd --keep-stage 1` w

[2019-01-29 17:56] dwijnand commented on #201
Perhaps a good starting point would be off of @nikomatsakis' comment: https://github.com/rust-lang/rustc-guide/pull/191#issuecomment-420327014

What's does `--keep-stage 1` do?

[2019-01-30 17:01] mark-i-m commented on #201
Discussed a bit in rust-lang/rust#57963

[2019-02-05 19:07] varkor commented on #97
This is still on my radar, sorry. I'll try to get to it soon.

[2019-02-12 02:41] gnzlbg commented on #11
I just tried to debug the compiler using `debug!`. There is such a huge amount of noise that's pretty much useless. Tons of lines of:

[code]

I wish there was an easy way to just use `eprintln!` or something without noise. Or do I have to go through the compiler and remove all `debug!` statements to be able to see the output of mine ?

[2019-02-12 02:54] Mark-Simulacrum commented on #11
Generally the intent is to be more specific than just `RUST_LOG=syntax=debug`; where you trying to debug something in `syntax::source_map` specifically? Otherwise I would expect you to not include it in the logging at all...

[2019-02-13 22:17] eddyb commented on #11
We should *really* tell people to use `RUST_LOG=rustc_foo::bar::baz`, with the smallest module(s) (comma-separated if multiple) necessary for the `debug!`s they want.

IIRC `RUST_LOG=syntax=debug` and `RUST_LOG=syntax` does the same thing, but I could be wrong. Either way, the logging level *should not* be the important bit, but rather the relevant module.

[2019-02-14 01:38] alexreg commented on #48
It would be really nice to have a definition for "late-bound regions/lifetimes" in the glossary... I still have no bloody clue what these things are!

[2019-02-14 03:30] mark-i-m commented on #48
Unfortunately, there is a lack of people who know definitions to things, so this list is just getting longer... Not sure what to do about that...

[2019-02-14 03:44] alexreg commented on #48
I can probably help with some of these... though I wouldn't call myself an authority. Borrow checking is pretty arcane magic as far as I'm concerned. We might have to draft in @nikomatsakis for this. Even if he (or someone like him) could leave comments on this post, then someone could formalise the definitions and create a PR maybe. :-)

[2019-02-14 09:26] varkor commented on #48
@alexreg: most of these definitions can be found with a little sleuthing. I think [this post](http://smallcultfollowing.com/babysteps/blog/2013/10/29/intermingled-parameter-lists/) explains early- and late-bound lifetimes, for example.

[2019-02-14 11:16] oli-obk commented on #48
There are also some (albeit not necessarily easy to decipher) explanations in the internals docs: https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/enum.RegionKind.html#bound-regions

[2019-02-14 15:48] alexreg commented on #48
@varkor @oli-obk Thanks. I'm not very good at searching. There are too many "references" rather than "definitions", which makes grepping harder than it should be.

[2019-02-18 23:48] #97 closed

[2019-02-24 00:14] #11 closed

[2019-02-26 23:24] mark-i-m commented on #98
@nikomatsakis Could you clarify what you mean by this? Do you mean warning cycles and future compat lints?

[2019-03-02 14:19] davidtwco opened #285 "Provide guidance on working with out-of-tree crates"
It would be worthwhile to document all of the best practices surrounding working with out-of-tree crates and the compiler.

This issue exists to be linked to by the crates policy in the `compiler-team` repository.
Related to #268.

[2019-03-02 23:32] mark-i-m commented on #285
@davidtwco Would you be interested in starting such a chapter?

[2019-03-03 00:14] davidtwco commented on #285
@mark-i-m I don't have any experience working with out-of-tree crates, so unfortunately I don't know what the best practices to document are. Someone who has worked on chalk or polonius would be in a good position to document these.

[2019-03-07 23:02] alexreg commented on #48
@mark-i-m Can we add "gensym" to the list please? That's a weird term that I'm still not entirely sure what it means.

[2019-03-13 17:44] #12 closed

[2019-03-20 00:08] mark-i-m commented on #285
@tmandry @scalexm or @nikomatsakis (worked on chalk), and I know that @RalfJung and @oli-obk work on miri, and @Mark-Simulacrum works on infra. Perhaps one of them has some info or would be willing to type up a short PR (it would be much appreciated <3)?

[2019-03-29 23:37] mark-i-m opened #293 "Broken link"
@Mark-Simulacrum It appears the following is returning error 500: https://buildbot2.rust-lang.org/homu/

Do you know what the problem could be?

[2019-04-01 22:12] pietroalbini commented on #293
This happened after rustlings homu was deployed, and afaik it was never fixed. Maybe you can take a look at the server?

[2019-04-01 23:01] mark-i-m commented on #293
What do you mean by “take a look at yhr server”?

[2019-04-02 08:49] pietroalbini commented on #293
The link *should* be alive, I asked Mark to check if there is something wrong on central station.

[2019-04-02 17:12] pietroalbini commented on #293
Duplicate of https://github.com/rust-lang/rust/issues/59475

[2019-04-02 17:28] mark-i-m commented on #293
I would like to leave this open so I don't forget to (at least temporarily) remove the link from the guide.

[2019-04-02 18:35] Mark-Simulacrum commented on #293
Well, https://buildbot2.rust-lang.org/homu/ is fixed now it seems after redeploying.

[2019-04-02 18:46] #293 closed

[2019-04-08 00:55] mark-i-m commented on #268
Does this answer the question: https://internals.rust-lang.org/t/how-to-specify-a-private-repository-for-one-library-like-libc/9779

[2019-04-15 20:24] nikomatsakis opened #295 "Incorporate guidance on long error messages"
We have

https://rust-lang.github.io/rfcs/1567-long-error-codes-explanation-normalization.html

which has some conventions for long error codes. This should be in the rustc-guide.

[2019-04-15 20:24] nikomatsakis commented on #295
cc @GuillaumeGomez

[2019-04-15 21:25] GuillaumeGomez commented on #295
@eddyb wanted to get rid of them and I've heard (for a while now, I'm starting to wonder if it'll ever happen...) that they'd adapt to users' code directly to make them even easier to understand. But I assume it should be in the rustc-guide nevertheless.

cc @rust-lang/docs

[2019-04-16 20:53] nikomatsakis commented on #295
I think we should definitely incorporate the text for now.

[2019-04-27 16:12] varkor opened #310 "Add information on updating dependencies"
This would be useful to have as a subsection under "crates.io Dependencies". Updating a dependency is more frequent an occurrence than adding a new one, but one can still run into issues, e.g.:
[code]

[2019-04-27 16:31] varkor commented on #310
This might include information on `librustc_cratesio_shim`.

[2019-04-29 18:31] mark-i-m opened #312 "Include Compiler Lecture Series"
Add in links to the compiler lecture series: https://internals.rust-lang.org/t/compiler-lecture-series/9227

[2019-05-14 22:27] mark-i-m opened #319 "[tracking issue] Transcribe the Compiler Lecture Series into chapters"
- [x] Tom Tromey discusses debugging support in rustc
    - assigned to @amanjeev, #316
    - Video: https://www.youtube.com/watch?v=elBxMRSNYr4
    - Lecture notes:
- [ ] How Salsa Works (2019.01)
    - Video: https://www.youtube.com/watch?v=_muY4HjSqVw
    - Lecture notes:
- [ ] Salsa In More Depth (2019.01)
    - Video: https://www.youtube.com/watch?v=i_IhACacPRY
    - Lecture notes:
- [ ] RLS

[2019-05-14 22:28] mark-i-m opened #320 "Write an overview chapter"
cc @lokalmatador

Copying from the dropbox doc:

More or less an expansion of the "High-level overview of the compiler source" section)
Content (or links to):

- compiler high level structure
- system requirements & dependencies
- compiler module structure
- crate dependencies
- compiler configuration
- compiler inputs
- compiler outputs
- compiler state
- Walk-through of compiling a meaningful ex

[2019-05-14 22:31] mark-i-m commented on #319
Recording new sessions ideas

- The `ty` module -- how it works (3 votes) (coming on friday 26th)
    - The arenas, the `'tcx` and `'gcx` lifetimes
    - The `TypeFoldable` trait and the `TyRelate` trait
    - Maybe covering the basics of type inference
    - Candidates: @nikomatsakis, @varkor, perhaps @eddyb?
- HAIR, MIR, and MIR construction (3 votes)
    - Covering the definition of MIR
    - C

[2019-05-15 00:24] shepmaster commented on #319
Note that YouTube will auto generate transcriptions, which might be a good place to start.

[2019-05-15 00:25] igaray commented on #319
ssshhhh 🤐  they think I'm hard at work!

[2019-05-15 00:31] igaray commented on #319
In all seriousness, this is exactly what I did:
- click on the gear icon of the youtube video player
- select 'subtitles' submenu
- select 'add subtitles' item
- select language -> 'english'
- click on 'actions' button
- select 'download'
- open .sbv file with with and create macro to delete timestamps

[2019-05-17 17:39] igaray commented on #319
@mark-i-m Can you add
[code]
right after "How the chalk-engine crate works" ? TY!

[2019-05-21 02:58] mark-i-m commented on #163
https://users.rust-lang.org/t/rust-koans/2408/4

[2019-05-22 07:32] eddyb commented on #319
@Zoxc is planning to remove that split in https://github.com/rust-lang/rust/pull/57214, FWIW.

[2019-05-30 03:02] rajcspsg commented on #133
@mark-i-m can I work on Compiler Bug Fix Procedure(5th in the list) ?

[2019-05-30 15:26] mark-i-m commented on #133
cc @spastorino @nikomatsakis

@rajcspsg I think there are some ongoing discussions about changing the role of the forge, but I am out of town this week so I don’t know what was decided. Perhaps @spastorino can advise?

[2019-05-30 19:38] spastorino commented on #133
The idea is that forge should be linked from Rust website and be mainly about procedures. rustc-guide should be pretty focused on "what you need to hack on rustc".

@rajcspsg if you're interested in contributing to rustc-guide in general, I'd recommend you to join Zulip and visit this stream https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-learning

[2019-05-31 00:03] varkor opened #327 "The information about the default config.toml settings is now incorrect"
https://github.com/rust-lang/rust/pull/60568 changed config.toml and https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html needs to be updated to reflect that. cc @petrochenkov

[2019-05-31 09:56] petrochenkov commented on #327
Fixed in https://github.com/rust-lang/rustc-guide/pull/328

[2019-06-03 00:36] #327 closed

[2019-06-03 01:40] mark-i-m commented on #133
@spastorino It seems like the 3 remaining topics in the OP checklist are still relevant and should be moved to the guide. Do you agree?

[2019-06-03 15:11] spastorino commented on #133
@mark-i-m yes :+1:, do you want to create issues for them?. I'm planning on starting one or more `Project` to track some things in a different way but from `Project` I can link to all these issues we are talking about.

[2019-06-07 07:35] JohnTitor opened #331 "document MIR-optimizations"
Original discussion is in Zulip.

At now, `src/mir/optimizations.md` is empty so we should document MIR-optimizations.

oli-obk pointed out these:

- guaranteed and required ones
- some that don't optimize, but just check stuff
- some that are only turned on in release mode

[2019-06-07 16:35] mark-i-m commented on #331
@JohnTitor Would you be interested in submitting a PR to add these. Frankly, outside the WG-mir-opt, there are probably not many people qualified to write it.

[2019-06-07 18:45] JohnTitor commented on #331
@mark-i-m Yes, I'll work on this. But it may take some time to come up with the suitable content.

[2019-06-08 06:23] scottmcm opened #334 "Update cfg(stage0) references to cfg(bootstrap) instead"
https://github.com/rust-lang/rustc-guide/blob/master/src/stabilization_guide.md#removing-existing-uses-of-the-feature-gate still mentions `#![cfg_attr(stage0, feature(XXX))]`, but as of https://github.com/rust-lang/rust/pull/61494, it's `bootstrap` instead of `stage0`.

[2019-06-11 17:04] mark-i-m commented on #249
This hasn't recurred since December, so I will close it. Feel free to reopen if it happens again.

[2019-06-11 17:04] #249 closed

[2019-06-11 17:07] mark-i-m commented on #312
Redundant with #319

[2019-06-11 17:07] #312 closed

[2019-06-12 21:42] pietroalbini opened #338 "Don't worry about this issue."
I said don't worry about this... I'm just testing stuff.

[2019-06-12 21:42] pietroalbini commented on #338
@rustbot claim

[2019-06-12 21:43] #338 closed

[2019-06-14 15:35] mark-i-m opened #339 "Background on `impl Trait`"
Transcribed from https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/type.20parameter.20out.20of.20range.20.2355872/near/168064482

cc @nikomatsakis @spastorino

[2019-06-15 21:38] mark-i-m commented on #133
@spastorino I guess I'm not sure. Do we want to make the issues that fine-grained? I'm wary of having information in too many places, as it will be hard to keep everything up to date.

[2019-06-17 17:09] spastorino commented on #133
@mark-i-m I think you're right. I'd leave the checklist as is in this issue and not open more issues.

[2019-06-26 09:43] JohnTitor commented on #334
It seems this is fixed in #346.

[2019-06-26 13:30] #334 closed

[2019-06-26 15:51] mark-i-m commented on #265
This has been happening a bit more frequently as we add more links. Sometimes it is actually the remote responding slowly (e.g. its slow from my browser too), but I think usually it is travis throttling us or something...

[2019-06-27 01:28] amanjeev opened #352 "async-await implementation plans"
Video: https://www.youtube.com/watch?v=xe2_whJWBC0

This issue has been assigned to @amanjeev via [this comment](https://github.com/rust-lang/rustc-guide/issues/352#issuecomment-506102710).

[2019-06-27 01:29] amanjeev commented on #352
@rustbot claim

[2019-06-27 01:30] amanjeev opened #353 "async-await region inferencer"
Video: https://www.youtube.com/watch?v=hlOxfkUDLPQ

This issue has been assigned to @amanjeev via [this comment](https://github.com/rust-lang/rustc-guide/issues/353#issuecomment-506102986).

[2019-06-27 01:30] amanjeev commented on #353
@rustbot claim

[2019-06-27 01:31] amanjeev opened #354 "Universes and Lifetimes"
Video: https://www.youtube.com/watch?v=iV1Z0xYXkck

This issue has been assigned to @amanjeev via [this comment](https://github.com/rust-lang/rustc-guide/issues/354#issuecomment-506103156).

[2019-06-27 01:31] amanjeev commented on #354
@rustbot claim

[2019-06-27 01:33] amanjeev commented on #319
Opened and assigned to myself

- #352
- #353
- #354

[2019-06-27 14:51] mark-i-m commented on #319
@spastorino perhaps we can play with a project now?

[2019-06-27 17:58] spastorino commented on #319
@mark-i-m yes, hope to be able to do it today :).

[2019-06-29 18:17] spastorino opened #355 "Transcribe the Compiler Lecture How Salsa Works"
Video: https://www.youtube.com/watch?v=_muY4HjSqVw

This issue has been assigned to @Karrq via [this comment](https://github.com/rust-lang/rustc-guide/issues/355#issuecomment-514781388).

[2019-06-29 18:18] spastorino opened #356 "Transcribe the Compiler Lecture Salsa In More Depth"
Video: https://www.youtube.com/watch?v=i_IhACacPRY

[2019-06-29 18:19] spastorino opened #357 "Transcribe the Compiler Lecture RLS 2.0, Salsa, and Name Resolution"
Video: https://www.youtube.com/watch?v=Xr-rBqLr-G4

[2019-06-29 18:21] spastorino opened #358 "Transcribe the Compiler Lecture Cranelift"
Video: https://www.youtube.com/watch?v=9OIA7DTFQWU

[2019-06-29 18:24] spastorino opened #359 "Transcribe the Compiler Lecture Rust analyzer guide"
Video: https://www.youtube.com/watch?v=ANKBNiSWyfc

[2019-06-29 22:14] spastorino opened #360 "Transcribe the Compiler Lecture Rust analyzer syntax trees"
Video: https://www.youtube.com/watch?v=DGAuLWdCCAI

[2019-06-29 22:15] spastorino opened #361 "Transcribe the Compiler Lecture rust-analyzer type-checker overview by flodiebold"
Video: https://www.youtube.com/watch?v=Lmp3P9WNL8o

[2019-06-29 22:16] spastorino opened #362 "Transcribe the Compiler Lecture oli-obk on miri and constant evaluation"
Video: https://www.youtube.com/watch?v=5Pm2C1YXrvM

[2019-06-29 22:17] spastorino opened #363 "Transcribe the Compiler Lecture Polonius-rustc walkthrough"
Video: https://www.youtube.com/watch?v=i5KdU0ieb_A

[2019-06-29 22:17] spastorino opened #364 "Transcribe the Compiler Lecture rustc-chalk integration overview"
Video: https://www.youtube.com/watch?v=MBWtbDifPeU

[2019-06-29 22:18] spastorino opened #365 "Transcribe the Compiler Lecture Coherence in Chalk by Sunjay Varma - Bay Area Rust Meetup"
Video: https://www.youtube.com/watch?v=rZqS4bLPL24

[2019-06-29 22:20] spastorino opened #366 "Transcribe the Compiler Lecture How the chalk-engine crate works"
Video: https://www.youtube.com/watch?v=Ny2928cGDoM

[2019-06-29 22:20] spastorino opened #367 "Transcribe the Compiler Lecture How the chalk-engine crate works 2"
Video: https://www.youtube.com/watch?v=hmV66tB79LM

[2019-06-29 22:21] spastorino opened #368 "Transcribe the Compiler Lecture RFC #2229 Disjoint Field Capture plan"
Video: https://www.youtube.com/watch?v=UTXOptVMuIc

[2019-06-29 22:25] spastorino opened #369 "Transcribe the Compiler Lecture closures and upvar capture"
Video: https://www.youtube.com/watch?v=fMopdkn5-Xw

[2019-06-29 22:27] spastorino opened #370 "Transcribe the Compiler Lecture blitzerr closure upvar tys"
Video: https://www.youtube.com/watch?v=pLmVhSB-z4s

[2019-06-29 22:27] spastorino opened #371 "Transcribe the Compiler Lecture Convert Closure Upvar Representation to Tuples with blitzerr"
Video: https://www.youtube.com/watch?v=2QCuNtISoYc

[2019-06-29 22:27] spastorino opened #372 "Transcribe the Compiler Lecture async-await implementation plans"
Video: https://www.youtube.com/watch?v=xe2_whJWBC0

[2019-06-29 22:28] spastorino opened #373 "Transcribe the Compiler Lecture async-await region inferencer"
Video: https://www.youtube.com/watch?v=hlOxfkUDLPQ

[2019-06-29 22:28] spastorino opened #374 "Transcribe the Compiler Lecture Universes and Lifetimes"
Video: https://www.youtube.com/watch?v=iV1Z0xYXkck

This issue has been assigned to @HaoZeke via [this comment](https://github.com/rust-lang/rustc-guide/issues/374#issuecomment-514757902).

[2019-06-29 22:28] spastorino opened #375 "Transcribe the Compiler Lecture Representing types in rustc"
Video: https://www.youtube.com/watch?v=c01TsOsr3-c

This issue has been assigned to @igaray via [this comment](https://github.com/rust-lang/rustc-guide/issues/375#issuecomment-506992148).

[2019-06-29 22:29] spastorino opened #376 "Transcribe the Compiler Lecture Polonius WG: Initialization and move tracking"
Video: https://www.youtube.com/watch?v=ilv9V-328HI

[2019-06-29 22:36] spastorino commented on #365
@rustbot assign @juanbono

[2019-06-29 22:37] spastorino commented on #375
@rustbot assign @igaray

[2019-06-29 22:40] spastorino commented on #372
@rustbot assign @amanjeev

[2019-06-29 22:40] spastorino commented on #373
@rustbot assign @amanjeev

[2019-06-29 22:40] spastorino commented on #374
@rustbot assign @amanjeev

[2019-06-29 22:41] spastorino commented on #352
Closing this one in favor of https://github.com/rust-lang/rustc-guide/issues/372 because that issue lives inside a project now.

[2019-06-29 22:41] #352 closed

[2019-06-29 22:41] spastorino commented on #353
Closing this one in favor of https://github.com/rust-lang/rustc-guide/issues/373 because that issue lives inside a project now.

[2019-06-29 22:41] #353 closed

[2019-06-29 22:42] spastorino commented on #354
Closing this one in favor of https://github.com/rust-lang/rustc-guide/issues/374 because that issue lives inside a project now.

[2019-06-29 22:42] #354 closed

[2019-06-29 22:44] spastorino commented on #319
This is superseeded by https://github.com/rust-lang/rustc-guide/projects/2

[2019-06-29 22:44] #319 closed

[2019-06-29 23:08] spastorino opened #377 "Add compilers bibliography apprendix"
There's already a [Rust Bibliography appendix](https://rust-lang.github.io/rustc-guide/appendix/bibliography.html), I think it would be great to start a compilers bibliography appendix that may help give some background to better understand the compiler.

For instance, we could start by adding some of [these resources](https://discordapp.com/channels/273534239310479360/490356824420122645/490533962

[2019-06-29 23:15] spastorino opened #378 "Add compiler lectures series links to an appendix"
Maybe that could live here https://rust-lang.github.io/rustc-guide/appendix/bibliography.html ? and that be called Rusc resources? or could be even a new Appendix.

/cc @mark-i-m

[2019-06-29 23:16] spastorino commented on #320
@rustbot assign @lokalmatador

[2019-06-29 23:27] spastorino commented on #373
@rustbot release-assignment

[2019-06-29 23:28] spastorino commented on #374
@rustbot release-assignment

[2019-06-29 23:53] mark-i-m commented on #375
@spastorino Is this a duplicate of https://github.com/rust-lang/rustc-guide/pull/348?

[2019-07-01 14:11] spastorino commented on #375
Yes, this is the issue, #348 is the PR.

[2019-07-02 23:38] JohnTitor opened #379 "Update explanation about test annotations"
This page [suggests using `compile-pass` as a test annotation](https://github.com/rust-lang/rustc-guide/blob/76be9f99d706d7ac4d10104f44483dd78d6d947a/src/tests/adding.md#tests-that-do-not-result-in-compile-errors). But it will be deprecated in https://github.com/rust-lang/rust/issues/62277. We should update this doc too.

[2019-07-04 11:34] Centril opened #381 "Document `--pass $mode`"
Introduced in https://github.com/rust-lang/rust/pull/61755 (description in there).

[2019-07-04 11:34] Centril commented on #381
@JohnTitor You may want want to tackle this?

cc @petrochenkov

[2019-07-04 11:39] #379 closed

[2019-07-04 14:28] mark-i-m commented on #377
I like the idea. Perhaps a section at the end of Background Appendix with extra reading?

[2019-07-04 14:33] mark-i-m commented on #378
I feel that they are distinct enough to be different Appendices. The Bibliography doesn't really contain much that is directly useful for learning how rustc works, whereas the lectures do.

[2019-07-04 19:52] spastorino commented on #377
@mark-i-m yes, I think that would be fine.

[2019-07-04 19:53] spastorino commented on #378
@mark-i-m :+1: then to use a new appendix for this.

[2019-07-07 09:50] aloucks commented on #123
The `#1` item is incredibly useful. It's a shame that it's buried in this issue and not up-to-date on:
https://rust-lang.github.io/rustc-guide/tests/running.html

@kennytm Do you have an example for `#2`?

[2019-07-11 03:14] #163 closed

[2019-07-12 22:23] mark-i-m opened #385 "429 Too Many Requests"
Recently a bunch of CI failures have occurred with this error, mostly from YouTube. Not sure what the solution is. I'm also not sure if this is Travis or YouTube...

@Mark-Simulacrum @pietroalbini do you know if this would be mitigated by moving to Azure?

[2019-07-12 22:26] Mark-Simulacrum commented on #385
Do you have links to some of these CI failures? Are you intentionally contacting YouTube?

[2019-07-13 00:14] shepmaster commented on #385
Is the link checker still active?

[2019-07-13 03:37] mark-i-m commented on #385
https://travis-ci.com/rust-lang/rustc-guide/builds/118875063

https://travis-ci.com/rust-lang/rustc-guide/builds/119000366

https://travis-ci.com/rust-lang/rustc-guide/builds/118874560

There are a few more I think.

We link to the compiler lecture series videos on YT. These failures are from the linkchecker attempting to contact YT and failing with 429.

[2019-07-13 09:38] pietroalbini commented on #385
Hmm, does linkchecker set a browser user agent?

[2019-07-13 11:44] mark-i-m commented on #385
No idea... cc @Michael-F-Bryan

[2019-07-14 08:21] Michael-F-Bryan commented on #385
I don't believe we set a user agent. The validator [just calls `reqwest::get()`](https://github.com/Michael-F-Bryan/mdbook-linkcheck/blob/6ac54352d029ec9288d3503d6c27afc62836653a/src/validation.rs#L36) without doing anything fancy.

[2019-07-17 08:20] JohnTitor opened #386 "Broken link in compiler-team section"
In [compiler-team section](https://github.com/rust-lang/rustc-guide/blob/master/src/compiler-team.md#expert-map), there is [a broken link](https://github.com/rust-lang/compiler-team/blob/master/experts/MAP.md). I'd like to update this but should we wait for the team to deploy their website to gh-pages?

[2019-07-17 12:51] mark-i-m commented on #386
I think we can just link to the new TOML file. We can update the link later.

[2019-07-17 13:08] JohnTitor commented on #386
@mark-i-m I see and opened #387.

[2019-07-17 13:11] #386 closed

[2019-07-17 13:13] mark-i-m commented on #385
For now, I am just going to blacklist yt feom the linkchecker because CI has been down for a while.

[2019-07-17 15:33] #381 closed

[2019-07-20 11:48] amanjeev commented on #372
@spastorino  based on [Tom's suggestion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-learning/topic/meeting.202019-07-09/near/170482706), maybe rename this issue title to "Summarizing"? WDYT?

[2019-07-20 22:31] spastorino commented on #372
@amanjeev :+1: but we would need to do it with all the issues :).

[2019-07-20 23:58] amanjeev commented on #372
Sorry, I totally forgot about that and saw the number of issues now. I with this is something @rustbot  could do. lol

[2019-07-21 00:25] mark-i-m commented on #372
Or a task to do at the next meeting :joy:

[2019-07-21 08:47] Michael-F-Bryan opened #392 "Broken bibliography link"
I'm rewriting (https://github.com/Michael-F-Bryan/mdbook-linkcheck/pull/11) a lot of the internals for `mdbook-linkcheck` to take advantage of caching and generate better diagnostics and *think* I've found a broken link in `rustc-guide`.

Is anyone able to access [GPU Programming in Rust: Implementing High Level Abstractions in a Systems Level Language](https://github.com/rust-lang/rustc-guide/blo

[2019-07-21 19:22] iluuu1994 opened #395 "Ambiguous macro call"
The guide says right [here](https://github.com/rust-lang/rustc-guide/blob/master/src/macro-expansion.md):

This seems not to be the case.

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bf361f3a9a5ab6fd4d4d30b6d9ae2365

Rust just chooses the first pattern that matches. In fact, you can use the exact same pattern twice and the Rust compiler won't complain.

[code]

[2019-07-22 05:13] mark-i-m commented on #392
That links is working for me from the USA. It is a PDF.

[2019-07-22 07:22] Michael-F-Bryan commented on #392
Hmm, that's interesting. I was getting a "Connection Refused" error from my laptop at home and mobile phone (both behind a VPN), but it works fine from work.

The link isn't actually broken, so this I'll close the issue.

[2019-07-22 07:22] #392 closed

[2019-07-24 18:58] HaoZeke commented on #374
@rustbot claim

[2019-07-24 20:09] spastorino opened #398 "Summarize the Compiler macros discussion with Vadim Petrochenkov"
Discussion: https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/macros.20discussion

[2019-07-24 20:10] Karrq commented on #355
@rustbot claim

[2019-07-25 07:33] Karrq commented on #14
Looks to me like this issue is currently missing the following:

Errors:
- How to find an error code and add an extended error
- Conventions are how the error should be formatted (lowercase letter, etc)
- when to use `span_label` etc

Lints:
Nothing? Maybe the section about removing lints present in the [rustc Bug Fix Procedure](https://forge.rust-lang.org/rustc-bug-fix-procedure.html) could be ad

[2019-07-25 14:01] GeertVL commented on #360
@rustbot claim

[2019-08-01 18:41] spastorino opened #405 "Update rustc-guide according to removal of run-pass"
After @pnkfelix change https://github.com/rust-lang/rust/pull/53994, the CI of rustc-guide is giving errors because of links to run-pass github directory that does not exist anymore. But more than that, would be great to fix the mentions of run-pass in the guide.

[2019-08-02 02:25] #405 closed

[2019-08-06 20:27] tshepang commented on #376
@rustbot claim

[2019-08-06 20:29] tshepang commented on #363
@rustbot claim

[2019-08-06 20:47] tshepang commented on #376
@rustbot release-assignment

[2019-08-07 12:42] Nashenas88 opened #418 "Terms used before being explained"
One example is Section 2.3:
DefId is brought up without explaining what it is. In the same section, tcx is brought up (and explained quickly as Type Context). A link to the glossary entry or the section "Identifiers in the HIR" on https://rust-lang.github.io/rustc-guide/hir.html would be helpful too.

[2019-08-07 12:45] Nashenas88 opened #419 "Explain what interning means"
At the bottom of https://rust-lang.github.io/rustc-guide/the-parser.html, the phrase "interns identifiers" is used. But to me, its meaning wasn't clear on first read-through. I checked in Zulip::/t-compiler/help and got back : "It means that you are not creating a heap allocation for an identifier every time, but instead have a global table where they are stored and deduplicated. You then just nee

[2019-08-07 12:47] Nashenas88 opened #420 "Make HIR identifiers table more discoverable"
On https://rust-lang.github.io/rustc-guide/hir.html when I came across the list in the section "Identifiers in the HIR", I instantly wished I had seen it earlier in the book. It made a lot of earlier details easier to understand. It would have also been helpful if descriptions like this were available in the glossary.

[2019-08-07 14:49] spastorino commented on #420
I guess you're talking about this https://rust-lang.github.io/rustc-guide/hir.html#identifiers-in-the-hir right?. `DefId` and `HirId` are already in the glossary, what you mean is to add `NodeId` and `BodyId`?

[2019-08-07 14:54] spastorino commented on #419
I think it would be great to have this explained, perhaps starting with what @oli-obk has mentioned would be great.

[2019-08-07 14:54] spastorino commented on #418
Agreed, maybe whenever a concept that is in the glossary shows up we can add a link to that section?.

[2019-08-15 03:29] Nashenas88 commented on #420
`NodeId` is already there, but it would be helpful to add `BodyId`. However, I was more referring to the fact that the explanations in the link above are much easier to understand than the simple sentences in the glossary. Having a link from the glossary to those extended explanations would be really helpful, I think. I'm a big fan of bidirectional linking in documentation.

[2019-08-15 03:36] Nashenas88 commented on #420
For example, this is the existing entry for `DefId` in the glossary:

compared to the chart in the hir page:

If every instance of `DefId` linked to the glossary, and the glossary linked to the more detailed description, it would allow people to easily find this very helpful explanation. Or would it make more sense to expand the description in the glossary so it's as helpful as the initial entry?

[2019-08-15 03:37] Nashenas88 commented on #418
Yes, I think so. See my comment in the glossary issue here: https://github.com/rust-lang/rustc-guide/issues/420#issuecomment-521501587

[2019-08-15 15:37] spastorino commented on #420
Agree with this really. Please provide a PR if you can/want :).

[2019-08-19 17:11] tshepang commented on #363
I watched the video, noted that much flew over me head, and now am at stage of filling some of the gaps, after which I will re-watch, and then (attempt to) do a transcription.

[2019-08-21 22:15] nnethercote commented on #419
https://en.wikipedia.org/wiki/String_interning could be a useful link.

[2019-08-23 09:28] bpfoley commented on #359
This lecture is already transcribed at <https://github.com/rust-analyzer/rust-analyzer/blob/master/docs/dev/guide.md>. It's referred to at the start of the lecture.

[2019-08-24 19:16] spastorino commented on #359
@bpfoley that's cool, I think would be great to see if something can be added or that guide can be linked from rustc-guide.

[2019-08-25 17:25] tshepang opened #431 "libtest build step has been merged with that of libstd"
That means How to Build and Run the Compiler needs updating.

For reference, this change was done in https://github.com/rust-lang/rust/pull/63637.

[2019-08-25 21:57] feroldi commented on #419
@eddyb explained quite a bit of it here: https://github.com/feroldi/oxide/issues/1#issuecomment-523002973

[2019-08-26 00:47] mark-i-m commented on #395
Hmm... I didn't realize you could do that. It seems that the check is not complete. Many of the checks on macros are not complete.

[2019-08-26 00:48] mark-i-m commented on #374
Hi @HaoZeke Any updates?

[2019-08-26 00:54] mark-i-m commented on #360
Hi @GeertVL  :) Any updates?

[2019-08-26 01:06] mark-i-m commented on #431
@tshepang Would you be able to submit a PR?

[2019-08-26 05:55] phansch commented on #14
It might also be nice to link to the [lint naming recommendations](https://rust-lang.github.io/rfcs/0344-conventions-galore.html#lints) from RFC0344

[2019-08-26 06:37] HaoZeke commented on #374
Will be done this week, sorry I fell ill in the middle.

On 8/26/19 6:18 AM, Who? Me?! wrote:

[2019-08-26 07:44] tshepang commented on #431
I will

[2019-09-01 20:15] vitiral opened #436 "document compiler internal environment variables"
I am a newbie to compiler development and came across a pretty big documentation gap: environment variables.

I ran the following script to try and pull out all the existing environment variables. I can run it on whatever directories that project contributors want me to. I would like to document these if possible!

Action items for someone more knowledgeable than me:
- I am running against `src/li

[2019-09-04 14:00] togiberlin commented on #363
@tshepang You can copy/paste the YouTube autogenerated transcripts.
Next to the YouTube like / dislike buttons, there is a dropdown menu (look for the 3 dots icon). Open the dropdown menu, then "Open transcript" :) Timestamps can be toggled.

[2019-09-07 03:58] tshepang opened #440 "hard-to-parse sentence in Updating LLVM"
There is missing text here...

[2019-09-07 13:01] tshepang commented on #431
status: diagram still needs updating

[2019-09-09 12:42] crlf0710 opened #442 "Introduce something more about Codegen and LLVM"
Hello i'm trying to make a little progress on the raw_dylib rfc implementation. It seems this RFC needs to deal with the codegen process, and i'm seeking for more introductory materials on this affair. It will be great if this can be introduced more in rustc-guide. Thanks!

[2019-09-09 17:11] mark-i-m commented on #442
@crlf0710 Yes, this is one of the biggest gaps in the guide that I've been wanting to fill for a while.

Would you be willing to write down what you learned?

@spastorino perhaps we can schedule a zulip discussion with nagisa

[2019-09-09 20:54] spastorino opened #443 "Explain how to use gdb to debug the compiler"
There was a [discussion in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Attach.20GDB.20to.20x.2Epy.20test) about how to attach `gdb` to `x.py`.

@petrochenkov suggested running `gdb --args ./build/x86_64-pc-windows-gnu/stage1/bin/rustc src/test/ui/name.rs`, I think it would be great to have this explained on rustc-guide because it's a recurring question.

[2019-09-10 02:02] crlf0710 commented on #442
Sure, I'm happy to help with the guide as much as i can.

[2019-09-10 06:20] tshepang commented on #363
I rather jot down stuff as I listen and explore, that I way I use own words to describe what is said. Thanks for highlighting that option anyways... I think I will read that transcript when done so I can see if I missed anything.

[2019-09-15 03:07] mark-i-m commented on #436
Has there been any progress on this?

[2019-09-15 03:09] mark-i-m commented on #419
I would actually prefer for us to just so this, add it is a common question

[2019-09-18 07:37] gnzlbg commented on #443
https://github.com/microsoft/mimalloc/issues/77#issuecomment-532295918 had a similar issue, where the following command fails:

[code]

and while one could use `gdb --args` to run that command, the `./x.py` invocation that causes the failure sets "all kinds of environment definitions, like RUSTC_STAGE, RUSTC_REAL, RUSTC_LIBDIR etc. " which are not part of the user's environment and which would be

[2019-09-18 07:47] gnzlbg opened #447 "Document how to build rustc under the same conditions as in CI"
Sometimes the CI build fails, and when one tries running it locally, it succeeds.

@mati865 mentions [here](https://github.com/microsoft/mimalloc/issues/77#issuecomment-531860654) that one can build locally on linux under the same conditions as CI by doing:

[code]

[This other user](https://github.com/microsoft/mimalloc/issues/77#issuecomment-531462160) had to use this instead:

[code]

we should

[2019-09-18 09:43] gnzlbg commented on #443
So the proper way is to pass the `--on-fail={cmd}` flag to `./x.py`, see https://github.com/rust-lang/rust/issues/38686. That allows you running a command on failure.

If you pass it `--on-fail=env` it will print all environment variables. If you pass it `--on-fail=bash` it will spawn an interactive shell with the environment already properly set up. And in that shell, you can just use `gdb --args

[2019-09-18 09:44] pnkfelix opened #448 "Double-check we did everything from rust-lang/rust#40902"
rust-lang/rust#40902 had a long-ish ongoing list of items that we wanted to document somewhere official.

It was closed sometime after the `rustc-guide` was created, since it was no longer actionable within the rust-lang/rust repo. But I think there is some evidence that good ideas of things to document are still embedded in that issue and its comment thread.

[2019-09-18 09:51] pnkfelix commented on #443
that particular usage may currently be "broken" (see rust-lang/rust#47645), but maybe we could also fix that by passing some flag to `cargo` to make it stop redirecting stdin/stdout? Not sure.

[2019-10-09 01:29] Mark-Simulacrum opened #461 "future compat lints"
Once https://github.com/rust-lang/rust/pull/65193 (hopefully) lands, future compatibility lints will have a slightly new registration format:

A `@future_incompatible` "field" is used in the declare_lint macro, e.g.,

[code]

We will also want to include this comment somehow:

[code]

[2019-10-10 19:59] mark-i-m commented on #436
Fyi

https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/env.20vars.20and.20x.2Epy.20.2338686

[2019-10-16 05:04] crlf0710 opened #468 "Introduce something about rmeta and metadata in general"

[2019-10-17 14:19] nikomatsakis opened #470 "rename to rustc-dev-guide"
I propose we rename this repo to the rustc-dev-guide, to avoid confusion with the "rustc book" (and maybe we ought to rename *that* to the "rustc user's manual" or something, but that's a separate topic).

cc @rust-lang/compiler @rust-lang/wg-learning

[2019-10-17 14:56] mark-i-m commented on #470
Alas, users strike again. I've always felt computer science would be way more fun if we had no users...

[2019-10-17 15:09] nikomatsakis commented on #470
Does anyone know -- if I rename the repo, will links to the rendered format also redirect?

[2019-10-17 15:11] eddyb commented on #470
All `github.com` links will redirect but `github.io` ones won't.

[2019-10-17 16:51] mark-i-m commented on #470
Yes, github will redirect the links.

We should fix the following links in the book, though:
[code]

Additionally, we will probably have broken links in the rust-lang/rust and rust-lang/forge repos in some readmes, I think...

[2019-10-18 05:56] popzxc opened #474 "Lack of `README.md` in `rust` repository inner crates."
**Remark:** this issue is more like a topic for discussion, than actual change request.

## Description

Currently, most of crates in the `rust` repository don't have a personal `README.md` file.

There is a [`rustc-guide`](https://rust-lang.github.io/rustc-guide/) intended for developers, but it doesn't expose the purpose and the core moments of libraries.

Thus, a new developer has to dig in by

[2019-10-21 08:48] michaelwoerister commented on #470
👍 for renaming.

[2019-10-21 13:32] mark-i-m commented on #474
Yep, I actually went around deleting readmes a while back. They were all extremely out of date. I think the info you are looking for should be largely in the documentation or in this guide.

@spastorino perhaps we could start some sort of commenting initiative that seeks to add comments to the source?

[2019-10-21 16:28] spastorino commented on #474
@mark-i-m yeah, I like the idea and there are a lot of things to do. It's important to have them clear and prioritized. I think we should develop a good high level plan on what we want to accomplish.

Maybe this is a topic for one of the next meetings?.

[2019-10-21 17:18] popzxc commented on #474
If help would be needed, feel free to involve me :)

[2019-10-21 20:23] spastorino commented on #474
maybe jump on Zulip https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-learning and we can talk there.

[2019-10-23 19:14] CreepySkeleton opened #478 "Missing link in ice-breaker/about.md"
I think `[claim the issue]` is supposed to lead somewhere, but it doesn't

[2019-10-23 19:31] amanjeev commented on #478
Can you please elaborate? Are you a member you wants to have the issue assigned yourself?

[2019-10-23 19:41] mark-i-m commented on #478
@amanjeev I think they mean that the `[claim this issue]` text in https://github.com/rust-lang/rustc-guide/blob/master/src/ice-breaker/about.md is likely supposed to be a link but was not checked.

@Michael-F-Bryan is there any way to make the link checker check these sorts of links?

@spastorino @nikomatsakis What was this supposed to link to?

[2019-10-23 20:09] CreepySkeleton commented on #478
@mark-i-m

Yes, exactly.

Yes, I'm about to send such a PR.

[2019-10-23 20:29] spastorino commented on #478
I guess that should have been https://github.com/rust-lang/triagebot/wiki/Assignment or just saying claim this issue by commenting with `@rustbot claim`. Unsure what exactly the intention if @nikomatsakis was though.

[2019-10-23 20:44] CreepySkeleton commented on #478
Hm, it looks like there's checking via `mdbook-linkcheck` but it doesn't check for situations like this.

[2019-10-23 21:59] ehuss commented on #478
It is possible, but difficult.  pulldown-cmark has a broken link callback, but it doesn't work very well (it is global, and does not tell you *where* the link is).  I've experimented with this in mdBook, and found a ton of false positives, because `[foo]` is valid markdown, and is intentionally allowed.  It might have to be a pedantic-style check, due to the high false positive risk.

Fixing the c

[2019-10-23 22:07] CreepySkeleton commented on #478
OK, then we might set up a convention not to use any `[link]` links and replace them with `[link][]`. What do you think?

[2019-10-23 22:27] ehuss commented on #478
I don't see how a collapsed reference link would change anything?  I think it would also be difficult (and tedious) to enforce conventions.

What I would encourage is for people to use "View file" link in GitHub PR reviews and read the rendered output to make sure *any* markdown rendering issues are caught.  GitHub's renderer is usually close enough to mdBook's.

[2019-10-23 22:40] mark-i-m commented on #478
Yes, I think for now, the easiest way to do this would be to enforce it in the review process.

[2019-10-24 07:02] Michael-F-Bryan commented on #478
@mark-i-m I've added initial support for this in `mdbook-linkcheck`. At the moment pulldown-cmark doesn't provide the byte index of the broken link, so I've implemented [a small best-effort hack][1] using string searching.

This sort of incomplete link is valid markdown, so I'm only emitting a warning:

![Screenshot from 2019-10-24 14-58-35](https://user-images.githubusercontent.com/17380079/67461

[2019-10-24 14:27] togiberlin commented on #358
My notes are here: https://paper.dropbox.com/published/Cranelift-IR--AnSbfKJj2zL3oDb2qrCSqlZyBg-lL4893iTbm9kQtJ0r46T39X

[2019-10-24 14:27] togiberlin commented on #358
Current status: transforming notes to text

[2019-10-24 17:38] mark-i-m commented on #478
@Michael-F-Bryan Awesome! Is that on the linkcheck 0.4.0? Is there a setting to enable it?

[2019-10-24 17:38] mark-i-m commented on #478
That would be awesome.

[2019-10-24 17:58] spastorino commented on #478
Just asked @nikomatsakis and indeed he aimed to link to https://github.com/rust-lang/triagebot/wiki/Assignment/. @CreepySkeleton would you like to provide a PR?.

[2019-10-24 18:08] CreepySkeleton commented on #478
The intention here is to separate `[regylar text enclosed with square braces]` and `[collapsed link][]` use cases. I believe it would also be easier to automatically check such collapsed links, @Michael-F-Bryan any thoughts?

[2019-10-24 18:56] spastorino commented on #478
After #480 this is fixed. Closing this issue. Can you open a new issue or a PR when you have a solution for the link checking idea?.

[2019-10-24 18:56] #478 closed

[2019-10-24 19:12] CreepySkeleton opened #482 "Set automatic check for [links like that]"
Continuation of #478

# Summary

It would be great to check that if we have `some text [and a link]` than there's `[and a link]: http:/...` present somewhere in the document.

# Detailed description

While `[bracketed text]` with no `[bracketed text]: link://` is a valid markdown syntax and just literally means "bracketed text" this is almost never the intention. More likely, the author meant to i

[2019-10-29 20:43] Aaron1011 opened #486 "Document panic implementation"
The implementation of panicking is complex - it's spread across `libcore`, `libstd`, `libpanic_abort`, `libpanic_unwind`, and the platform-specific unwinding code. We should explain what all of the pieces are, and how the fit together.

[2019-10-29 20:44] Aaron1011 commented on #486
I'm working on this.

[2019-11-01 19:38] Michael-F-Bryan opened #489 "Broken Links"
I'm working on the next release of `mdbook-linkcheck` and found the following when running it against `rustc-guide`. Are these valid errors?

[code]

[2019-11-03 21:43] golddranks commented on #123
Hi, is there any up-to-date info how to run quickly tests for stdlib or liballoc without bootstrapping the compiler? I'm not touching the compiler itself, I'd like just to have a quick sanity checks while developing stdlib APIs. I tried: `./x.py test --stage 0 --no-doc src/liballoc`, but it errors out with a huge number of `error[E0063]: missing field `test_type` in initializer of `test::TestDesc`

[2019-11-04 02:41] mark-i-m commented on #123
@golddranks does this help? https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html#suggested-workflows-for-faster-builds-of-the-compiler

Otherwise, perhaps @Mark-Simulacrum has suggestions?

[2019-11-04 02:50] Mark-Simulacrum commented on #123
That's your best bet command these days, but as you've noted it doesn't quite work if the bootstrap compiler you're using (typically beta) has diverged its test executable sufficiently from what we're using in-tree. When you say "I'm using a recent nightly (2019-10-03)." I'm not sure what you mean, x.py typically doesn't look in your environment for a rustc at all.

You might be able to resolve th

[2019-11-04 07:38] golddranks commented on #123
Ah, sorry, I meant that my default compiler (via `rustup`) is a recent nightly, but it seems that x.py manages it's own toolchain, so never mind. Thanks for the pointers, I'll try them out.

[2019-11-05 16:23] mark-i-m commented on #385
We haven't seen this in a while, so I am closing...

[2019-11-05 16:23] #385 closed

[2019-11-05 16:33] mark-i-m commented on #377
@spastorino The link appears to be broken... Do you happen to know what was there...

Also, in the future, perhaps it would be best not to post links to discord?

[2019-11-05 17:40] spastorino commented on #377
What was there is the following ...

[code]

[2019-11-05 17:58] #482 closed

[2019-11-05 17:58] #489 closed

[2019-11-05 19:24] #378 closed

[2019-11-06 13:00] PotHix opened #500 ""Testing infrastructure" isn't up-to-date"
It seems the [documentation for the testing infrastructure](https://github.com/rust-lang/rustc-guide/blob/master/src/tests/intro.md#testing-infrastructure) is misleading. I can see the tests on Travis and AppVeyor ran 3 months ago.

I believe it's related to the migration to Azure Pipelines, but not entirely sure to contribute.

Either way, the links available for Travis and AppVeyor are not usefu

[2019-11-06 13:07] JohnTitor commented on #500
Good catch! Indeed, we should replace them with Azure Pipelines'.

[2019-11-06 13:09] PotHix commented on #500
@JohnTitor do we have more info about that available anywhere? I can try to submit a PR for it.

[2019-11-06 14:25] JohnTitor commented on #500
We should update it as follows:

- The sentence `Travis will automatically launch a build that will run all tests on a single configuration (x86-64 linux)` should be `Azure Pipelines will automatically [...] all tests on some configurations (x86_64-gnu-llvm-6.0 linux. x86_64-gnu-tools linux, mingw-check linux)`
  - The Azure Pipelines' link should probably point to https://dev.azure.com/rust-lang/

[2019-11-07 12:51] alecmocatta commented on #98
For anyone else coming here from google and looking for where the above link moved to: https://rust-lang.github.io/rustc-guide/implementing_new_features.html

[2019-11-08 01:40] PotHix commented on #500
Proposed a PR with the changes mentioned here. I can see there is another reference to Travis on `Testing on emulators`, but I'm not sure if we're still using that setup. Please let me know if I should just change to Azure Pipelines or if it should change entirely.

[2019-11-08 04:18] mark-i-m commented on #500
TBH, I'm not sure. I think your current PR is good though. If we discovered more we can do that change in another PR

[2019-11-08 16:14] #500 closed

[2019-11-11 11:14] oli-obk commented on #331
The list of mir optimizations inside the compiler can be found at https://github.com/rust-lang/rust/blob/2a9be46cc4b5aa09e978653aba071c7c52b531eb/src/librustc_mir/transform/mod.rs#L232-L282

[2019-11-11 12:44] igaray commented on #448
I reviewed the linked closed issue, and found the following:
Items which have not been address should have new issues created and be checked, and once all items are checked this issue could be closed.
Comments helping me find the unchecked boxed are appreciated!

- [x] How to build the compiler and how to run the compiler you built

  - [x] First off, explaining about --stage 1 and --incremental a

[2019-11-12 17:12] mark-i-m commented on #468
@crlf0710 I don't actually know anything about rmeta or metadata. Who even is the expert? Is there at least a code snippet you can point us to?

[2019-11-12 17:14] mark-i-m commented on #98
Thanks @alecmocatta
Updated above.

[2019-11-12 17:15] mark-i-m commented on #98
@Centril Do you happen to know what the procedure is for this (from Niko's post above):

[2019-11-12 17:17] Centril commented on #98
@mark-i-m It's documented in https://rust-lang.github.io/rustc-guide/implementing_new_features.html :)

[2019-11-12 17:24] mark-i-m commented on #98
Oh, lol ok. I will close this issue then!

[2019-11-12 17:24] #98 closed

[2019-11-12 19:14] crlf0710 commented on #468
@mark-i-m Sure, there's the crate `src/librustc_metadata` in tree. For the experts part, i guess @eddyb @petrochenkov can say a lot on this topic.

[2019-11-13 15:51] #377 closed

[2019-11-13 19:55] eddyb commented on #468
Btw, this is one of those areas I'd prefer refactoring into irrelevance - see https://github.com/rust-lang/rust/issues/65407.

[2019-11-14 05:28] crlf0710 commented on #468
@eddyb i believe metadata is the key to https://github.com/rust-lang/rust/issues/65427, do you think this issue is worth resolving before the refactoring you mentioned, or are they orthogonal?

[2019-11-14 19:28] mark-i-m commented on #470
I'm generally against renaming, as I think it will cause a lot of headaches. IMHO, those in favor of renaming should find the links that are going to break and make a list so that we can fix them.

[2019-11-14 19:37] mark-i-m opened #515 "">" in bash scripts"
So in order to make progress with this my suggestion is ...

1. Let's get rid of all of the prompt symbols in the guide
2. Open an issue to handle script blocks with css/js styling. I think we should add a prompt but as part of presentation and once you select text that part is not selected.

_Originally posted by @spastorino in https://github.com/rust-lang/rustc-guide/pull/460#issuecomment-541099

[2019-11-14 21:04] spastorino opened #516 "Add dump-mir-dir information"
Add some information about -Zdump-mir-dir which is not mentioned in the guide. I guess it makes sense to do so in src/mir/debugging.md when we talk about dump-mir

[2019-11-14 21:19] spastorino opened #517 "Add mir-opt-level information"
Document how to dump mir with optimization by using mir-opt-level.

`rustc +nightly -Zdump-mir=<val> -Zmir-opt-level=3`

[2019-11-14 21:19] spastorino opened #518 "Add dump-mir=<val> options"
`rustc +nightly -Zdump-mir=<val> -Zmir-opt-level=3`

[code]

[2019-11-14 21:26] spastorino commented on #331
I've opened https://github.com/rust-lang/rustc-guide/issues/517 which is related :)

[2019-11-15 21:30] eddyb commented on #468
I think they're unrelated, talk to Cargo people (e.g. @alexcrichton and @ehuss) about how pipelining works for `cargo build` and how it relies on `.rmeta`s for almost the entire compilation (except `bin`/`staticlib`/`cdylib` crates, which do the actual linking and need `.rlib`s).

But also, even without reusing the `.rmeta`s, you could make Cargo use the same incremental directory between `cargo c

[2019-11-16 01:59] crlf0710 commented on #468
@eddyb ok thanks!

Is it possible when you have time to give some brief introduction (in text, audio or whatever form) about the current status (or if the current status is not ideal, a sketch of new design) of crate metadata storage on disk and the metadata embedded into final rlib/dylib files. I'm eager to learn more about this, and it will be good include it as part of rustc-guide.

[2019-11-21 17:20] mark-i-m commented on #440
Is this still applicable? I can't seem to find that sentence anywhere...

[2019-11-21 21:47] tshepang commented on #440
Made obsolete by cc34e4a4c9fbaf2ca0d501e87c84c31943539362

[2019-11-21 21:47] #440 closed

[2019-12-03 19:16] lnicola opened #531 "Leftover run-pass reference"
See https://github.com/rust-lang/rustc-guide/blob/master/src/tests/intro.md#compiletest-test-suites

[2019-12-03 19:23] mark-i-m commented on #531
Would you mind opening a PR?

[2019-12-04 01:37] #531 closed

[2019-12-05 14:40] #355 closed

[2019-12-06 16:46] mark-i-m commented on #244
fixed in #530

[2019-12-06 16:46] #244 closed

[2019-12-06 16:47] mark-i-m commented on #48
Added "landing pad" to the list

[2019-12-06 16:48] mark-i-m commented on #50
I'm going to go ahead and close this issue, as it doesn't seem to be useful any more...

[2019-12-06 16:48] #50 closed

[2019-12-06 16:52] mark-i-m commented on #201
There is more discussion in https://rust-lang.github.io/rustc-guide/building/bootstrapping.html

So I will close this issue, but feel free to reopen...

[2019-12-06 16:52] #201 closed

[2019-12-06 17:10] mark-i-m commented on #241
@dwijnand We now have https://rust-lang.github.io/rustc-guide/stability.html

I will close this issue, but feel free to reopen or create a new issue.

[2019-12-06 17:10] #241 closed

[2019-12-06 17:17] mark-i-m commented on #419
We also have some discussion in the upcoming #530 ... I think we should move all of these into a chapter about interning and arenas...

[2019-12-06 17:41] spastorino commented on #419
@mark-i-m agreed, let's wait for Niko review, merge #530 and then maybe start moving some things around.

[2019-12-09 16:52] #133 closed

[2019-12-16 09:32] TheSamsa opened #537 "Wrong information where "json" error emitter can be found"
I am reading the rustc documentation right now, and I stumbled upon a misinformation as to where the error emitter for the json format lies in the rustc.
It looks like it was moved at some point to the same crate as the regular emitter `librustc_errors`.

I've creating a pull request which does change the paragraph.

[2019-12-17 14:35] #537 closed

[2019-12-22 04:55] tshepang commented on #470
Should we worry about anything outside https://github.com/search?q=org%3Arust-lang+rust-lang.github.io%2Frustc-guide&type=Code?

[2019-12-22 14:26] mark-i-m commented on #470
@tshepang Perhaps we make the old address redirect to the new one or add a link like "are you looking for the rustc-dev-guide? Click here"

[2019-12-22 14:26] mark-i-m commented on #470
And we should maybe make a blog post

[2019-12-22 15:02] tshepang commented on #470
@mark-i-m if that's all the links we care for, won't we get redirects for free, then fix such links at our leisure?

[2019-12-22 15:58] mark-i-m commented on #470
@tshepang No I don't think so. TMK, Github only redirects links under github.com, not GitHub pages. That's why the forge has a manual list of redirects...

[2019-12-22 16:44] pnkfelix commented on #470
If we are trying to address subtle differences in names, maybe we should spell out “rust compiler dev guide” rather than rely on the single letter “c” for the distinction between “Rust development” and “rustc development”?

[2019-12-25 23:59] mobop opened #543 "How does rustc use LLVM ?"
How LLVM is used?

[2019-12-26 08:39] JohnTitor commented on #543
Probably you want this: https://rust-lang.github.io/rustc-guide/codegen.html

[2019-12-29 17:20] mobop commented on #543
That part of the doc isn't complete yet

[2019-12-29 20:23] mark-i-m commented on #543
@mobop Unfortunately, we don't have much on the backend operations of the compiler yet. If you are trying to do something specific you might try hopping over to Zulip and asking there. Otherwise, the code sometimes has helpful comments. One of our goals for the next year is to fill in this gap in the guide...

[2020-01-03 03:52] mark-i-m opened #550 "When I added `#` marks, the lines didn't render in my web browser."
When I added `#` marks, the lines didn't render in my web browser.

_Originally posted by @Aaron1011 in https://github.com/rust-lang/rustc-guide/pull/521_

[2020-01-03 03:54] #486 closed

[2020-01-03 04:00] #550 closed

[2020-01-03 04:46] anp opened #552 "Document restrictions around `#[cfg(bootstrap)]`"
Based on https://github.com/rust-lang/rust/pull/67137#discussion_r362704411 I think there are likely a bunch of important things worth documenting around the use of `#[cfg(bootstrap)]`. The ones I can think of off the top of my head:

* Should only be used in libcore/libstd, not in the compiler
* Should not be used inside macros, as it leaks non-configurable elements of the standard library's macr

[2020-01-03 10:48] Mark-Simulacrum commented on #552
I think the first isn't quite right, it's fine to have cfg(bootstrap) in the compiler. What's not acceptable is having it in submodules (or other code that is not directly editable in-tree).

[2020-01-03 14:12] #375 closed

[2020-01-03 14:34] anp commented on #552
Ah, that was told to me by @eddyb. I'll let them clarify what they meant then.

[2020-01-08 18:22] pnkfelix opened #554 "Document setup of rust-analyzer specifically for rustc hacking atop "popular" IDE/editors"
I took an informal [poll](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/weekly.20meeting.202020-01-02.20.2354818/near/184657134) at the last compiler triage meeting to get an idea of what editors/IDEs the current set of rustc developers use to hack on rustc.

The reason I asked the question was that I wanted to know which environments we should aim to document decently in

[2020-01-08 18:30] pnkfelix commented on #554
Ah, [I had promised](https://zulip-archive.rust-lang.org/131828tcompiler/22121weeklymeeting2020010254818.html#184657587) at that same meeting to do the aforementioned survey via email, since I was worried that relying on the meeting alone was going to leave out contributors. I'll set up that survey next before I make any prioritization decisions based on the data above. (However, I feel pretty saf

[2020-01-12 20:31] mark-i-m opened #558 "Commit copies of papers?"
Yeah, papers' links are quite fragile (not found, bad connection, etc.) so it's pain not only here but also on rustc CI. We should store the PDFs? I think it's worth to open the issue to decide how we deal with them.

_Originally posted by @JohnTitor in https://github.com/rust-lang/rustc-guide/pull/557_

[2020-01-12 23:06] JohnTitor commented on #558
I'm not sure having copies are legal for license/copyright though, it's delicate I guess. Or it's enough to exclude specific links? (yeah, it's a hassle, I know.)

[2020-01-14 16:08] #543 closed

[2020-01-18 23:56] Centril opened #563 "Document slice patterns"
Tracking issue: https://github.com/rust-lang/rust/issues/62254
Stabilization PR & report: https://github.com/rust-lang/rust/pull/67712#issue-357908384
Version: 1.42.0.

The most relevant content here is the actual report.

[2020-01-20 23:44] mark-i-m commented on #563
@Centril Would you be up to write such a chapter? Otherwise, realistically, this will likely remain an issue on this repo, as we have a lot of backlog. (An issue is still better than nothing, though, I guess).

[2020-01-21 20:13] ecstatic-morse opened #564 "Document MIR dataflow framework"
rust-lang/rust#65672 just got merged, so we have a new framework for dataflow analyses in the compiler. I'm in the process of porting analyses that use `BitDenotation` to the new framework (see rust-lang/rust#68241). The new framework has decent in-line documentation, but I think newer contributors would benefit greatly from a high-level overview of dataflow analysis in `rustc`.

[2020-01-22 20:02] spastorino commented on #554
https://github.com/prabirshrestha/vim-lsp seem to be one of the most popular ones. Maybe targeting just that one or two would suffice for vim?.

[2020-01-22 20:04] spastorino commented on #558
Can't we tag certain links and have them giving warnings instead of hard errors?. So most of the links will fail in the situations described but we can tag links to papers in the ones we consider fragile in some way and have our system just giving warnings.

[2020-01-22 20:06] spastorino commented on #558
Saw we have an exclude attribute on linkchecker, maybe we can change it with warn and make all the checks to those that fail give us a warning.

[2020-01-22 21:38] mark-i-m commented on #554
I personally use neovim with `coc.nvim` + rust-analyzer.

[2020-01-23 02:32] mark-i-m commented on #558
Honestly, I don't think anyone will look at the warnings. I would prefer we just blacklist them....

[2020-01-23 02:37] JohnTitor commented on #558
Or it'd be also nice that we check the status code then ignore any failures other than 404.

[2020-02-13 17:51] JOE1994 commented on #558
Could using links to *ACM* or *IEEE* also be an option?
Links to *ACM* or *IEEE* are usually quite stable.

ex)
https://web.njit.edu/~dingxn/papers/BWS.pdf
=>   https://dl.acm.org/doi/abs/10.1145/2168836.2168873

[2020-02-13 17:59] mark-i-m commented on #558
@JOE1994 That's definitely an option, but we don't link check links to ACM DL because they tend to produce failures... still I don't think we expect those links to every really fail, so maybe we don't need to check them?

[2020-02-13 20:36] spastorino opened #577 "Document fmt in Other Tests"
It would be nice to document that we are testing the code is fmted here https://rust-lang.github.io/rustc-guide/tests/intro.html#other-tests

[2020-02-18 14:38] spastorino opened #584 "Explain the technical parts of the Walkthrough somewhere"
Was reading this https://rust-lang.github.io/rustc-guide/walkthrough.html and I thought that it could be very nice if we can explain the actual code of the PR. It seems like a feature that touches a lot of parts of the compiler so it may be a good idea to explain things there or later in the guide but using this same example.

cc @mark-i-m

[2020-02-18 14:46] spastorino commented on #584
Well I'm having second thoughts if this is a good example for what I'm thinking right now. But would be nice to explain a PR that touches a lot of the different parts of the compiler.

[2020-02-18 17:31] mark-i-m commented on #584
I think it mostly goes through parts of the front-end... I guess that chapter was aimed more at being about the processes of contribution, rather than technical content...

[2020-02-18 17:40] mark-i-m commented on #558
Actually, I'm coming around to the position that linking to ACM DL or IEEE Explore when possible would be preferable -- though I don't think all of the linked documents are in ACM or IEEE.

[2020-02-18 19:39] bjorn3 commented on #442
I wrote some advice from my experience writing a codegen backend at https://github.com/bjorn3/rustc_codegen_cranelift/issues/647. Maybe include some of it in the guide?

[2020-02-19 00:49] JOE1994 commented on #362
@rustbot claim

[2020-02-20 16:28] #577 closed

[2020-02-20 22:01] #419 closed

[2020-02-26 21:22] shika-blyat opened #591 "broken link"
In the query.md file:
https://github.com/rust-lang/rustc-guide/blob/master/src/query.md
the first link (which should point to the high level overview of rustc page) is broken. Easy to fix but i don't know which link  exactly it is supposed so i will let someone do a PR to fix/fix it myself if someone tells me which link it's supposed to be.

[2020-02-26 21:24] mark-i-m commented on #591
Hi @shika-blyat :)

Thanks for the report. The link seems to work for me.

If you are viewing on github, the links might not work properly. I would recommend the hosted version here instead: https://rust-lang.github.io/rustc-guide/query.html

[2020-02-26 22:04] SarthakSingh31 opened #592 "Wrong variable name in query-evaluation-model-in-detail.md"
https://github.com/rust-lang/rustc-guide/blob/9b3803d35d0e9ee80c0b42ee58ed472b16f06ea8/src/queries/query-evaluation-model-in-detail.md#L117-L123

`let list_of_items` should be `let list_of_hir_items`
or
`for item_def_id in list_of_hir_items { ` should be `for item_def_id in list_of_items { `

[2020-02-26 22:06] mark-i-m commented on #592
@SarthakSingh31 Thanks for the report :)

Would you mind opening a PR to fix this? The compiler is constantly under development, so things become outdated sometimes.

[2020-02-26 22:35] SarthakSingh31 commented on #592
@mark-i-m I created a pull request.

[2020-02-27 00:06] shika-blyat commented on #591
Well the problem was just coming from the link extension, so the PR above should fix it :)

[2020-02-27 00:08] #592 closed

[2020-02-27 00:19] shika-blyat commented on #591
Given what JohnTitor said, i'll close this issue

[2020-02-27 00:19] #591 closed

[2020-02-27 02:22] kornelski opened #595 "How to accept changes to ui tests?"
I've changed an error message, and now I need ui tests updated. I know there's a command for this, but I can't find it in the docs.

I'd expect this command to be listed here: https://rust-lang.github.io/rustc-guide/tests/running.html

[2020-02-27 02:29] JohnTitor commented on #595
It's documented here: https://rust-lang.github.io/rustc-guide/tests/adding.html#editing-and-updating-the-reference-files

But yeah, it should (also?) be in the running chapter.

[2020-02-27 03:22] kornelski commented on #595
Great! The other page answers my question. Unfortunately, googling sent me to the running page.

[2020-02-27 17:10] #595 closed

[2020-03-06 02:26] chrissimpkins opened #602 "rustc-guide to rustc-dev-guide transition"
The `rustc-guide` is being renamed to the `rustc-dev-guide`.  The discussion thread for this decision is https://github.com/rust-lang/rustc-guide/issues/470.

This thread is a record of the work in progress to make the transition.

- [x] prepare a PR renaming rustc-guide to rustc-dev-guide on `rust-lang/rustc-guide` (https://github.com/rust-lang/rustc-guide/pull/601)
- [x] prepare a PR renaming ru

[2020-03-06 04:26] JohnTitor commented on #602
I don't think we need a PR for rust-gha repo.

[2020-03-06 04:42] chrissimpkins commented on #602
Thanks @JohnTitor. I removed it from the list.

[2020-03-06 09:27] RalfJung commented on #470
FWIW, I feel like enough of these links are already spread across codebases, issues and bookmarks that redirects should be set up.

[2020-03-06 12:51] chrissimpkins commented on #602
All renaming PR's are in place with [Do not merge yet] titles *except* for `rust-lang/prev.rust-lang.org` where the repository README indicates that it has been deprecated since 2018 and there are no commits since 2018...  I can push a PR there today if anyone feels that is a blocker.  IMO we are ready for the repository rename.

[2020-03-06 13:48] spastorino commented on #602
why do you say so?. I found in the README a link to rustc guide which I guess should be updated? or is the information from there automatically updated from elsewhere?.

[2020-03-06 15:08] chrissimpkins commented on #602
Added https://github.com/rust-lang-nursery/rust-lang-nursery.github.io to the rename PR list

[2020-03-06 17:23] JohnTitor commented on #602
The repository is _only_ for testing GitHub Actions and I think it's unlikely that anyone will refer to it.

[2020-03-06 18:34] mark-i-m commented on #470
Agreed. It's probably worth putting up a site that gives the user an option between the compiler guide and rustc-dev-guide...

[2020-03-06 18:55] chrissimpkins commented on #602
Added https://github.com/rust-lang/rustc-guide/issues/470#issuecomment-595680655 to the TODO list (update redirects from `rustc-guide` to `rustc-dev-guide`.  We need to locate who can do this.

[2020-03-06 19:03] mark-i-m commented on #602
Perhaps @Mark-Simulacrum can guide us in how to set up a GH Pages site for this?

[2020-03-06 19:30] spastorino commented on #602
I think we should:

1. rename rustc-guide to rustc-dev-guide repo
2. create a fresh rustc-guide repo
3. adjust the description and README to note that the repo has migrate to rustc-dev-guide
4. redirect all the existing links from rustc-guide to rustc-dev-guide. For that we need to recreate the directory structure of the guide with index.html files that redirect to rustc-dev-guide

[2020-03-07 18:50] chrissimpkins commented on #470
@RalfJung We added this to the [transition plans](https://github.com/rust-lang/rustc-guide/issues/602).  We are planning to make the transition on Monday.  We still need to identify someone who can rename the rustc-guide repository to rustc-dev-guide and set up a new rustc-guide repository for the redirects.

[2020-03-07 19:09] chrissimpkins commented on #602
@spastorino We still need an admin for (1) - (~3).  @LeSeulArtichaut is planning to take care of (4)

[2020-03-07 20:41] mark-i-m commented on #470
@chrissimpkins One other thing... it's probably worth making announcements on internals and Inside Rust blog about the transition...

[2020-03-07 20:44] chrissimpkins commented on #470
Thanks @mark-i-m.  I added both as tasks in our list.  Will do!

[2020-03-07 20:47] chrissimpkins commented on #602
Added Rust Internals forum notification and Inside Rust Blog notification to the TODO list (https://github.com/rust-lang/rustc-guide/issues/470#issuecomment-596135613)

[2020-03-07 21:13] mark-i-m commented on #602
Thanks @chrissimpkins! I don't mind doing those two items, if you want to assign me

[2020-03-08 00:02] chrissimpkins commented on #602
@mark-i-m Ty!  Assigned in the TODO list.

[2020-03-08 01:12] mark-i-m commented on #602
Opened https://github.com/rust-lang/blog.rust-lang.org/pull/537 to be merged after the move

[2020-03-10 12:48] chrissimpkins commented on #602
https://rustc-dev-guide.rust-lang.org/ is showing 404 pages today

cc @RalfJung

[2020-03-10 12:52] JohnTitor commented on #602
@chrissimpkins Oops, it's my fault. I'll fix it shortly.

[2020-03-10 12:53] JohnTitor commented on #602
Because travis doesn't have config for CNAME, they won't add it when deploying.

[2020-03-10 12:57] chrissimpkins commented on #602
How do you work around the issue?

[2020-03-10 12:59] JohnTitor commented on #602
Opened #608, should fix the issue.

[2020-03-10 13:34] chrissimpkins commented on #602
@JohnTitor verified that https://rustc-dev-guide.rust-lang.org/ is fixed

[2020-03-10 14:08] chrissimpkins commented on #602
We've moved! :)

[2020-03-10 14:28] spastorino commented on #470
The guide was renamed. Tracking issue https://github.com/rust-lang/rustc-dev-guide/issues/602 for more context.

[2020-03-10 14:28] #470 closed

[2020-03-10 15:30] chrissimpkins commented on #602
Added new TODO item to address localizations of the www.rust-lang.org website.  Some of the translations are based on the "rustc guide" / "Rustc Guide" name.  PR for discussion: https://github.com/rust-lang/www.rust-lang.org/pull/1029#issuecomment-597145254

[2020-03-11 11:47] chrissimpkins commented on #602
This was [not necessary](https://github.com/rust-lang/www.rust-lang.org/pull/1029#issuecomment-597352515).  Marked as finished

[2020-03-12 21:18] spastorino commented on #602
Marking ` once everything is merged check if we lack more links in https://github.com/search?p=2&q=org%3Arust-lang+rust-lang.github.io%2Frustc-guide&type=Code ` as done since right now it's only rust-gha and prev.rust-lang.org which we decided to not update.

[2020-03-16 21:58] spastorino opened #614 "Make a consistent use of development rustc invokations"
Here https://rustc-dev-guide.rust-lang.org/compiler-debugging.html we do:

`./build/x86_64-unknown-linux-gnu/stage1/bin/rustc` in some places and `rustc +local` in some others.

I'd propose to use consistently `rustc +stage1` which if I'm not wrong it's what we explain how to setup at the beginning of the guide.

[2020-03-16 22:00] spastorino opened #615 "The text of the guide should not be included as code comments"
For instance, here https://rustc-dev-guide.rust-lang.org/compiler-debugging.html#getting-a-backtrace-for-errors we have a comment that says `$ # Now, where does the error above come from?` I guess we should take that out from comments and place that into regular text. There are probably more uses like that.

[2020-03-17 19:50] spastorino opened #619 "Collect a set of PRs that help understanding some parts of the compiler"
@rust-lang/wg-learning let's collect here PRs that may help readers understanding different parts of the compiler.

[2020-03-17 20:13] #89 closed

[2020-03-17 20:14] mark-i-m commented on #89
We added some skeleton chapters and have some other things in progress.

[2020-03-17 20:15] mark-i-m opened #620 "Fill in holes in backend chapters"
We are collecting holes issues in this doc so we can incrementally improve them: https://hackmd.io/fTJHEkb5TXuKh2ClBL_c_w

[2020-03-20 17:00] mark-i-m commented on #177
I came across this: https://gist.github.com/nikomatsakis/fe440aec437f7e8ad4cce8319954a973
and the related discussion: https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/reintegrating.20chalk.20into.20rustc/near/190518417

Would be good to include the info about early/late bound generics and why the difference exists.

cc @nikomatsakis @jackh726 #177

(Also, @nikomatsakis discord

[2020-03-21 20:34] AkechiShiro commented on #420
Hi, I have seen that [`BodyId`](https://rustc-dev-guide.rust-lang.org/hir.html) has been added also some explanations have changed, I don't know if this issue should still be open.

[2020-03-22 02:33] chrissimpkins commented on #602
Still waiting on https://github.com/rust-lang/rust/pull/69898 to close this.

[2020-03-22 22:17] chrissimpkins opened #628 "Removal of rustc_codegen_utils breaks mdbook builds"
It looks like the merge of https://github.com/rust-lang/rust/pull/69965 led to mdbook build fails on Travis: https://travis-ci.com/github/rust-lang/rustc-dev-guide/builds/154502721#L342

It is due to this link to the `librustc_codegen_utils` docs in `appendix/stupid-stats.md`:

[code]

The https://doc.rust-lang.org/nightly/nightly-rustc/rustc_codegen_utils/index.html URL lands on a 404 page.  Shou

[2020-03-22 22:22] mark-i-m commented on #628
@chrissimpkins `librustc_codgen_utils` has been dissolved into a bunch of places. It probably makes more sense to point to `librustc_codegen_ssa` and `librustc_codegen_llvm`.

[2020-03-22 22:28] chrissimpkins commented on #628
I'll push a PR with the updates shortly.  Thanks Mark.

[2020-03-22 22:44] chrissimpkins commented on #628
#630 should fix it

[2020-03-22 22:58] #628 closed

[2020-03-28 12:18] tshepang opened #637 "improve/fix "codegen" definition"
In the glossary, *codegen* is define so

I, instead, understood it as steps that actually generates machine code (which llvm is responsible for).

[2020-03-28 14:02] mark-i-m commented on #637
Hmm... yes, your definition seems more correct, though there is not a hard line, I guess.

[2020-03-28 23:28] anp opened #640 "Broken link to no-longer-extant `has_any_child_of`"
[CI is failing on an unrelated part of my change](https://travis-ci.com/github/rust-lang/rustc-dev-guide/builds/156240115#L339), and it looks like the `has_any_child_of` query linked in https://github.com/rust-lang/rustc-dev-guide/blob/master/src/borrow_check/moves_and_initialization/move_paths.md#cross-references no longer exists. If it had just moved I could add a commit to my PR taking care of

[2020-03-28 23:54] eddyb commented on #640
cc @ecstatic-morse

[2020-03-30 14:11] tshepang opened #645 "parse_tt section still mentions the obsolete sess and tts fields"
The change in the guide was done in 84d2a48f81b1acffe744cb54dada157a7b376591

[2020-03-30 18:01] tshepang opened #648 "add instructions on how to use rustc-driver-example"
This should help https://internals.rust-lang.org/t/using-the-rustc-interface-crate/11982/16

[2020-03-30 21:36] mark-i-m commented on #648
@tshepang see #639 and https://rustc-dev-guide.rust-lang.org/rustc-driver.html

[2020-03-31 04:11] tshepang commented on #648
Was getting compiler error, and realized I needed just do a...

    rustup component add rustc-dev

Instead of *use* (in the title), I should have said *run*.

[2020-03-31 20:43] #640 closed

[2020-04-01 02:44] anp opened #650 "Examples with `#![feature(...)]` work locally but break in production"
The examples on https://rustc-dev-guide.rust-lang.org/codegen/implicit-caller-location.html work in my local `mdbook serve` but the leading `#` is being stripped on the live site. I'll file a followup for that page but the more general footgun will remain.

Error message that results from the stripped character:

[code]

[2020-04-01 15:31] mark-i-m opened #656 "Document AST validation"
We added an empty skeleton chapter in #651

[2020-04-01 15:32] mark-i-m opened #657 "Document Pattern and Exhaustiveness checking"
We added a skeleton chapter in #651.

cc @Centril

[2020-04-01 17:02] Centril commented on #657
cc @arielb1 @varkor  @Nadrieril

[2020-04-02 01:25] mark-i-m commented on #619
https://github.com/rust-lang/rust/pull/70645/files

This thread illustrates two things:
- How to add a lint
- How to open a PR on April 1

[2020-04-02 02:33] spastorino commented on #619
@mark-i-m when I saw it I thought to add it to the list, please go ahead and add it to the HackMD.

[2020-04-03 01:21] mark-i-m commented on #619
@spastorino One thing that would be helpful is if (when you have time) you could add for each link what you think is to be learned from that PR.

[2020-04-03 17:22] #420 closed

[2020-04-03 20:57] mark-i-m commented on #648
@tshepang Yeah, that got me as well! Could you open a PR to add that as a note in the `Ex: type inference through rustc_interface` chapter?

Also perhaps it makes sense to finally remove the stupid-stats appendix?

[2020-04-04 06:53] tshepang commented on #648
yeah, stupid-stats is long overdue for removal

[2020-04-04 07:02] #648 closed

[2020-04-04 15:39] ehuss opened #664 "Define: niche"
I think it would be helpful to define "niche" in the glossary (even though the term currently isn't used in the guide).  The term is used in various places in the rustc source, and things like RFCs.

More info about the definition and etymology (it seems to be Rust-specific):
* https://internals.rust-lang.org/t/the-term-niche-when-referring-to-disallowed-bit-patterns-and-reusing-them-in-option-lik

[2020-04-04 17:12] mark-i-m commented on #648
@tshepang Did you want to open a PR to remove stupid-stats?

[2020-04-04 17:14] tshepang commented on #648
@mark-i-m let me do that

[2020-04-05 17:46] #418 closed

[2020-04-06 00:56] #650 closed

[2020-04-06 11:46] bjorn3 commented on #619
https://github.com/rust-lang/rust/pull/70705 may be a good fit. It adds a new trait that is automatically implemented by the compiler for all types.

[2020-04-06 16:45] spastorino commented on #619
Yes, will do at some point :).

[2020-04-08 21:40] Nadrieril commented on #657
How detailed does that guide aim to be ? Specifically, should we move there the in-depth explanation of the exhaustiveness algorithm that is currently at the top of `_match.rs` ? Or is that too detailed ?

[2020-04-08 22:23] Centril commented on #657
I think starting with the broad strokes, mentioning that there is an in-depth explanation, as well as linking to the paper would be a good start.

[2020-04-09 04:57] mark-i-m commented on #657
Generally, it's a bit of judgement call. The goal is just for the guide to be a reasonable starting point for being able to contribute. Generally, that means discussion of important design decisions, data structures, routines, or algorithms, as you see fit.

Another goal is that it should avoid mentioning details that are likely to change, and link to the rustdocs for the compiler as much as possi

[2020-04-10 19:52] nikomatsakis commented on #177
Hmm, I didn't know that Discord links break easily! Maybe I'll go back to my UUID technique of making links. =) (Embed a UUID one can search for)

[2020-04-14 20:11] mark-i-m opened #674 "Overview Chapter Followup"
This issue exists to track things we want to improve on. Please add things here:

- [ ] Perhaps move some of the content about command line parsing, lexing, and parsing to the appropriate chapters.
- [ ] More info on type checking and type inference.

[2020-04-14 20:11] mark-i-m commented on #674
cc @rust-lang/wg-rustc-dev-guide

[2020-04-18 16:11] #320 closed

[2020-04-25 18:12] mark-i-m commented on #122
I'm going to go ahead and close this as a duplicate of #15. But thanks for filing the issue @alexreg !

[2020-04-25 18:12] #122 closed

[2020-04-29 20:56] mark-i-m opened #686 "Document inline asm"
@Amanieu has written some notes here: https://github.com/rust-lang/rust/pull/69171#issue-375572066

(Sorry, I know we are attempting to reduce this sort of post in this sprint)...

[2020-05-03 08:30] phansch commented on #276
I think this issue can be closed as it's documented here now: https://rustc-dev-guide.rust-lang.org/building/suggested.html?highlight=llvm#building-with-system-llvm

[2020-05-03 17:31] #276 closed

[2020-05-04 19:21] spastorino opened #694 "Adding "Debugging rustc type layouts" to the guide"
@RalfJung allowed us to add this https://www.ralfj.de/blog/2020/04/04/layout-debugging.html in the guide. Would be nice if at some point we can add it.

[2020-05-05 07:35] RalfJung commented on #694
Indeed, consider that text APACHE+MIT licensed as per the terms of this repository.

[2020-05-06 19:13] mark-i-m commented on #180
I'm going to go ahead and close this, as much of it is already documented. Please feel free to reopen or file a new issue if something is missing.

[2020-05-06 19:13] #180 closed

[2020-05-06 19:22] mark-i-m commented on #209
It looks like we still don't have a better solution than to link to these directly, and frankly it seems to work fine, so I will close this.

[2020-05-06 19:22] #209 closed

[2020-05-06 19:24] mark-i-m commented on #265
We haven't had as many problems with this since adopting mdbook-linkcheck's new caching scheme, so I will go ahead and close this.

[2020-05-06 19:24] #265 closed

[2020-05-06 19:31] mark-i-m commented on #558
We haven't seen this in a while, so I'm going to go ahead and close the issue. It seems like linking to ACM or IEEE might be the right thing to do in the future when possible.

[2020-05-06 19:31] #558 closed

[2020-05-06 19:31] #602 closed

[2020-05-08 14:42] #15 closed

[2020-05-08 14:42] #398 closed

[2020-05-08 14:42] #645 closed

[2020-05-08 14:42] #176 closed

[2020-05-10 15:05] tshepang commented on #48
@alexreg did you refer to [the (now removed) compiler flag](https://github.com/rust-lang/rust/pull/70175) ?

[2020-05-10 15:12] alexreg commented on #48
@tshepang I think you meant to take @mark-i-m?

[2020-05-10 15:19] tshepang commented on #48
indeed I did

[2020-05-10 15:35] tshepang commented on #48
@alexreg what about gensym... [it did itself get removed](https://github.com/rust-lang/rust/pull/64623).

[2020-05-10 21:58] alexreg commented on #48
@tshepang Yep, good point. We can remove that from the list now.

[2020-05-10 22:44] mark-i-m commented on #48
I think the concept of landing pads still exists... not 100% sure, but I think they are code emitted for unwinding.

[2020-05-11 11:14] vext01 opened #701 "Document new mir-opt test format."
Hi,

It seems that the format of the mir-opt tests have recently changed. It'd be nice if this page could document the new format:
https://rustc-dev-guide.rust-lang.org/tests/adding.html

In the meantime, could someone confirm that mir-opt can no longer use elisions (`...`)?

I maintain a fork of rustc and I have a load of tests which rely heavily on elision. It wouldn't be possible to do exact co

[2020-05-11 13:25] mark-i-m commented on #701
@rust-lang/wg-mir-opt Would know best.

[2020-05-11 17:38] oli-obk commented on #701
I wrote docs in https://github.com/rust-lang/rust/blob/master/src/test/mir-opt/README.md Please let me know if you need more details

The thing is that with the new tests, you just pass `--bless` and the comparison files are automatically updated. Or is there another reason but it being very hard to adjust such files by hand that you want to have elisions?

[2020-05-11 17:40] oli-obk commented on #701
If you need other kind of diffs, I'd be happy to implement them, as we need a few others ourselves. E.g. what we want is to diff from the start of one optimization to the end of another, instead of just diffs of a single optimization.

[2020-05-11 17:46] mark-i-m commented on #701
@oli-obk Thanks! Would it make sense to add some of those docs to the guide and point to that readme?

[2020-05-11 19:55] spastorino commented on #701
Maybe even better if we can add self contained docs in the guide :).

[2020-05-12 07:32] oli-obk commented on #701
I think we should only have these logs in one place. I'd be ok with moving them to the guide and making the `src/tests/mir-opt/README.md` just contain a link to the (rendered) guide.

[2020-05-12 12:54] spastorino commented on #701
I'm not sure what's best but I remember we had a bunch of READMEs in the repo and this was more or less how rustc-dev-guide started, by extracting those into the guide. So maybe as @oli-obk has said, linking to the guide and in general migrating everything from READMEs to the guide and providing links from the READMEs to guide in general would be the best choice. Thoughts?.

[2020-05-12 19:01] mark-i-m opened #703 "Add more info on useful workflows"
- x.py with ra: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/IDE/near/197315300
- git worktree: https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/traits.2Fcanonicalization/near/196914317

[2020-05-15 15:05] mark-i-m opened #704 "Look through closures meeting"
Here is some useful discussion from Niko about type checking closures:

https://youtu.be/41pnkSS6MzY

https://hackmd.io/5N94DPFWQwCbjfYPMXFyGA

[2020-05-19 19:39] mark-i-m opened #707 "Add "landing pads" to the glossary"

[2020-05-19 19:40] mark-i-m commented on #48
Closing this in favor of #707

[2020-05-19 19:40] #48 closed

[2020-05-19 20:03] mark-i-m commented on #13
Triaged: not a whole lot of change. There was some discussion earlier with @chrissimpkins, @matklad and @Centril (who is taking some time off atm). Perhaps Chris can give an update?

[2020-05-19 20:35] mark-i-m commented on #64
Triaged: @davidtwco we were wondering if you had any thoughts you would like to write up? Otherwise, our current direction seems to be moving procedures to the forge....

[2020-05-19 21:45] chrissimpkins commented on #13
Definitely still planned. I am digging into the parser source and just submitted my first parser-area PR this week.  :)

Once I understand the source well enough I will dig in on the chapter if someone else does not get to it first.  The conversations that I held with Aleksey and Mazdak are in our Zulip channel for anyone interested in this information.  They informed the rustc-dev-guide Overview

[2020-05-19 22:46] mark-i-m commented on #13
@chrissimpkins This discussion right? https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/Parser.20Overview.20and.20Guide.20updates/near/192620162

[2020-05-19 22:48] mark-i-m opened #708 "New Diagrams in the guide"
It would be great to add diagrams to the guide. There have been a few discussions on zulip and some work by @chrissimpkins and @LeSeulArtichaut

- graphviz: https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/Proposal.3A.20New.20Rustc.20Guide.20Diagrams/near/189448735
    - https://hackmd.io/24S8FCKTS2mp8zVOdrDjww
- mermaid: https://rust-lang.zulipchat.com/#

[2020-05-19 23:43] davidtwco commented on #64
@mark-i-m I can’t think of anything that I’d write up at the moment - I submitted this issue so long ago that whatever details I was thinking of at the time have subsequently vanished.

I think the forge would be a good fit for this given what you’ve said.

[2020-05-20 02:26] chrissimpkins commented on #13
It looks like the conversation with Alksey was an impromptu discussion that occurred in a private thread. I copied the text below.

<details>
<summary>Details</summary>

Hi Aleksey! Our WG is working on a rustc Overview document for the rustc-dev-guide and I am interested in updating the lexer documentation. Do you happen to have some time in the next week that we could use to get together for 10

[2020-05-20 02:27] chrissimpkins commented on #13
correct!

[2020-05-26 13:53] matthiaskrgr opened #712 "emitting errors & diagnostics: example lint appears to be outdated"
I was looking https://rustc-dev-guide.rust-lang.org/diagnostics.html?highlight=LateContext#declaring-a-lint to find out how lints work and it seems the example is outdated, I could not find any references to `ExprWhile` in the rustc compiler code for example.

[2020-05-27 03:40] Aaron1011 opened #718 "Document `RUSTFLAGS_STAGE_` environment variables"
I just learned about these today: https://github.com/rust-lang/rust/pull/47836

Previously, I was modifying `src/bootstrap/bin/rustc.rs` and adding a check for a specific crate name. Knowing about these flags would have saved me time.

[2020-05-27 12:17] #694 closed

[2020-05-27 20:17] #664 closed

[2020-05-27 20:45] skade opened #722 "Prerequisites and their setup is not documented"
The guide for [building rustc](https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html) does not list prerequisites.

To my reading, those are:
* python
* a C compiler toolchain
* cmake
* rustc

[2020-05-27 21:39] arora-aman commented on #722
Probably get copy over from  https://github.com/rust-lang/rust/blob/master/README.md

[2020-05-28 23:10] mark-i-m opened #726 "Add more info about stages"
Some very helpful discussion here: https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/why.20stage.202.3F

[2020-05-29 16:20] #718 closed

[2020-05-29 23:49] #712 closed

[2020-06-03 20:46] #703 closed

[2020-06-05 16:11] #177 closed

[2020-06-07 13:55] mark-i-m commented on #91
How to get the parent of a defid (e.g. the module of an item): https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/How.20do.20I.20get.20the.20module.20that.20an.20Item.20belongs.20to.3F

[2020-06-07 13:56] mark-i-m commented on #91
How to get an Item from a DefId: https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/How.20do.20I.20get.20an.20Item.20from.20a.20DefId.3F

Also, would be good to talk about `def_kind`

[2020-06-10 10:53] nikomatsakis commented on #64
I could try to write something here maybe. I have a few thoughts.

[2020-06-10 10:59] nikomatsakis commented on #64
Key points would be:

* You don't have to spell out every detail -- in fact, maybe it's better if you don't
* The main thing people need is (a) the high-level intent, (b) some pointers into the code so they know where to get started, and (ideally) (c) some links into the rustc-dev-guide
* And of course follow-up with questions. It's a good idea to make explicit the best way for people to contact y

[2020-06-15 22:47] mark-i-m opened #748 "Add info about IDs in the compiler"
We should add the following content about IDs:

ID memo:
- `LocalDefId` - the best variant, if you can use it for something do it. Cannot address entities in other crates and fine-grained entities like individual expressions in the current crate. Can address any items.
- `DefId` - the second choice. Can address entities in other crates, but cannot address fine-grained entities like individual expr