[2020-06-23 12:51] jyn514 commented on #674
This goal is surprising to me, why prose? I find bullets easier to read.

You don't need to catalogue all the necessary information ahead of time (you can have unknown knowns). For example lints wouldn't need to state ahead of time whether they needed typeck to run or not: https://discord.com/channels/442252698964721669/443151243398086667/724028959209291817

I'm interested in helping with this.

[2020-06-23 13:53] tshepang commented on #674
I also find bullets more easy... prose can be intimidating.

[2020-06-23 17:17] mark-i-m commented on #674
That's helpful feedback. I think the original motivation was that the bullet points in this chapter already contain paragraphs, so prose may be a bit more natural...

Awesome! Thanks :)

So IIRC, that was referring to this para: https://rustc-dev-guide.rust-lang.org/overview.html#bootstrapping

Basically, there was a feeling that it moves too fast and wouldn't make sense to new comers. Any thought

[2020-06-23 17:42] #722 closed

[2020-06-23 17:44] mark-i-m opened #762 "Reorganize files"
- We should reorganize the .md files in the repo. Currently, a lot of them are at the top-level.
- We should rename the `./part-N.md` intro chapters to not have `N` so that we can move them around.

This might break some links, so maybe it's not worth it?

@rust-lang/wg-rustc-dev-guide What do you think?

[2020-06-23 19:02] jyn514 commented on #674
- There should be a link to https://en.wikipedia.org/wiki/Bootstrapping_(compilers)
- The first question everyone has is 'where did the first compiler come from?' We should link to https://github.com/rust-lang/rust/tree/ef75860a0a72f79f97216f8aaa5b388d98da6480/src/boot, even though it doesn't help people build rustc I think it will help understanding what's going on.
- > one of the major users of

[2020-06-23 19:06] jyn514 commented on #674
Oh hmm I see there's a separate `building/bootstrap.md` page. Maybe most of this section could be moved there?

[2020-06-24 17:54] spastorino commented on #762
Maybe we can do that and add redirects?

[2020-06-25 19:14] jyn514 opened #770 "Fill out MIR section on constants and constant promotion"
https://rustc-dev-guide.rust-lang.org/mir/index.html#representing-constants just says 'To be written'

cc @oli-obk @RalfJung I think this is your area of expertise?

[2020-06-26 08:01] RalfJung commented on #770
Yeah, I think so.
But also we plan some fundamental changes there with https://github.com/rust-lang/rust/issues/72396 which makes everything a lot cleaner.

[2020-06-28 17:19] mark-i-m opened #775 "Make conritbuting.md into a series of tutorials"
as per https://github.com/rust-lang/compiler-team/issues/296

cc @ecstatic-morse

We probably also want to figure out how to integrate relevant existing walkthrough sections (e.g. https://rustc-dev-guide.rust-lang.org/walkthrough.html) and planned ones.

[2020-06-28 19:23] ecstatic-morse commented on #775
Thanks for getting this moving with rust-lang/compiler-team#320! I would like to see the first two chapters reorganized so that they follow the typical order of a contribution to `rustc`. The following was what I had in mind:

- Initial setup
    - System requirements
    - Cloning and building
    - `config.toml`
        - `incremental = true`
        - `debug-assertions = true`
    - Add `./x.py

[2020-06-28 20:15] mark-i-m commented on #775
@rust-lang/wg-rustc-dev-guide was actually planning to focus on guide organize this sprint. @spastorino also had thoughts about this.

One major question is how much stuff should go in the guide vs the forge.

I do like the idea of organizing the chapters in order of what someone might need.

[2020-06-29 01:09] ecstatic-morse commented on #775
My impression of the guide/forge split is that the forge is specifically targeted at org members while the guide is targeted at everyone who wants to contribute. I envisioned that sections like "licensing" and "bors" would contain only the minimum amount of information needed by new contributors.

[2020-06-29 01:53] mark-i-m commented on #775
@ecstatic-morse This was my original intention for the rustc-dev-guide too. However, @nikomatsakis and @spastorino were looking to move to a model where the guide only contains information about how the compiler works, and other more procedure-related documentation would go to the forge. The thought was that the guide is getting rather long, and moving stuff to the forge would help make it less ov

[2020-06-29 20:07] nikomatsakis commented on #775
It's true, I've been advocating for documentation of procedures and things to move to forge, with rustc-dev-guide more focused on "how the code works", but I think that having some minimal coverage of bors and so forth would be ok, perhaps with the details over at forge.

Still, I don't quite agree with @ecstatic-morse's version that forge is mostly of interest to "org members". I imagine that for

[2020-06-29 23:55] spastorino commented on #775
Exactly what @nikomatsakis has said. The model would be something like what @mark-i-m has suggested, "the guide only contains information about how the compiler works, and other more procedure-related documentation would go to the forge" but including also what Niko has said, with some minimal coverage of other stuff that lives in forge that would could link for further details.

[2020-07-02 14:37] spastorino opened #778 "Add link to Responsive compilers - Nicholas Matsakis - PLISS 2019 somewhere?"
Just saw this talk https://www.youtube.com/watch?v=N6b44kMS6OM by Niko and I was wondering if we should include it in the guide. In general we could also have a talks section which are sometimes more entertaining than reading stuff.

cc @mark-i-m

[2020-07-03 03:29] mark-i-m commented on #778
Also a great talk: https://www.youtube.com/watch?v=LIYkT3p5gTs

[2020-07-03 04:02] JohnTitor commented on #778
Sounds good! Is https://rustc-dev-guide.rust-lang.org/appendix/compiler-lecture.html one of the good places? (That's more of "rustc Lecture Series" than an "Compiler Lecture Series", though.)

[2020-07-03 13:17] spastorino commented on #778
Another two from @pnkfelix ...

[Felix Klock - Rust: A type system you didn't know you wanted - Curry On](https://www.youtube.com/watch?v=Q7lQCgnNWU0)
[Felix Klock - Subtyping in Rust and Clarke's Third Law](https://www.youtube.com/watch?v=fI4RG_uq-WU)

[2020-07-03 15:28] #431 closed

[2020-07-14 15:05] lzutao opened #796 "Documenting what "scrutinee" mean specifically"
I see the word "scrutinee" used in Rust source, but I haven't never known its meaning.
So it is hard to remember and know when/why use that word.

[2020-07-14 15:06] lzutao commented on #796
Oh, it is documented in Reference: <https://doc.rust-lang.org/nightly/reference/glossary.html#scrutinee>.
I don't know if there are need to keep this issue.

[2020-07-14 15:13] JohnTitor commented on #796
I believe it'd be nice if this guide also had it.

[2020-07-14 19:33] jyn514 commented on #674
I'm interested in helping with this, I had to mess with queries a lot for https://github.com/rust-lang/rust/pull/73566.

[2020-07-14 19:37] mark-i-m commented on #674
@jyn514 That would be great!

[2020-07-14 20:08] jyn514 commented on #554
My ide experience with rustc has not been great. Setting any tool to run `x.py check` in the background completely breaks my build directory because x.py doesn't have build locks - cc @Mark-Simulacrum, maybe this is something that could be added? Until then though I'd be hesitant to recommend any extension that goes through cargo (notably RLS and rust_analyzer).

[2020-07-15 18:53] spastorino opened #799 "Add `Compiler::compile()` like docs"
As discussed here https://github.com/rust-lang/rust/pull/74119, that example may be a better fit included in rustc-dev-guide.

[2020-07-21 23:01] JohnTitor opened #806 "Rename `HAIR` (High-level Abstruct IR) to `THIR` (Typed HIR) in this guide"
Follow-up of https://github.com/rust-lang/rust/pull/74582
This proposes to rename HAIR to THIR and it'll be likely accepted.
We have some mention of HAIR here, so the follow-up work will be needed as Niko said.
I'll work on this but in case let's create an issue just as a reminder.

[2020-07-21 23:04] LeSeulArtichaut commented on #806
Oh, no more hair puns. 😕

[2020-07-22 00:28] mark-i-m commented on #806
In the immortal words of @Centril: "It's a HAIR cut"

[2020-07-27 20:32] spastorino opened #812 "rustc-middle shows up in text without explanation"
rustc-middle, if I'm not wrong first shows up here https://rustc-dev-guide.rust-lang.org/overview.html#tyty without mentioning what is it about. It would be nice to link to some part that defines it or just a brief mention there of what's about.

[2020-07-27 21:55] mark-i-m commented on #554
I've never actually done that. I just run stock rust-analyzer without changing any settings at all, and it works fine.

[2020-07-27 22:05] jyn514 commented on #554
Stock rust-analyzer runs `cargo check` in the background AFAIK. Either that or there's something else breaking my build directory 👀

[2020-07-27 23:21] mark-i-m commented on #554
Yep, that's my understanding as well, and yet somehow things just work... That said, I tend to mostly use rust-analyzer for completion and error messages; I don't use all of the extra IDE features, so perhaps there is something broken but I don't use it?

[2020-07-31 13:52] lzutao opened #817 "Changes after std move to library"
The first section of this chapter need to be reword: https://github.com/rust-lang/rustc-dev-guide/blob/master/src/compiler-src.md

Could be rewritten as:
The main Rust repository consists of two directory: `src` and `library`, under which there live many crates.
`library` contains the sources for the standard library.
While `src` is where compiler and its components live.
This document, of course,

[2020-07-31 16:21] mark-i-m commented on #817
Sorry, I've been a bit swamped lately. This is on my list. There is still some change going on, especially wrt to src/librustc_*. #815 fixed a bunch of stuff.

[2020-08-02 13:39] #806 closed

[2020-08-03 00:44] #817 closed

[2020-08-12 13:06] jyn514 opened #824 "Recommend `git absorb` in coding conventions section"
Suggested by @Mark-Simulacrum

https://github.com/tummychow/git-absorb

[2020-08-15 15:06] lzutao opened #825 "Explaining what is pure function in the context?"
The [Caching/Memoization](https://rustc-dev-guide.rust-lang.org/queries/query-evaluation-model-in-detail.html#cachingmemoization) section talks about pure functions.
Can we link to pure function definition?

[2020-08-15 15:10] jyn514 commented on #825
Isn't it already explained?

[2020-08-16 01:43] lzutao commented on #825
I mean it is more than that.
Quoted [wiki](https://en.wikipedia.org/wiki/Pure_function):

So I think it is a good idea to define exactly pure function in our cases.

[2020-08-17 01:46] giraffate opened #827 "Return from 41 chapter to 29 chapter when pushing a next button"
29 and 41 chapters have same content and next button refers to 30 chapter. It's an undesired behavior to return from 41 chapter to 29 chapter when pushing a next button.
https://rustc-dev-guide.rust-lang.org/mir/index.html

<img width="1792" alt="スクリーンショット 2020-08-17 10 44 33" src="https://user-images.githubusercontent.com/17407489/90350005-b8d5bf00-e076-11ea-8f4f-62c8053a13e1.png">

[2020-08-19 11:46] #827 closed

[2020-08-19 12:40] jyn514 opened #831 "Difficult to find 'How to structure your PR'"
When I was looking for info about how to structure my PR, I checked out the "A typical contribution" section of the Guide to Rustc development book, because based on the available sections, that seemed the most likely. I wouldn't have thought to look in the Coding Conventions sections (I wouldn't consider a PR a piece of code is why I'm guessing)

Originally posted by @alex-griffiths in https://ru

[2020-08-19 12:52] alex-griffiths commented on #831
As an addition to this, while it might be strictly necessary or even within the scope of the dev-guide, perhaps it could be helpful to include a brief comment (or even a quick overview of the required commands) about why the "No merge commits" point is made.

For new contributors like myself, this wasn't immediately clear to me, and I'm sure it's the same for others.

[2020-08-29 12:14] jyn514 opened #836 "Document speculative crate loading"
This has been giving me lots of trouble in https://github.com/rust-lang/rust/pull/75176, it would have been nice to know it existed and wasn't rustdoc's fault.

[2020-08-30 19:30] camelid opened #837 "Mention how long it takes to get code reviewed"
The Getting Started guide mentions how long it can take for bors to merge PRs, but it does not mention how long it usually takes until someone reviews a PR. It would be helpful for new contributors to see an estimation of how long it will take for someone to review their PR and after how long it is appropriate to ping. These numbers probably vary person-to-person, but it would be helpful if there

[2020-08-30 19:39] mark-i-m commented on #837
Unfortunately, it varies a lot based on which part of the project you are working on because there will be different reviewers for different parts of the compiler -- some of them take much longer to review than others. My general rule of thumb is to ping after ~10 days of inactivity. Some reviewers (e.g. eddyb) prefer to be pinged on zulip more often than that.

I'm not really sure what the best g

[2020-08-30 19:55] camelid commented on #837
Maybe start with just saying something like:

[2020-08-30 23:49] Mark-Simulacrum commented on #837
I would suggest that we direct people to wg-triage on Zulip, folks there have the best awareness of when to ping and vacations and what not, as well as adding human touch which can be quite helpful here I think.

That said, I personally think adding GitHub pings that are on a different frequency than triage existing pings is harmful - most people are already pretty overloaded with pings.

[2020-08-31 00:57] camelid commented on #837
So would you suggest saying something like this?

[2020-08-31 03:04] tshepang opened #842 "fix obsolete reference to diagnostic.rs"
There is no file named `compiler/rustc_typeck/src/diagnostics.rs`. I ran into this while trying to add a new error code: all diagnostics are now in `compiler/rustc_error_codes/src/error_codes.rs`, which has one very long `register_diagnostics!`, and nowhere else adds error codes. `register_long_diagnostics!` also seems to no longer exist, instead that file uses `include_str!("./error_codes/E0XXX.m

[2020-08-31 03:05] camelid commented on #837
Or rather, `t-release/triage`.

[2020-08-31 03:05] jyn514 commented on #842
I opened https://github.com/rust-lang/rustc-dev-guide/pull/841 fixing this.

[2020-08-31 03:13] #842 closed

[2020-08-31 14:17] Mark-Simulacrum commented on #837
Sure, though I might say "5 days" at that point. @dylan-dpc, do you feel like this is a reasonable thing for that group to field? To be clear, I wouldn't expect that we ping on all such requests (maybe even not most), just that we keep track of "author eagerness" and try to clarify expectations etc.

[2020-08-31 14:44] Dylan-DPC commented on #837
Normally we give the reviewer at least 1 week to review pull requests (since some of them review during certain times of their weekly schedule so it goes well with that).

[2020-09-06 18:24] jyn514 opened #850 "Add a section on how to use git"
Git is a major part of contributing to rust-lang/rust, but it sees almost no discussion in the guide. There should be instructions on:
- How to pull, branch, push, etc. This can just be a link to a git tutorial, but it should be there. It should also have basic instructions on GitHub (even if it's just 'the create pull request button is here').
- How to rebase. A lot of people are afraid of rebasi

[2020-09-06 18:30] jyn514 commented on #850
Possibly there should be instructions on how to do this in a GUI too, but I've never used a git gui for rebasing and I wouldn't be able to help with that bit.

[2020-09-06 22:32] workingjubilee opened #853 "Provide "how to use" for each section of rustc-dev-guide"
Any resource of any considerable length or value inevitably hits this point of recursion: it must instruct the user on how to use it. Thanks to the excellent work of the rustc-dev-guide contributors, the guide has not only hit this point of being so value it has more information than can simply be skimmed, it has lapped it. Now each section has plenty of information! ...enough that it, alas, requi

[2020-09-06 22:34] workingjubilee commented on #850
People should be reminded that making a branch is effectively free in git, so it's fine to just pop over to another branch to save their workstate and then pop back.

[2020-09-06 22:48] jyn514 commented on #850
'Git tips' would also be a useful section (maybe near `git worktree` in the suggested workflows page?) but I see it as something separate from this issue, which is 'how do I contribute at _all_'.

We should mention how to fix issues from adding a submodule by accident though: https://github.com/rust-lang/rust/pull/75949#issuecomment-687631020
Maybe we should also suggest `git add <file>` instead o

[2020-09-06 22:57] workingjubilee commented on #850
Right, I mean that as a heads-up before rebasing. "rebasing sounds intimidating but you can make an additional branch, push it to your fork on GH or whatever, and guaranteed you have your work saved."

Yeah, people should be adding by-file, or at least by-specific-directory, in a deliberate fashion, not `git add .`.

[2020-09-06 23:02] workingjubilee commented on #850
Graphical GUIs are always going to be a case-by-case for each, so covering rebasing in any of them will require someone who actually has used that tool, or finding other people's tutorials. However, many people lean on VS Code as a dev tool, and since VS Code is semi-officially-supported by rust-analyzer, so we should probably lean on assisting people with VS Code's support for git, as a start.

[2020-09-07 14:14] pickfire opened #854 "Document edition in UI test"
https://rustc-dev-guide.rust-lang.org/tests/adding.html

[code]

[2020-09-07 14:55] spastorino commented on #850
Niko showed https://devguide.python.org/ to me and found that there are some things about git there. Maybe we can use some inspiration from their devguide :)

[2020-09-07 14:58] jyn514 commented on #850
Hmm, that's mostly just branching - I'd like to cover rebasing in more depth. It's a good start though :)

[2020-09-07 15:28] spastorino commented on #850
Yeah I didn't carefully look at it, I was just guessing that there may be some good content there :). Still something that may inspire some of our things in the guide :).

[2020-09-07 22:05] jyn514 opened #855 "Add section on `@rustbot modify labels`"
This is [really hard to find for new contributors](https://rust-lang.zulipchat.com/#narrow/stream/242269-t-release.2Ftriage/topic/Label.20switching.20for.20outsiders.20is.20hard): https://github.com/rust-lang/triagebot/wiki/Labeling

[2020-09-07 22:16] camelid commented on #855
Yeah, I think I found out about it by seeing other people use it and then I found the triagebot repo wiki.

[2020-09-08 05:06] LeSeulArtichaut commented on #855
There’s also https://forge.rust-lang.org/platforms/zulip/triagebot.html#apply-labels-to-issues

[2020-09-08 05:08] jyn514 commented on #855
That section seems like it shouldn't be under zulip. Maybe 'GitHub' would be a better place?

[2020-09-08 05:09] jyn514 commented on #855
also I don't know anywhere that links to forge, we should probably fix that.

[2020-09-09 02:29] jyn514 commented on #850
Another good section would be how to squash commits (related to #824, but with less setup preferably).

[2020-09-09 07:19] #836 closed

[2020-09-09 14:30] jyn514 opened #866 "Document better that it's OK to use CI for testing"
Currently this is documented as

But it's hidden all the way down in https://rustc-dev-guide.rust-lang.org/building/prerequisites.html#hardware, which is a long way away from https://rustc-dev-guide.rust-lang.org/contributing.html#pull-requests (which is itself not easy to find).

We should
- [x] Add a note near the 'pull request' section that Rust has plenty of CI capacity for PRs and it's fine t

[2020-09-09 23:57] camelid opened #868 "rustaceans.org has an insecure certificate"
[rustaceans.org](https://rustaceans.org) is linked to from the dev guide [here](https://github.com/rust-lang/rustc-dev-guide/blob/91a4afbcc6bb746b9b96dadfbc3752b4f6e1c7a6/src/contributing.md#helpful-links-and-information), but visiting it produces a "security risk" or "privacy error" warning page in Firefox and Chrome. I think it's not a good experience for readers of the guide to go to a site tha

[2020-09-10 00:00] camelid commented on #868
Looking at the certificate, it seems this is @nrc's site.

[2020-09-10 00:02] camelid commented on #868
It looks the issue is that the cert expired 5 days ago.

[2020-09-10 00:20] jyn514 commented on #868
nrc has [left the project](https://www.ncameron.org/blog/leaving-the-rust-core-team/) so I'm not sure who's maintaining that website ...

[2020-09-10 00:55] camelid commented on #868
Hmm, I thought it might be his website given that the certificate is associated with his personal website. Is it not?

[2020-09-10 01:07] nrc commented on #868
I'm still maintaining it. There's an issue open on the rustaceans repo. I plan to fix it this week. Unfortunately it is not as simple as just renewing the certificate because there is a half-finished server migration .

[2020-09-10 01:08] camelid commented on #868
Okay, thanks @nrc!

[2020-09-10 01:10] jyn514 commented on #868
Closing in favor of https://github.com/nrc/rustaceans.org/issues/645

[2020-09-10 01:10] #868 closed

[2020-09-10 16:31] guswynn commented on #850
I found https://rustc-dev-guide.rust-lang.org/building/suggested.html#working-on-multiple-branches-at-the-same-time to be extremely valuable, adding more stuff about git usage would be great! (also, I know somewhere in the guide it talks about the style around squashed vs unsquashed commits, but reiterating that in a dedicated git section would be awesome)

[2020-09-10 21:28] jyn514 commented on #850
In the meantime, @GuillaumeGomez has a great blog post about this here: https://blog.guillaume-gomez.fr/Git-tips/1/3

[2020-09-10 22:32] jyn514 opened #873 "Document that you don't need to build the compiler to work on libraries"
This is probably already there _somewhere_, but it should be near the very start of the guide.

cc @tbomcc

[2020-09-11 08:30] GuillaumeGomez commented on #850
@jyn514 If you talk about squashing commits, it's https://blog.guillaume-gomez.fr/Git-tips/1/2 ;) (and thanks for linking to it!)

Although I wrote those tutorials mostly for rust contributors so I guess all chapters are applicable.

[2020-09-11 18:49] camelid commented on #850
Yeah, VS Code has decent interactive support for resolving merge conflicts.

[2020-09-11 18:49] camelid commented on #850
I would say instructions on resolving merge conflicts might be the most needed; they still scare me :)

[2020-09-12 16:07] #855 closed

[2020-09-12 18:12] #854 closed

[2020-09-13 14:48] jyn514 commented on #850
This could also mention `git range-diff` for reviewers: https://github.com/rust-lang/rust/pull/76571#issuecomment-691668496

[2020-09-13 18:12] camelid commented on #850
Wow, I've wanted something like that!

[2020-09-13 19:58] #564 closed

[2020-09-14 22:42] #748 closed

[2020-09-22 15:36] JakobDegen commented on #850
I'm going to start work on this. I'm not sure how it will go yet, but I'll do what I can and open a draft PR as soon as it makes sense so I can get feedback as soon as possible.

[2020-09-22 21:00] camelid commented on #385
This has been occurring (spuriously) again. Can we ignore `429 Too Many Requests` errors in linkcheck? (See #885 for some discussion.)

[2020-09-22 21:38] camelid opened #886 "Only run linkcheck on changed files"
From @mark-i-m in [this Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/move.20to.20gha/near/209911752):

This would probably reduce the number of the annoying 429 Too Many Requests errors.

[2020-09-22 23:44] jyn514 commented on #873
The 'somewhere' is https://rustc-dev-guide.rust-lang.org/tests/running.html#run-tests-on-the-standard-library. It should be moved to 'How to build and run the compiler' I think.

[2020-09-22 23:47] jyn514 commented on #873
It appears to also be documented at https://rustc-dev-guide.rust-lang.org/getting-started.html#building-and-testing-stdcorealloctestproc_macroetc. Neither is its own page.

[2020-09-23 01:13] camelid commented on #886
We could get the list of changed files with this command:

[code]

This command is a plumbing command according to [this Stack Overflow answer](https://stackoverflow.com/a/424142/11588505), so it should be fine to use in a script. The output looks good, it just lists each changed file on a newline.

Is it possible to only check certain files with mdbook-linkcheck?

[2020-09-23 01:36] mark-i-m commented on #886
TMK, no, but it looks like it wouldn't be too hard to add... it looks like you could add a flag to mdbook-linkcheck and plumb it through to here: https://github.com/Michael-F-Bryan/mdbook-linkcheck/blob/b6409a631f7294eeadca7cf9d77985488086ac67/src/lib.rs#L160 Then, just filter out the files you don't want...

[2020-09-23 01:47] camelid commented on #886
Opened https://github.com/Michael-F-Bryan/mdbook-linkcheck/issues/41.

[2020-09-23 20:01] mark-i-m commented on #886
Also useful: https://docs.travis-ci.com/user/cron-jobs/#detecting-builds-triggered-by-cron

With this we can leave off the aforementioned flag in cron jobs to get the full build.

[2020-09-24 19:51] jyn514 commented on #850
Related: https://github.com/rust-lang/triagebot/issues/821#issuecomment-698532003

[2020-09-25 16:49] ehuss opened #892 "Update logging for `tracing`"
It looks like the compiler moved to the `tracing` crate. I think at a minimum, the section at https://rustc-dev-guide.rust-lang.org/compiler-debugging.html?highlight=log#getting-logging-output should be updated to mention that.

I don't actually know why it was changed, what the differences are, or what the motivation was. https://github.com/rust-lang/compiler-team/issues/331 and https://github.co

[2020-09-25 17:43] follower commented on #775
_[FWIW some feedback from someone who is (again :) ) attempting to learn Rust, encountered a small typo in standard lib docs & wanted to contribute a fix (https://github.com/rust-lang/rust/pull/77050).]_

It seems the recent decision/changes to use the `rustc-dev-guide` as the canonical source for information on how to contribute the Rust project as a whole has led to a situation where initial con

[2020-09-26 08:16] mightyiam opened #895 "Writing Documentation section points to wrong docs build output path"
The [documentation on writing documentation](https://rustc-dev-guide.rust-lang.org/contributing.html#writing-documentation) claims

Where it seems that the correct path is `build/$TARGET/doc`.

[2020-09-26 12:45] #895 closed

[2020-09-29 07:49] mightyiam opened #900 "PR follow-up commits strategy at odds with comment from rust-highfive bot"
https://github.com/rust-lang/rustc-dev-guide/blob/6b5c62c6f8946a1a158bb1e84e1dabe87daee820/src/contributing.md

Is this paragraph

At odds with the bot comment https://github.com/rust-lang/rust/pull/77219#issuecomment-699454142 ?

[2020-09-30 14:17] jyn514 commented on #850
The remaining things to cover after #890:

- [ ] `git range-diff`
- [ ] `git rebase -i master`, `git rebase -i $(git merge-base HEAD master)`
- [ ] Possibly instructions for doing this in a GUI? We'd need some way to pick a specific gui, maybe it would be better to point to existing links on the internet.
- [ ] git aliases; @camelid suggested `git pushf` for `git push --force-with-lease`
- [ ] May

[2020-09-30 14:22] jyn514 commented on #900
The problem is that different reviewers have different preferences for how you handle git 😅 For example @Mark-Simulacrum prefers commits to be squashed, but I prefer extra commits so I don't have to worry about https://github.com/isaacs/github/issues/1834.

Maybe we could change it to say 'squash commits before it's merged'? I don't think there's a great universal guideline here.

[2020-09-30 14:29] Mark-Simulacrum commented on #900
I prefer the commits to be squashed mainly because I find it much easier to re-review PRs rather than trying to remember past state, usually because I go 1-2 weeks at least between reviews on a given PR and I need to figure out what was going on. It's much easier to do so when things are in a consistent state within each commit rather than fixup commits scattered in git history.

On small PRs, it'

[2020-09-30 14:30] LeSeulArtichaut commented on #900
I think squashing commits right before merging makes the most sense

[2020-09-30 14:36] jyn514 commented on #892
@oli-obk do you have time to work on this?

[2020-09-30 14:54] oli-obk commented on #892
We are not using spans or `#[instrument]` yet. There are no differences in usage yet. Before we can start using awesome tracing features we'll need to benchmark them and agree on a span rendering strategy. https://github.com/rust-lang/rust/pull/75143 explores span rendering, please look at it and leave opinions.

But yea, some minimal updating of the logging section would be a good thing. I'll try

[2020-09-30 14:57] igaray commented on #892
I'm currently working on the survey translations but in a few days I'll free up and could take this :) Won't claim it in case someone wants to do it right away.

[2020-09-30 15:32] mightyiam commented on #900
Is it OK if the commit strategy depends on the assigned reviewer?

[2020-10-03 18:04] LeSeulArtichaut opened #906 "Broken link to bibliography reference"
[code]

Apparently, this website got a redisign recently, but I haven't been able to find the paper. Opening an issue because this is going to cause problems with CI in all future PRs.

[2020-10-03 18:42] camelid commented on #906
We really need to ignore these 429 errors somehow; they give so many false positives which makes it hard to find the actual broken links.

[2020-10-03 20:12] #906 closed

[2020-10-03 21:05] LeSeulArtichaut commented on #850
I personally use [ohmyzsh's git plugin](https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git), which basically has all the aliases I need, and much more. (*Actually it has too many aliases, it's ridiculous.*) For example, `git push --force-with-lease` is `gpf`. It often reduces git commands to just 3, or rarely 4 letters

[2020-10-03 21:19] LeSeulArtichaut commented on #850
This one is mostly useful for reviewers, I don't think it should be a priority in the guide, I'm even unsure it should be there at all. It is definitely useful, but I think we shouldn't "spam" readers with a lot of commands they won't need, so they can focus on the ones that actually matter. Only my opinion though.

I don't think we should pick a GUI and do a "tutorial" for that GUI. I think what

[2020-10-03 22:03] LeSeulArtichaut commented on #708
I really think we should have diagrams for the MIR chapter. After all, MIR is a graph! I'm currently doing some experiments with mermaid

[2020-10-03 22:04] jyn514 commented on #850
Right, I was imagining a separate 'git for reviewers' section, maybe even on a separate page so they're easy to distinguish.

Yeah ... I still have a ton of trouble with submodules. There are long term plans to move to `git subtree` but I think it's blocked on upstream bugs: https://github.com/rust-lang/rust/issues/70651

[2020-10-04 00:25] #837 closed

[2020-10-04 14:26] jyn514 opened #911 "Explain what `Assemble` does in bootstrap"
I am not actually sure what this does. It can't just be copying files because I tried running the binary in stage0-rustc and it gave an error about shared objects:
[code]

_Originally posted by @jyn514 in https://github.com/rust-lang/rustc-dev-guide/pull/857#r498534586_

[2020-10-04 14:30] Mark-Simulacrum commented on #911
It just copies files. You get linker errors otherwise because cargo directory layout doesn't match our rpath (../lib iirc)

[2020-10-04 16:00] #911 closed

[2020-10-05 17:52] mark-i-m commented on #886
Michael-F-Bryan/mdbook-linkcheck#41 has merged... I'll try to put up some sort of PR soon...

[2020-10-06 19:40] jyn514 commented on #726
@mark-i-m do you think this was addressed by #857? Or is there more info that should be added?

[2020-10-06 20:41] mark-i-m commented on #726
I changed the title. I think the current docs still don't get me to the point where I fully/intuitively understand the requirements for bootstrapping. For example. I still find it hard to grasp the answers to things like this:

- Why is stage 2 needed at all? (which Mark answers in that thread)
- Why can't we make rustc build with beta std or vice versa?
- Why is cfg(bootsrap) needed?
- Why not in

[2020-10-06 20:46] jyn514 commented on #726
This is a policy decision (that I don't agree with, but has merits). See https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Building.20rustc.20with.20beta.20libstd for a _very_ long discussion, I'll try to get around to summarizing it at some point.

Does this help? https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html#complications-of-bootstrapping

Does this help?

[2020-10-06 20:55] Mark-Simulacrum commented on #726
Distributions (at least) want to be able to build the next Rust, say, 1.46.0 with 1.45.0. This means bootstrapping with beta in our CI (which will become bootstrapping with stable on beta branch, bootstrapping with previous stable on stable branch).

We also have the often overlooked, and somewhat softer, requirement that Rust 1.46.0 should be able to build 1.46.0; this is sort of covered by a sta

[2020-10-06 22:35] jyn514 opened #914 "Find a way to incorporate the 2D diagram into the section about bootstrapping"
@mark-i-m came up with a really great diagram about bootstrapping:
![image](https://user-images.githubusercontent.com/23638587/95267242-c56ace00-0802-11eb-880c-00a4dd1812f0.png)

Unfortunately, the diagram has turned out to be really controversial: [some](https://github.com/rust-lang/rustc-dev-guide/pull/843#issuecomment-684884862) [people](https://github.com/rust-lang/rustc-dev-guide/pull/843#iss

[2020-10-07 15:17] LeSeulArtichaut commented on #850
Started writing about submodules

[2020-10-08 21:11] #886 closed

[2020-10-12 16:57] #796 closed

[2020-10-12 19:52] jyn514 commented on #619
There's a work in progress list of these at https://hackmd.io/xD2fQk_cT_ui6Nt40jHPwA?edit.

[2020-10-16 21:07] Nadrieril commented on #657
I'm finally getting around to doing this!

[2020-10-19 00:59] workingjubilee opened #924 "Add context to "may be out of date" sections"
Many places in the guide mention "this section may be out of date", such as in [the parser](https://rustc-dev-guide.rust-lang.org/the-parser.html). This is unfortunately quite ambiguous because the writer usually has not contextualized it with a "when" or "why", and so the reader does not know how much to trust or mistrust the information. Such comments should be marked with enough data to provide

[2020-10-21 17:13] workingjubilee commented on #924
It's probably worth lifting this caveat from the "high-level overview of the compiler" into "About this guide": https://rustc-dev-guide.rust-lang.org/overview.html#constant-change

That way we clearly assert the base case of change initially.
Places we can update that assert the contents are possibly dated or that themselves might need an update due to time passing:
- [ ] [Parallel Rustc]
- [ ] [L

[2020-10-23 21:53] jyn514 opened #932 "Document stabilization PRs for the standard library"
Right now https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr is very geared towards the compiler itself. We should document what a stabilization PR looks like for the standard library. Info here: https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/const.20alloc.3A.3ALayout and example PR: https://github.com/rust-lang/rust/pull/75132

I'm imagining this

[2020-10-28 22:07] camelid opened #2175 "Explain difference between `rustc_middle::{something}` and `rustc_{something}` in rustc dev guide"
I think we are all agreed that splitting up `rustc_middle` would be a good idea
as it would reduce memory usage and increase parallelism when bootstrapping.
Ideally, we would split out each `rustc_middle` module into its own crate. For
example, `rustc_middle::ich` would become `rustc_ich` or something (I'm working
on this right now).

However, a lot of the `rustc_middle` modules *already have* cra

[2020-11-02 11:13] JohnTitor opened #940 "Switch from Travis CI to GHA?"
See https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/RIP.20travis and https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing :(

[2020-11-04 07:12] jyn514 opened #942 "Document using download-rustc for working on rustdoc"
This is the easy part of https://github.com/rust-lang/rust/issues/66581. It should go in `rustdoc.html`.

[2020-11-07 21:24] mark-i-m opened #943 "Notes about MIR generation for match expressions"
I wrote these up while working on https://github.com/rust-lang/rust/issues/72680

I'm not an expert on this code (this is the fist time I'm reading it), so take this with a grain of salt.

# Background

First, my assumption in the last post is incorrect. or-patterns aren't desugared into different patterns. IIUC, this is to avoid exponential blowup both in the size of the MIR and of the generated

[2020-11-10 21:42] jyn514 opened #946 "Add a section on the lexer and expand the section on rustc_ast"

[2020-11-10 21:45] jyn514 opened #947 "Create examples of using rustc for common tasks"
- Converting between IDs (HirIds, DefIds, LocalDefIds)
- Accessing the AST/HIR/MIR of a program

It turns out we have some examples already in https://github.com/rust-lang/rustc-dev-guide/blob/master/examples/, we should expand those and make them more prominent.

[2020-11-10 21:47] jyn514 opened #948 "Add a diagram of how rustc types relate to one another"
Often people have specific question of a thing they want to do: 'how do I get all function calls, as well as the DefId of the called function and the callee'? This isn't something the dev-guide can tell right away, because there's too many different things you can do with the compiler, but what we could do instead is show how to convert _between_ types. Ideally this would be a graph-like structure

[2020-11-10 22:25] jyn514 opened #949 "Add logging in rustc itself that links to the dev-guide"
It would really cool if, among the myriad other logging in rustc, we could also have 'dev-guide logging'. The idea is that you could have `RUSTC_LOG=[rustc_dev_guide]=info`, which shows logging from _all_ crates that has a `rustc_dev_guide` [`span`](https://docs.rs/tracing-subscriber/0.2.15/tracing_subscriber/filter/struct.EnvFilter.html#directives). I'm imagining something like this:

[code]

cc

[2020-11-10 23:56] camelid commented on #949
Why not just have links to the dev guide in the compiler docs? I'm not sure if I see how this would be useful.

[2020-11-11 00:09] jyn514 commented on #949
@camelid that requires you to know ahead of time how to find the compiler docs, and which modules are relevant. This would let you say 'give me all the relevant info' at once.

That said, maybe it's not much better than just browsing through https://rustc-dev-guide.rust-lang.org/ :/

[2020-11-11 00:11] camelid commented on #949
Why would someone think to run that command though? It seems much more likely they would just look through the dev-guide or the compiler docs.

[2020-11-11 00:13] camelid commented on #949
I think it makes more sense to have a page in the dev-guide that has a table that shows each theoretical part of the compiler (parser, type-checker, optimizer), the location in the source code (e.g., `rustc_mir::borrow_check`), and the chapter in the dev-guide.

[2020-11-11 00:14] jyn514 commented on #949
@igaray what do you think?

[2020-11-11 02:07] jyn514 opened #953 "Document what 'sysroot' means"
https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/deps.20in.20sysroot/near/216298694

[2020-11-20 17:17] cjkenn opened #962 "Document optimization fuel for MIR optimizations"
[This](https://github.com/rust-lang/rust/issues/77402#issuecomment-702248513) comment suggests adding some docs for optimization fuel usage. I agree with that sentiment, so now that https://github.com/rust-lang/rust/pull/79117 is merged I figure we can whip up a quick explanation for the change and why optimization fuels is used.

I'll write these docs, just wanted to make this issue in case it's

[2020-11-20 17:54] camelid commented on #962
@rustbot assign @cjkenn

[2020-11-20 18:12] jyn514 commented on #962
@cjkenn thanks for working on this! In general there's no need to open an issue if you're going to immediately open a PR, I normally use issues for things I don't have time for at the moment.

[2020-11-22 13:43] #962 closed

[2020-11-23 19:37] camelid opened #964 "Document how to rename a feature gate"
Leaving this as a to-do for myself.

@rustbot claim

[2020-11-23 19:52] jyn514 opened #965 "Document how to use gdb on rustc itself"
This requires me to first figure out how to do it; I know how for standalone files but I tried and failed to do this when compiling the standard library.

[2020-11-23 20:10] camelid commented on #965
cc https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/how.20to.20run.20gdb.20on.20rustc.3F

[2020-11-29 13:11] jyn514 opened #972 "Document how to add a new unstable (debugging) flag"
Example PR: https://github.com/rust-lang/rust/pull/79525.
It would go near the feature gate section: https://rustc-dev-guide.rust-lang.org/implementing_new_features.html#stability-in-code

[2020-11-30 01:02] #953 closed

[2020-12-08 14:13] jyn514 opened #986 "Document // error-pattern"
Example: https://github.com/rust-lang/rust/pull/76143/files#diff-23706e664a2a576e6e031e0be43b04ff0f1916b93c2358b518d67e53aa92fbc3L1

It's used when you don't have a span available in the error but still want to test the output.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/79621#discussion_r537715698_

[2020-12-11 21:49] camelid commented on #964
I did this in #968, but forgot to close the issue!

[2020-12-11 21:49] #964 closed

[2020-12-11 21:52] camelid commented on #900
Sometimes on larger PRs it's helpful to squash once or twice in the middle. E.g. I [had a PR](https://github.com/rust-lang/rust/issues/76934) that got up to 60 commits because we kept changing the approach, so it was helpful to squash before the final review.

[2020-12-16 17:54] felix91gr opened #990 "On MIR dataflow convergence"
So I have a nit to pick with [this part](https://rustc-dev-guide.rust-lang.org/mir/dataflow.html) of the MIR dataflow guide. In particular:

* I don't think it's quite right, and
* It might suffer from slight ambiguity.

Lemme explain. This is the text:

---

### Convergence

Your analysis must converge to "fixpoint", otherwise it will run forever. Converging to fixpoint is just another way of say

[2020-12-16 21:20] camelid commented on #990
cc @oli-obk since you know mir-opt

[2020-12-19 14:08] jyn514 opened #991 "Document how to set the color for logging output"
It would go in https://rustc-dev-guide.rust-lang.org/compiler-debugging.html#getting-logging-output.

cc @camelid

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/78548#issuecomment-732537267_

[2020-12-19 21:10] camelid commented on #991
I can do this since I implemented it :)

@rustbot claim

[2020-12-26 16:52] oli-obk commented on #990
Since we are working with `u128` at maximum, infinity on the right side is actually `u128::max_value()` (let's ignore `i128` for now, all reasoning works the same for it). Infinity on the left side is just `0`. So the height of the lattice is not infinite.

We should probably still treat that lattice as infinitely sized, so we don't end up having an algorithm walk a loop until overflow or somethin

[2020-12-26 17:00] felix91gr commented on #990
Of course. I even mentioned it would! ^^

[2020-12-26 17:07] felix91gr commented on #990
True, but that is just an implementation detail. If we wanted to, or needed to, we could expand our engine to effectively reason about arbitrarily high numbers (sorta like Maple and Mathematica do their symbolic algebra). Still, most of the implications of an infinitely tall lattice apply for those numbers, but you've covered that already :slightly_smiling_face:

I wonder... if there is an analysi

[2020-12-26 17:12] felix91gr commented on #990
It's just bad luck I guess :sweat_smile: but there's nothing we can do if they're not present.

Do you know if we have another expert on this topic in the group, that we could ask some?

[2020-12-26 17:19] oli-obk commented on #990
I do not

[2020-12-26 17:48] camelid commented on #990
Who's the original author? I'm pretty sure I'm the one who wrote that section (unless we're talking about something else). However, I'm not sure if I can help you since I'm still trying to understand data-flow analysis myself!

[2020-12-26 23:41] oli-obk commented on #990
Argh, sorry, words are hard. I meant the original author of the dataflow system in the compiler. ecstatic-morse wrote that and improved it over the last year. I can *use* dataflow at all since their rework, but I have no understanding of it (read theoretical background) beyond the implementation in the compiler.

[2020-12-27 01:38] camelid commented on #990
Makes sense, thanks for explaining :)

[2020-12-27 19:50] #778 closed

[2020-12-27 19:56] igaray commented on #614
@rustbot claim

[2020-12-27 19:56] igaray commented on #924
@rustbot claim

[2020-12-28 22:34] #614 closed

[2020-12-29 15:06] lnicola opened #995 "Broken link under Contributing / Introduction"
https://rustc-dev-guide.rust-lang.org/contributing.html#the-build-system

This one:

![image](https://user-images.githubusercontent.com/308347/103293249-27993080-49f8-11eb-8677-d9f2bf9e37c2.png)

[2020-12-29 20:08] #995 closed

[2020-12-30 15:30] rylev commented on #940
Would switching effect the number of runners that can be used by rust-lang/rust? I wasn't sure if runners were partitioned by org or by repo. I'd be happy to do this if people think it would be an improvement.

[2020-12-30 15:39] JohnTitor commented on #940
@rylev IIRC the limit on the number of jobs is divided between rust-lang/rust and the rest (that's why we have the rust-lang-ci org), and the number is enough to use GHA here. There's no concern for a while so I think it's okay to go ahead, I'm happy to review a PR :)

[2020-12-30 18:33] igaray commented on #965
Also see #443 if you haven't, possible duplicate issue.

[2020-12-30 18:39] jyn514 commented on #965
Yup, thanks.

[2020-12-30 18:39] #965 closed

[2020-12-30 19:55] camelid commented on #443
cc https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/how.20to.20run.20gdb.20on.20rustc.3F

_Originally posted by @camelid in https://github.com/rust-lang/rustc-dev-guide/issues/965#issuecomment-732399082_

[2020-12-31 00:08] #991 closed

[2021-01-04 00:21] camelid commented on #892
I fixed this in #997.

[2021-01-04 00:21] #892 closed

[2021-01-04 00:30] camelid commented on #615
That specific case was fixed in #992, though I imagine there are some cases remaining.

[2021-01-04 00:31] camelid commented on #707
Is a "landing pad" a link to the section that discusses the term?

[2021-01-04 00:42] igaray commented on #707
I was looking at this the other day, my interpretation of the issue is that it is just adding to the glossary a general definition of landing pad and contextualize it somewhat for the rustc.

I was thinking of something like "A section of user code intended to catch, or otherwise clean up after, an exception."

[2021-01-04 00:46] jyn514 commented on #707
https://llvm.org/docs/ExceptionHandling.html#overview

[2021-01-04 11:54] lzutao commented on #825
jyn514 in https://github.com/rust-lang/rustc-dev-guide/pull/1001#issuecomment-753702663

Maybe I was too picky about definition of "pure function" in caching implementation of rustc.
If Caching/Memoization of rustc may have side effects (mutation of local static variables, non-local variables, mutable reference arguments or I/O streams), the current explanation in #1001 is good enough.

Closing as

[2021-01-04 11:54] #825 closed

[2021-01-04 18:43] rylev opened #1006 "Replace all todos with issues"
The guide is filled with lots of todos. We should ensure that these todos are relevant, have issues, and that the todos references there issues directly in the text.

[2021-01-06 09:55] rylev opened #1009 "Define "definition", "node", and "item" more precisely in section on hir"
In the guide on [hir](https://rustc-dev-guide.rust-lang.org/hir.html), the terms "definition", "node", and "item" are used without much explanation which leaves the terms vague and fuzzy. If possible, we should try to more precisely define them so that newcomers have a better picture in their head of what they refer to.

[2021-01-06 10:00] rylev opened #1010 "Define "existential impl Trait" and "universal impl Trait""
In the section on AST to HIR [lowering](https://rustc-dev-guide.rust-lang.org/lowering.html), these terms are used without explanation or definition. Perhaps they should be added to the glossary and then linked to.

[2021-01-06 10:06] rylev opened #1011 "Define `DefCollector` in HIR lowering section"
In the section on AST to HIR [lowering](https://rustc-dev-guide.rust-lang.org/lowering.html), the `DefCollector` is mentioned without explanation. We should talk more about what it is.

[2021-01-06 11:09] rylev opened #1012 "Point to `rustc_ast_lowering` and `LoweringContext` as places where AST to HIR lowering occurs"
In the section on AST to HIR [lowering](https://rustc-dev-guide.rust-lang.org/lowering.html), there is no mention of where lowering actually takes place or what mechanisms are used to perfom lowering.

[2021-01-07 18:42] jyn514 commented on #1011
There are autogenerated docs at https://doc.rust-lang.org/nightly/nightly-rustc/rustc_resolve/def_collector/struct.DefCollector.html.

[2021-01-07 18:43] jyn514 commented on #1010
'existential' means types in return position (`-> impl Future`), 'universal' means in argument position (`f: impl Future`).

[2021-01-07 18:44] jyn514 commented on #1009
- [`Node`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/enum.Node.html)
- [`Item`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/hir/struct.Item.html) (but I haven't read the text, it might also mean the general concept of an item: https://doc.rust-lang.org/stable/reference/items.html#items)
- Maybe 'definition' is https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/

[2021-01-08 11:15] LeSeulArtichaut commented on #1009
I think "definition" is anything that has a DefId, which can be any variant of [DefKind](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/def/enum.DefKind.html)

[2021-01-09 15:48] igaray opened #1014 "Add mdbook-toc"
[mdbook-toc](https://github.com/badboy/mdbook-toc) is an mdbook preprocessor that allows auto-generating TOCs. This is useful for long sections with many subtitles.

- [x] Add the preprocessor configuration to `book.toml`
- [x] Add the preprocessor to the CI configuration
- [x] Add the preprocessor dependency and usage to the instructions on how to contribute to the guide.
- [x] Identify sections

[2021-01-09 15:49] jyn514 commented on #1014
Related: https://github.com/rust-lang/rustc-dev-guide/issues/853

[2021-01-10 22:06] igaray commented on #1006
@rustbot claim

[2021-01-10 22:23] #924 closed

[2021-01-10 22:23] jyn514 commented on #1006
@igaray FYI I think @rylev has already been working on this a fair bit (at least, they've definitely opened a bunch of issues :laughing:)

[2021-01-10 22:26] igaray commented on #1006
Roger! I'll hold off for a bit then.

[2021-01-11 00:02] camelid opened #1018 "Add machine-readable dates to keep docs up-to-date"
Is there someway to make the data references machine parseable? We could then write a simple tool to remind us when references are ~6 months old, and we should check it they’re still true.

_Originally posted by @rylev in https://github.com/rust-lang/rustc-dev-guide/issues/1013#issuecomment-757342522_

[2021-01-11 00:04] camelid commented on #1018
I suggested one way of doing it here: https://github.com/rust-lang/rustc-dev-guide/pull/1013#issuecomment-757400029

Another way is to use HTML comments like ``, which seems very feasible. Then we can add those comments to parts of the docs that say "As of now" or "As of January 2021" and then we can have a GitHub Action that automatically creates an issue after 6 months saying "Check in on this s

[2021-01-11 18:08] rylev commented on #1006
@igaray feel free to take this if you want. I won't stop you! ❤️ Otherwise I can try to get to it some time this week.

[2021-01-12 18:52] rylev commented on #1009
I don't think this is fully statisfying of an answer. I think we can certainly say that the precise answers are what was linked above, but I think it's also important to give approximate answers. For instance, the definition of `definition` could be:

The goal is provide an intuition of what these things are not to come up with the absolutely most precise definition we can think of.

[2021-01-12 20:24] camelid commented on #1009
*That's a bit of a circular definition though: *a definition is something that's defined.

[2021-01-13 13:26] rylev commented on #1009
I acknowledge it’s a bit circular, but it can be clarifying particularly if we add “defined in Rust code” as that can clarify to people we're talking about a direct definition from code and not something more specific.

FWIW, if I had seen this when first reading the guide, the explanation would have been clearer to me.

[2021-01-13 21:21] jyn514 commented on #1018
We decided in [today's meeting](https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/meeting.202021.2E01.2E13/near/222647082) that we should do this with a GitHub action that runs monthly and opens at most one issue with checkboxes for each section of the guide that's out of date (and preferably tag it with E-easy).

[2021-01-13 21:54] jyn514 commented on #762
We are definitely planning to rename the part-N files, which will also require figuring out how to set up redirects so the links don't break. After that we may or may not move things into subdirectories depending how @igaray feels. Personally I don't think it's particularly important, but it doesn't hurt either.

[2021-01-14 09:06] saki-osive opened #1021 "Fixed a typo in readme.md and corrected a hyperlink for MIR"
### Issue for the PR #1020

This is an issue for the PR #1020 I have corrected the hyperlink for MIR in the page https://github.com/rust-lang/rustc-dev-guide/blob/master/src/part-5-intro.md

The link that originally pointed to the highlighted ```MIR``` was incorrectly set to https://github.com/rust-lang/rustc-dev-guide/blob/master/src/mir/index.html. I have set it to https://github.com/rust-lang/r

[2021-01-14 22:11] camelid commented on #1021
By the way, you don't need to open an issue for small PRs like this!

[2021-01-14 22:11] #1021 closed

[2021-01-15 05:46] saki-osive commented on #1021
Okay, got it, thanks.

[2021-01-19 02:50] camelid commented on #1018
Status update:

I've been working on this, and I think it's almost done! :tada:
I'm not familiar with GitHub Actions beyond basic `cargo build` stuff, so I
think I'm going to test it on a private repo first to make sure it works.

I also had an idea for a way to make sure people use ``:
We add another GitHub Action as part of CI that looks for the phrase `as of now`
(case-insensitive and with vary

[2021-01-20 10:06] rylev commented on #1018
@camelid FYI: we're currently using TravisCI though there is an issue for switching to GitHub Actions #940

[2021-01-20 17:33] #1014 closed

[2021-01-20 22:58] camelid commented on #1018
Yeah, I think it's better if new things are added to GitHub — plus it's easier since it seems GitHub Actions would have better integrations with GitHub, e.g. for opening issues ;)

[2021-01-22 16:49] guswynn opened #1034 "Linkcheck appears to not find any links"
when i run
`RUST_LOG=trace mdbook build`
I get:

```2021-01-22 08:35:53 [WARN] (mdbook::renderer): Renderer command `../../ci/linkcheck.sh`
uses a path relative to the renderer output directory `/Users/azw/repos/rustc-dev-guide/book/linkcheck`. This was previously accepted, but has been deprecated. Relative executable paths should be relative to the book root.
Checking files changed in master...:

[2021-01-22 16:51] guswynn commented on #1034
when I run `mdbook-linkcheck --standalone -f src/git.md book/` it also finds no links. It appears that mdbook uses stdin to communicate some context to renderers, perhaps that is broken in linkcheck.sh

[2021-01-22 17:47] jyn514 commented on #1034
@guswynn this is intentional, if we don't cache the changes then you always get 429. If you change a file, it should detect the change and look for dead links.

[2021-01-23 12:53] m-ou-se commented on #932
This missing documentation caused more confusion yet again in https://github.com/rust-lang/rust/issues/73831.

We should fix this. (:

[2021-01-23 13:18] m-ou-se commented on #932
Our most up-to-date info on this is: https://raw.githubusercontent.com/rust-lang/rust/master/.github/ISSUE_TEMPLATE/library_tracking_issue.md

[2021-01-23 18:40] camelid opened #1035 "Write up quickstart for creating new mir-opt pass"
Leaving as todo for myself:

Write this up: https://github.com/rust-lang/rust/issues/76579#issuecomment-765865516

[2021-01-23 21:39] camelid commented on #1018
I tested this on a private repo, and confirmed that it works! 🎉

PR: #1037

[2021-01-24 00:51] KodrAus commented on #932
There's nothing there yet, but we do have a repo now that we should definitely document this in: https://github.com/rust-lang/std-dev-guide

[2021-01-24 06:18] lucaszanella opened #1038 "No src/librustc_llvm as sais in dev guide"
On here https://rustc-dev-guide.rust-lang.org/compiler-src.html it says

but there is no `src/librustc_llvm`

[2021-01-24 13:18] #1038 closed

[2021-01-27 15:29] asquared31415 opened #1040 "Suggestions to use system LLVM link to a section that no longer exists"
At the bottom of [Getting Started - Configuring the compiler](https://rustc-dev-guide.rust-lang.org/getting-started.html#configuring-the-compiler) there is a sentence about using the system LLVM that includes a link that would have previously had instructions on how to set that up.

<br>

Additionally, [Adding a new target - Specifying a new LLVM](https://rustc-dev-guide.rust-lang.org/building/new

[2021-01-28 01:13] ehuss opened #1041 "Glossary page is corrupted"
The [glossary page](https://rustc-dev-guide.rust-lang.org/appendix/glossary.html) is not rendering correctly.  Currently, it looks like this:

<img width="762" alt="image" src="https://user-images.githubusercontent.com/43198/106075579-bd40e200-60c2-11eb-91ba-3bdff26bef1e.png">

It looks like this is caused by mdbook-toc.  Looking at the implementation, it looks like it is using pulldown-cmark-to-c

[2021-01-29 16:09] igaray commented on #1041
I think I found the problem.

The `<span>` element in the tables is triggering pulldown-cmark-to-cmark to include a spurious newline, which causes the following table cell to be re-rendered in markdown as a new row.

This change was introduced in pulldown-cmark-to-cmark [here](https://github.com/Byron/pulldown-cmark-to-cmark/pull/11)

Still thinking what we can do about it.

[2021-01-29 18:41] ehuss commented on #468
I went ahead and wrote something up in #1044 on this.  I realize things change over time, but I think a little information is useful.  If anyone following this issue can give it a read, please let me know if anything is missing you'd like to see (or if you notice anything wrong).

[2021-01-29 19:23] camelid commented on #1041
This doesn't solve the underlying problem, but we could change the layout of the Glossary to be like:

[code]

which should "solve" the issue. I think the current Glossary layout is hard to read and navigate as it is, this approach would mean:

- We can get of the `span` tags, which are kind of a hacky approach
- We can more easily link directly to glossary items
- The glossary would be 100% pure

[2021-01-29 19:25] igaray commented on #1041
I like this approach, if there's consensus I'll report the root cause upstream and "fix" ours this way.

[2021-01-29 19:44] ehuss commented on #1041
That is how it is done with [Cargo](https://doc.rust-lang.org/cargo/appendix/glossary.html) and the [reference](https://doc.rust-lang.org/reference/glossary.html). It takes up a lot more space, but overall I think it works.

[2021-01-30 16:54] tshepang commented on #707
Here's my attempt...

[2021-01-30 17:02] tshepang commented on #707
It's also tempting to use the term *exception handler*, but I don't know how to explain that since Rust doesn't have exceptions.

[2021-01-30 19:03] LeSeulArtichaut commented on #707
"Panic handler" maybe?

[2021-01-30 20:10] jyn514 commented on #707
That's ambiguous with https://doc.rust-lang.org/nomicon/panic-handler.html IMO. This is more similar to a catch block, there are landing pads at the end of *every* scope.

[2021-02-01 09:50] rylev commented on #707
Since landing pads don't really have a analogy to any *language feature* but are instead used in the implementation of stack unwinding (which are in turn used by exceptions in C++ and panics in Rust), I don't think we should use "panic handler" or "exception handler". @tshepang's attempt is a good start.

[2021-02-01 18:31] #932 closed

[2021-02-04 00:29] #1018 closed

[2021-02-04 02:10] camelid commented on #1018
Since it's February 3, and thus we missed the start of the month, and also to test it, I'm going to manually trigger a run of the date-checker now!

[2021-02-04 02:11] github-actions[bot] opened #1046 "Date Reference Triage for 2021-02"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-02), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-02-04 02:13] camelid commented on #1018
It worked! #1046

[2021-02-04 16:34] #468 closed

[2021-02-09 17:03] jyn514 commented on #1034
@guswynn is there any change you think we could make here? Otherwise I don't see much point in keeping the issue open. Maybe we should document this in the readme?

[2021-02-09 18:35] guswynn commented on #1034
@jyn514 documenting how it works would be great!

[2021-02-12 23:31] pierwill opened #1052 "Update README after submodule change"
Given the removal of the guide as a [rust](https://gihub.com/rust-lang/rust) submodule in https://github.com/rust-lang/rust/pull/81848, will the instructions at the bottom of this repo's README need updating?

[2021-02-13 12:52] VitalyAnkh commented on #1041
Could I make a PR to solve this in @ehuss 's approach?

[2021-02-13 13:05] igaray commented on #1041
@VitalyAnkh absolutely! I had started on this but hadn't gotten to fixing all the references in the rest of the book. Go ahead!

[2021-02-13 16:05] VitalyAnkh commented on #1041
I find it's hard to add link without `<span>` element..

[2021-02-13 16:10] LeSeulArtichaut commented on #1041
I think `mdbook` creates an ID for each title element?

[2021-02-13 16:15] VitalyAnkh commented on #1041
@LeSeulArtichaut Thanks!  `<span>`s removed!

[2021-02-13 19:25] VitalyAnkh opened #1054 "Where to find the doc of Span datatype?"
The [glossary page](https://rustc-dev-guide.rust-lang.org/appendix/glossary.html#span) said:

"See the Span datatype for more."

But I can't find Span datatype in rust std document. Where should I go?

[2021-02-13 19:45] LeSeulArtichaut commented on #1054
The compiler is documented at https://doc.rust-lang.org/nightly/nightly-rustc/

Here's the Span documentation: https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/struct.Span.html

[2021-02-13 20:14] VitalyAnkh commented on #1054
@LeSeulArtichaut Thanks! How about adding  this link( https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/struct.Span.htmlc)to "the Span datatype"?

[2021-02-13 21:22] jyn514 commented on #1054
@VitalyAnkh sounds great! Are you interested in making a PR?

[2021-02-14 00:46] VitalyAnkh commented on #1054
@jyn514 Hi! It's a small edit and will conflict with [this PR](https://github.com/rust-lang/rustc-dev-guide/pull/1053 ) as a standalone PR, so I commit this edit in that PR.

[2021-02-17 00:27] not-an-aardvark opened #1058 "Conflicting instructions for pushing new commits to PRs versus amending"
I recently opened a [PR](https://github.com/rust-lang/rust/pull/82169), which was my first time contributing to the rust repo. The `rust-highfive` bot left a comment saying, "If any changes to this PR are deemed necessary, please add them as extra commits." I think I might have read this comment initially, but then I forgot about it.

Later, when I needed to make changes to the PR, I wasn't sure w

[2021-02-17 00:47] camelid commented on #1058
Looks like this is the same idea as #900. Do you want to close this and post your comment there?

[2021-02-17 00:48] not-an-aardvark commented on #1058
Yep, thanks for pointing that out.

[2021-02-17 00:48] #1058 closed

[2021-02-17 00:57] not-an-aardvark commented on #900
Just ran into this in https://github.com/rust-lang/rustc-dev-guide/issues/1058. My two cents is that I don't have any strong opinions on squashing versus pushing new commits, but having two pieces of reference material give opposite guidelines is pretty confusing for new contributors, and that aspect can probably be fixed without needing to resolve the squashing-vs-pushing debate.

It seems like e

[2021-02-17 09:12] rylev commented on #900
I agree with @not-an-aardvark. If there is no actual agreed upon policy for what to do, we should not pretend there is.

[2021-02-18 14:10] rylev opened #1061 "Guide on the "social aspects" of compiler development"
I think it would be useful to have a short guide on the social aspects of getting into compiler development. Some of this information already exists in the [getting started](https://rustc-dev-guide.rust-lang.org/getting-started.html) section, but I think it might be good to include this information before mentioning anything technical. I know people with deep compiler experience (e.g., from the C+

[2021-02-18 15:03] rylev commented on #1061
@petrochenkov I think that depends on what type of contribution you'd like to make. There are plenty of ways to contribute to the compiler and core tooling without every making a code contribution. So while I agree that this way may make sense for some, "just submit a pull request" is poor advice to many.

[2021-02-18 15:06] jyn514 commented on #1061
Personally I like to talk to contributors on Zulip so I can give feedback faster. Trying to have a conversation on Github is painful because you often end up having to refresh to see the latest comments, and autohiding comments makes it hard to search.

[2021-02-18 16:49] camelid opened #1062 ""Compiler walkthrough" section"
(name is to-be-bikeshedded)

cc https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/planning.20meeting.202021.2E02.2E18

[2021-02-18 17:03] camelid commented on #1062
As we discussed in the meeting, we're going to show each pass of the compiler,
each intermediate representation (before & after pass), and some internal data
structures (like `TyCtxt`).

However, we're going to start with just showing tokens, AST, and HIR (with no
internal data structures) going through the passes of lex, parse, resolve, and
macro-expand, which are actually interleaved together:

[2021-02-19 02:31] JohnTitor commented on #1052
The submodule has been removed and added (for link-checking) several times. But given CI here is enough now and we haven't checked it since about a year ago, I think we could also remove the instructions, even right now.

[2021-02-21 03:27] #1046 closed

[2021-02-26 20:38] #1040 closed

[2021-03-01 12:26] github-actions[bot] opened #1072 "Date Reference Triage for 2021-03"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-03), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-03-02 00:24] camelid commented on #1072
Note that this one will require checking in with someone knowledgeable about the current state of type inference.

[2021-03-03 18:43] camelid commented on #1062
What do you think would be a good MVP for `-Z dump-internal-data`? Maybe print the type of everything in the program?

[2021-03-03 18:46] LeSeulArtichaut commented on #1062
"Internal data" is very broad. Let's try to make a list of all the things we would like to be able to dump.

[2021-03-03 19:14] camelid commented on #1062
Sounds like a good idea :)

[2021-03-03 19:22] LeSeulArtichaut commented on #1062
Opened https://rust-lang.zulipchat.com/#narrow/stream/196385-t-compiler.2Fwg-rustc-dev-guide/topic/-Z.20dump-internal-data for discussion about `-Z dump-internal-data`

[2021-03-07 21:44] LeSeulArtichaut opened #1075 "Update documentation about THIR"
With rust-lang/rust#82495, the chapters touching THIR will probably need to be updated.
cc https://github.com/rust-lang/project-thir-unsafeck/issues/6

[2021-03-10 16:51] #940 closed

[2021-03-10 17:00] #1075 closed

[2021-03-10 17:24] camelid opened #1082 "New GHA CI seems to not work"
From the build for 674f73da63e127b143adbb613197f5630d68105d:

[code]

cc @JohnTitor

[2021-03-10 18:00] JohnTitor commented on #1082
Thanks for pointing out! #1083 should fix this.

[2021-03-11 03:56] camelid opened #1085 "GitHub Actions workflow triggered on push to master branch of fork"
Workflow run is here: https://github.com/camelid/rustc-dev-guide/runs/2082979294

This is a bug and was introduced by the new GHA CI.

cc @JohnTitor

[2021-03-11 07:44] JohnTitor commented on #1085
I sometimes use my fork CI to check things before submitting a PR and Travis was also enabled on fork IIRC so it's intentional (actually, date-check is also enabled and I thought it was fine).
We can disable it individually from the fork's settings page but I'm fine with disabling it on workflow config if you all want.

[2021-03-11 14:50] #1082 closed

[2021-03-11 18:45] camelid commented on #1085
All I can say is that I never noticed CI running on my fork :)

I would prefer that, yes. IME CI for the main repo usually isn't triggered for forked repos as well.

Ah, date-check should be disabled for forks too. How should I do that?

[2021-03-16 19:49] Aaron1011 opened #1090 "Document interaction between incremental compilation and diagnostics"
The incremental compilation infrastructure has special handling for diagnostics - we capture any diagnostics emitted during query execution, and then re-emit them if the result is loaded from disk.

We should document this handling in the chapter on incremental compilation.

[2021-03-20 11:46] matthiaskrgr opened #1091 "query system no longer lives inside rustc_middle ?"
https://rustc-dev-guide.rust-lang.org/compiler-src.html
It says that
[code]
but I think that may no longer be true as of https://github.com/rust-lang/rust/pull/70951 ...?

[2021-03-20 17:46] jyn514 commented on #1091
@matthiaskrgr are you interested in making a patch fixing it?

[2021-04-01 13:16] github-actions[bot] opened #1100 "Date Reference Triage for 2021-04"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-04), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-04-01 16:45] camelid commented on #1072
Superseded by #1100.

[2021-04-01 16:45] #1072 closed

[2021-04-01 17:24] #1035 closed

[2021-04-01 20:26] JohnTitor commented on #1100
I'm working on updating `updating-llvm`, https://github.com/JohnTitor/rustc-dev-guide/tree/llvm-updates-updates. I'll submit a PR once I get some feedback from wg-llvm.

[2021-04-03 17:10] jyn514 commented on #248
@mark-i-m do you think https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html answers this well enough? Or was there something more you wanted to document?

[2021-04-03 17:11] jyn514 commented on #187
https://github.com/rust-lang/rust/issues/53014 has been closed - does this issue need to stay open? I think there are a fair number of compiler contributors using incremental on windows.

[2021-04-03 17:19] jyn514 commented on #448
I think a lot of the debugging has since been documented in https://rustc-dev-guide.rust-lang.org/compiler-debugging.html and https://rustc-dev-guide.rust-lang.org/mir/debugging.html.

[2021-04-04 01:37] camelid opened #1105 "Update late bound parameters section from binder refactor"
See https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/binder.20refactor/near/233042116.

[2021-04-06 00:27] mark-i-m commented on #248
I think my intent was more related to how x.py is implemented and how to hack on it...

[2021-04-06 00:31] jyn514 commented on #248
Hmm, maybe I could link to https://github.com/rust-lang/rust/blob/master/src/bootstrap/README.md#extending-rustbuild in https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html#contributing-to-bootstrap.

[2021-04-07 00:00] mark-i-m commented on #248
Perhaps? Or else move that readme to a short chapter in the guide. Not sure...

[2021-04-07 02:46] jyn514 commented on #248
@Mark-Simulacrum do you have opinions on whether this should be documented in the dev-guide or in-tree?

[2021-04-07 14:05] Mark-Simulacrum commented on #248
Open to either; rustc-dev-guide is somewhat less likely to receive updates. x.py is not *that* complicated itself, just is incredibly stateful (filesystem), so that pretty significantly increases complexity of changing it. Not sure what kind of docs are intended here.

[2021-04-14 09:33] rylev commented on #187
Going to close this because I've not heard of this issue. Windows with MSVC is my main driver and I've not run into issues. We can reopen if others have issues.

[2021-04-14 09:33] #187 closed

[2021-04-18 17:07] jhg commented on #900
I agree with @not-an-aardvark. And maybe the squashing-vs-pushing debate will not be resolved. Some advantages and tradeoffs are hardly objectives and mainly preferences (how it looks, what is beautiful, how to use git, how much effort request to others to put on using git to contribute, etc). Will really that contribute to add value to Rust for the rest of people?

I think the important is to avo

[2021-04-27 17:15] #1085 closed

[2021-04-27 17:24] camelid opened #1116 "Check if type variable section needs to be updated"
This section on type variables was written in 2018 (or earlier), and we should check to make sure it is up to date. That would likely involve asking the compiler team on Zulip (in `#t-compiler`).

**`src/type-inference.md`**

cc #1121

[2021-05-01 12:06] github-actions[bot] opened #1121 "Date Reference Triage for 2021-05"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-05), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-05-01 22:31] camelid commented on #1100
Superseded by #1121.

[2021-05-01 22:31] #1100 closed

[2021-05-01 22:33] camelid commented on #1121
This one also has a dedicated issue: #1116.

[2021-05-01 22:33] jyn514 commented on #1121
I'll close this in favor of https://github.com/rust-lang/rustc-dev-guide/issues/1116 then.

[2021-05-01 22:33] #1121 closed

[2021-05-05 08:17] RalfJung opened #1123 "Explain how to "ask for another round of review" via rustbot labels"
New contributors currently have no good way of knowing this magic incantation
[code]
It should probably be mentioned somewhere on https://rustc-dev-guide.rust-lang.org/contributing.html.

See https://github.com/rust-lang/rust/pull/82703 for a recent case where this came up (and I've certainly seen other instances of this before).

[2021-05-05 10:15] iago-lito commented on #1123
Well, now I have found it [there](https://rustc-dev-guide.rust-lang.org/contributing.html#opening-a-pr), pointing [there](https://rustc-dev-guide.rust-lang.org/rustbot.html#issue-relabeling). The problem was that I was so busy figuring out the `How to Build and Run the Compiler` and the `compiler testing framework` back then that I did not make my way down to this section.

But now that I am mostl

[2021-05-05 10:26] RalfJung commented on #1123
Ah, that also shows a good place to add the exact command. :) Opened #1124.

[2021-05-05 11:53] #1123 closed

[2021-05-21 14:28] TonalidadeHidrica opened #1130 "The explanation of Rustdoc source code is partially outdated"
I've been digging around the rustdoc internals docs and realized that some of the descriptions are outdated.  I'm specifically mentioning about the `## From clean to crate` chapter.   For example, there's no longer `html/render.rs` file; it's been renamed to `html/render/mod.rs` as of [`6a4396b`]( https://github.com/rust-lang/rust/commit/6a4396b98c6fcb405429a9798a9ab6554f015b7e#diff-40a0eb025da617

[2021-05-26 10:25] RalfJung opened #1132 "One sentence per line?"
The docs currently use a fixed-width style for formatting the source, so even small changes (adding a single word somewhere) can lead to large diffs. This also amplifies conflicts.

It might be worth to consider using one-sentence-per-line or one-logical-unit-per-line (allowing line-breaks at reasonable places even inside sentences). I have made good experience with that formatting. The change doe

[2021-06-01 13:14] github-actions[bot] opened #1136 "Date Reference Triage for 2021-06"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-06), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-06-04 01:45] camelid commented on #1136
Closing as the only item is #1116, just like last month.

[2021-06-04 01:45] #1136 closed

[2021-06-04 03:00] jyn514 commented on #1136
@camelid what do you think about turning off running this automatically each month? It seems like no new dates have been added, I think it's fine to run it manually once in a while.

[2021-06-04 18:40] spastorino opened #1138 "Document how to run unit tests"
If you want to run `thin_vec` unit tests you may try to do something like ...

`./x.py test compiler/rustc_data_structures/src/thin_vec/tests.rs`

But that's not possible.

The right way is ...

`./x.py test compiler/rustc_data_structures/ --test-args thin_vec`

We should add this information to https://rustc-dev-guide.rust-lang.org/tests/running.html and possibly discuss a bit about why unit test

[2021-06-05 21:17] camelid commented on #1136
@jyn514 The reason there haven't been any new dates is because almost all of the date-check annotations are from 2021-01 or later. Since the dates only show up in the triage list after six months, there will be a bunch of dates in next month's triage. I tested locally, and next month there will about 21 dates.

[2021-06-11 17:56] spastorino opened #1140 "Document evaluation caching trait solver"
There's a lecture that Niko and Jack gave about it https://www.youtube.com/watch?v=_tG2E9KVy5o

[2021-06-17 20:25] #1138 closed

[2021-06-21 19:50] #1116 closed

[2021-06-23 06:18] JohnTitor opened #1148 "Rename `part-N-intro.md` to more concrete one?"
Followup of #1147, we currently name some chapters' intro section as `part-N-intro.md` but it can cause misleading since the actual part numbers are different (e.g. https://rustc-dev-guide.rust-lang.org/part-2-intro.html is the third chapter now). I think we should rename them to more concrete ones, e.g. `high-level-architecture.md` to avoid confusion and future _breakage_.

[2021-06-24 16:50] #900 closed

[2021-06-25 12:45] rylev opened #1150 "Chapter 23.5 Profiling Queries is very out-of-date"
The chapter on profiling queries contains information on options that are no longer included in the compiler such as `-Z profile-queries`. While it would be useful for a chapter that discusses how queries are profiled to exist, the chapter as it stands is almost completely useless and should be removed if not rewritten.

[2021-07-01 12:17] github-actions[bot] opened #1153 "Date Reference Triage for 2021-07"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-07), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-07-01 12:46] rylev commented on #1132
I'd personally prefer to each paragraph on its own line. Most editors can visually line break (making reading the raw markdown easy).

[2021-07-01 13:19] RalfJung commented on #1132
That makes diffs quite bad though -- diff is line-based, which aligns well with one-sentence-per-line IMO.

[2021-07-01 14:58] rylev commented on #1132
That's true though I think GitHub's diff can handle intra-line diffs a bit better than plain `diff`, but this doesn't make local diffing nicer. I'm fine with moving to a per line scheme, but is their tooling that will do this automatically. It would be a huge when to not have to think about this at all when writing (similar to how rustfmt can be run on save in many editors).

[2021-07-01 15:52] rylev opened #1156 "Consider removing sections about std/core libraries"
The library team has a guide for the [standard library](https://std-dev-guide.rust-lang.org/). We should consider removing some chapters like https://rustc-dev-guide.rust-lang.org/stability.html from the rustc-dev-guide. First we should ensure that the content being removed is already reflected in the library guide.

[2021-07-01 16:06] joshtriplett commented on #1156
I think we should also merge std-dev-guide into the rust doc directory alongside rustc-dev-guide.

[2021-07-01 17:51] jyn514 commented on #1156
Long term I don't think either should be in-tree: https://github.com/rust-lang/rust/pull/81848#issuecomment-787588985. But I guess it makes sense for the std guide to be the same as the rustc guide for now.

[2021-07-01 18:00] Mark-Simulacrum commented on #1156
It looks like those comments were written in reaction to the rather large size  of the submodule, which looks to be dominated by a few html files for self profile output. Maybe we should put those files on S3 or otherwise not track them in git? And then the rest could be managed via subtree or similar.

[2021-07-01 18:03] jyn514 commented on #1156
Well, there's also some overhead to having the repo in both places, either @ehuss has to update the submodule when he updates books or someone needs to be in charge of syncing back and forth. It seems a little silly when there's not much benefit from having it in-tree.

[2021-07-01 21:55] rylev opened #1157 "Link to demangler source in section on using a debugger"
The location of the demangler was never linked to in the guide on using a debugger in the compiler.

Originally noted [here](https://github.com/rust-lang/rustc-dev-guide/pull/316#discussion_r283062536).

[2021-07-01 22:00] rylev opened #1158 "Document feature gate checking"
There is a [blank chapter](https://github.com/rust-lang/rustc-dev-guide/blob/master/src/feature-gate-ck.md) on feature gate checking that should either be filled out or removed.

There is a small mention of how to check whether a [feature is enabled](https://github.com/rust-lang/rustc-dev-guide/blob/master/src/implementing_new_features.md#stability-in-code), but this might not be sufficient.

[2021-07-01 22:02] rylev opened #1159 "Document more of how to debug HIR"
There is the beginnings of a [chapter on debugging the HIR](https://github.com/rust-lang/rustc-dev-guide/blob/master/src/hir-debugging.md), but it is pretty sparse. Is there more or can this be moved somewhere else?

[2021-07-01 22:04] rylev opened #1160 "Add more detail on procedural macros and custom derive"
The [section on procedural macros](https://github.com/rust-lang/rustc-dev-guide/blob/master/src/macro-expansion.md#procedural-macros) is lacking (especially with regards to custom derive). This should be fleshed out more.

[2021-07-01 22:08] rylev opened #1161 "Finish chapter on type checking"
The [type checking chapter](https://github.com/rust-lang/rustc-dev-guide/blob/master/src/type-checking.md) is not finished, and does not even really talk about the process of type checking.

[2021-07-01 22:10] rylev opened #1162 "Document inline assembly"
The [chapter on inline assembly] is empty and needs to be filled out.

[2021-07-02 00:52] camelid opened #1164 "miri.md"

[2021-07-02 00:52] camelid commented on #1164
Oops, didn't mean to open this issue.

[2021-07-02 00:52] #1164 closed

[2021-07-02 11:22] joshtriplett commented on #1156
On Thu, Jul 01, 2021 at 11:03:55AM -0700, Joshua Nelson wrote:

I personally would love to see it just merged as a subtree and
maintained in-tree; it documents rustc, so having it *in* rustc seems
sensible.

[2021-07-02 11:28] rylev opened #1165 "Section Review: 31.1 Lexing and Parsing & 31.2 Macro Expansion"
The following is a review of sections [31.1 Lexing and Parsing](https://rustc-dev-guide.rust-lang.org/the-parser.html) & [31.2 Macro Expansion](https://rustc-dev-guide.rust-lang.org/macro-expansion.html).

### What experience does the reviewer have with the material?

I've made changes to the parser before, and I've debugged issues and made some very small changes (that were never merged) inside o

[2021-07-04 11:10] rylev commented on #474
Going to close this as it looks like there is not README's for the individual crates by design.

[2021-07-04 11:10] #474 closed

[2021-07-04 11:11] rylev commented on #202
I'm going to close this as it's a policy issue, and should most likely live in forge.

[2021-07-04 11:11] #202 closed

[2021-07-04 17:28] rylev commented on #175
Triage: Closing. This section already exists. It's not perfect, but we have other issues like #1150 that provide tracking for more specific issues.

[2021-07-04 17:28] #175 closed

[2021-07-04 17:31] rylev commented on #88
Triage: Closing. Much like #175, this section already exists. Going to close this in favor of an issue specifically about valgrind/cachegrind.

[2021-07-04 17:31] #88 closed

[2021-07-04 17:33] rylev opened #1166 "Add information on running the compiler with cachegrind and valgrind"
As a follow-up to #88, we should include more specifics on tools like cachegrind and valgrind. From the original issue:

[2021-07-04 17:34] rylev commented on #123
Triage: closing. Now that https://github.com/rust-lang/std-dev-guide exists, we will no longer have the need to document standard library development in this guide.

[2021-07-04 17:34] #123 closed

[2021-07-04 17:36] rylev commented on #17
Triage: closing. There is now a section on the HIR and HIR lowering so this issue is a bit too general. Closing this in favor of more specific issues.

[2021-07-04 17:36] #17 closed

[2021-07-04 17:37] rylev opened #1167 "Document HIR structure"
As a follow-up to #17, we still don't seem to document the structure of the HIR. I assume this would entail examining a bit of what specifically makes the HIR different from the AST.

[2021-07-04 17:39] rylev commented on #14
Triage: closing. As we now have sections on diagnostics, this issue is a bit too general. I'm closing this in favor of more specific issues.

[2021-07-04 17:39] #14 closed

[2021-07-04 18:18] rylev opened #1168 "Document how lints are actually emitted"
The section on linting describes how to declare a lint and how lint passes are constructed, but we are still missing an explanation on how the lint system takes buffered lints and decides whether to actually emit them to users. For instance, how does `--cap-lints` work?

[2021-07-04 18:25] rylev commented on #1041
This has been fixed by #1146.

[2021-07-04 18:25] #1041 closed

[2021-07-05 00:11] camelid commented on #1167
One of the main differences is that it's desugared. So, for example, the AST has `ExprKind::Try` for `expr?`, but the HIR does not.

Another difference is that IIUC macros are fully expanded by the time the HIR is constructed.

[2021-07-05 00:18] camelid commented on #202
Hmm, that Forge link now redirects to the rustc-dev-guide. Should it be moved to Forge?

[2021-07-05 00:54] jyn514 commented on #1166
I expect something like `env RUSTC="valgrind $(rustup which rustc)"` should work in most cases, or if that syntax doesn't work then a wrapper script that does the same.

[2021-07-05 03:10] jyn514 commented on #1148
Duplicate of https://github.com/rust-lang/rustc-dev-guide/issues/762.

[2021-07-05 03:10] #1148 closed

[2021-07-12 05:22] Gentoli opened #1171 "Git "No-Merge Policy""
I am not sure if I am following [this](https://github.com/rust-lang/rustc-dev-guide/blob/1b56b094728188d1970ef94e727b6c384ac98b7c/src/git.md#no-merge-policy) correctly.
It seems to suggest `rust-lang/rust` is using the squash and merge / fast-forward strategy. But looking at its history is not doing that.

[2021-07-12 08:16] skade commented on #1171
The guide specifically disallows merge commits _in PRs_. Those PRs are later merged and not fast-forwarded. Bors (our friendly bot) takes care of the merging. So you see all merges back into the main branch and who signed them off, but no merges of the main branch into PR branches.

[2021-07-12 20:49] #1171 closed

[2021-07-13 13:35] rylev opened #1172 "Link to actual stabilization reports instead of just PRs that contain those reports"
The section on [stabilization reports](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#write-a-stabilization-report), links to two PRs that supposedly contain those reports. The second of these PRs contains hundreds of comments and it takes quite a while to expand those comments and find the actual report. We should link directly to them.

[2021-07-21 00:39] #1172 closed

[2021-07-22 09:30] michaelwoerister opened #1174 "Add section about self-profiling and measureme"
The in-tree documentation about this is not too bad but it would be good to give a high-level overview here, and especially add a step-by-step guide how to add new measurements (what needs to land in measureme and what in the compiler and how to sequence that).

[2021-08-01 12:09] github-actions[bot] opened #1178 "Date Reference Triage for 2021-08"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-08), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-08-03 02:37] lf- commented on #100
This issue is high in the Google results for "rustc internal rustdoc" and the link above doesn't work. This one does though: https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/

[2021-08-03 04:18] jyn514 commented on #100
https://doc.rust-lang.org/nightly/nightly-rustc/ is the URL that will continue to work even if crates are renamed.

[2021-08-03 20:41] camelid commented on #1153
Superseded by #1178.

[2021-08-03 20:41] #1153 closed

[2021-08-06 20:36] spastorino opened #1184 "Consolidate HKTBs, leak-check and universes information around with what we have in the guide"
There's great information about all these concepts in MCPs, PRs, issues, etc.

[MCP: move leak-check to during coherence, candidate eval](https://gist.github.com/nikomatsakis/8bfda6c1119727e13ec6e98f33d2b696#what-is-the-leak-check)
[Tacking issue for "universe transition" #56105](https://github.com/rust-lang/rust/issues/56105)
[Universes #55517](https://github.com/rust-lang/rust/pull/55517)
[Re-im

[2021-08-10 16:17] oli-obk opened #1187 "type inference chapter should talk about opaque types"
Opaque types (`impl Trait`) uses inference variables in several situations. We should explain how that works (with examples!), both for impl trait in return position and type alias impl trait.

[2021-08-11 17:22] xFrednet opened #1188 "Document how/when to use diagnostic items"
Rustc has introduced diagnostic items to avoid using hard-coded paths to check for `std` and `core` types. However, there seems to be a lack of documentation regarding them. Here is a rough overview of what should be documented:

- How to find the diagnostic item for type XYZ
- How to add a new diagnostic item
  - Define diagnostic item naming conventions.
- How to use diagnostic items

See rust-l

[2021-08-16 13:20] #1150 closed

[2021-08-18 12:50] xFrednet commented on #1188
I'll start working on this. But it might take some time as I'm also busy with some RL stuff currently :upside_down_face:

[2021-08-18 20:48] camelid commented on #1188
Assigned you so that people know you're planning to work on it :)

[2021-08-18 21:09] xFrednet commented on #1188
Thank you!

[2021-08-18 21:11] LeSeulArtichaut commented on #1188
(`@rustbot claim` is enabled in this repo as well, in case you would want to work on something else in the future :upside_down_face:)

[2021-08-31 17:38] #1054 closed

[2021-09-01 12:07] github-actions[bot] opened #1199 "Date Reference Triage for 2021-09"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-09), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-09-01 17:33] camelid commented on #1178
Superseded by #1199.

[2021-09-01 17:33] #1178 closed

[2021-09-01 18:26] #1188 closed

[2021-09-19 18:24] camelid opened #1212 "Migrate date-check to Rust 2021"
Blocked on Rust 2021 landing on stable. Creating this issue as a to-do for myself.

[2021-09-23 17:01] aDotInTheVoid opened #1217 "Document rust-analyzer cargo workaround for 2021 edition"
To get RA to work (currently) you need to run `rustup override set beta`, so the cargo RA invokes considers rust 2021 stable.

Otherwise you get this error:

[code]

Either this should be documented or `.vscode/settings.json` should point RA to the cargo downloaded by x.py.

I think the latter is more "elegant", but I dont know if its possible with RA.

Also, previously RA was fine with stable car

[2021-09-23 17:15] camelid commented on #1217
Although in the future, there may be other changes to `Cargo.toml` that `rust-lang/rust` uses that are unstable, which I think would require using `rustup override set nightly`.

[2021-09-23 17:16] camelid commented on #1217
I marked this as `Medium` since we're not sure what the "right" solution is yet.

[2021-09-23 17:31] jyn514 commented on #1217
X.py has to be able to build with the beta compiler, so nightly should be never be required. I don't know if there's cases where you'd have to set RUSTC_BOOTSTRAP just to run `cargo metadata` or not.

[2021-09-23 20:19] SkiFire13 commented on #1217
However to do that it uses a freshly compiled stdlib. This means that the compiler is able to use stdlib features that are not yet available on beta, not even as unstable. This happened for example with `core::iter::zip` when rust-lang/rust#82917 added the function to the stdlib and at the same time made the compiler use it. This meant that the beta toolchain wasn't enough for rust-analyzer to typ

[2021-09-23 20:31] jyn514 commented on #1217
@SkiFire13 right, well, there's not much we can do about that because rust-analyzer doesn't understand staged builds.

[2021-10-01 12:08] github-actions[bot] opened #1222 "Date Reference Triage for 2021-10"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-10), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-10-02 20:18] camelid commented on #1199
Superseded by #1222.

[2021-10-02 20:18] #1199 closed

[2021-10-02 21:53] camelid opened #1225 "Update links to `rustc_mir` to use the new names"
`rustc_mir` was recently split into several crates, so uses of and links to the old names need to be updated to the new names.

For example, `rustc_mir::dataflow` is now `rustc_mir_dataflow`.

[2021-10-06 12:12] Lee-Janggun commented on #1225
I'll take this. I read the guide from time to time and this was starting to seriously bug me.

[2021-10-12 17:29] spastorino opened #1232 "Fix `NoLandingPads` documentation"
`NoLandingPads` was removed from the code base in https://github.com/rust-lang/rust/pull/86155

@xphoniex attempted to fix links here #1214 but this is not the best approach to fix the problem.

We would need to go over the Rust PR and adapt the documentation accordingly.

[2021-10-20 18:07] spastorino opened #1236 "Document how to run perf on PRs"
Would be nice to add `@bors try @rust-timer queue` somewhere in the guide.

The current place where we can find this is in https://github.com/rust-lang/rustc-perf/blob/master/collector/README.md?plain=1#L49 but I guess it would be nice to have it in the guide somewhere.

[2021-10-21 16:00] #1236 closed, assigned to nobody

[2021-10-28 16:12] pierwill opened #1241 "Tracking issue: semantic line breaks"
I propose that rustc dev guide move to [semantic line breaks](https://sembr.org/). Essentially, this means *one sentence per line*.

When writing prose in a structured format like Markdown in a version control system, diffs can easily become difficult to read or even useless. Separating each sentence with a new line makes it easy to parse diffs with the human eye.

**Diff without semantic linefeed

[2021-10-28 17:54] #1241 closed, assigned to nobody

[2021-10-30 13:08] younes-io commented on #1161
I think this has the merit to be documented as a priority

[2021-10-31 16:15] jyn514 commented on #1161
https://sdleffler.github.io/RustTypeSystemTuringComplete/ has some interesting details about how unification works fwiw

[2021-11-03 19:17] github-actions[bot] opened #1245 "Date Reference Triage for 2021-11"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-11), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-11-03 19:18] camelid commented on #1222
Superseded by #1245.

[2021-11-03 19:18] #1222 closed

[2021-11-03 19:19] camelid commented on #1245
The date triage is a little late this month because the cron job [failed](https://github.com/rust-lang/rustc-dev-guide/runs/4067460927?check_suite_focus=true). I had to re-run it manually.

[2021-11-07 09:31] piegamesde opened #1251 "Section "Using pre-built LLVM" in "Adding a new target" does not work"
https://rustc-dev-guide.rust-lang.org/building/new-target.html#using-pre-built-llvm

I added

[code]

to my `./.cargo/config` and I then get the following error: "error: expected a table, but found a string for `target.x86_64-unknown-linux-gnu.llvm-config`"

[2021-11-07 16:31] camelid commented on #1251
@piegamesde You need to add that to your `config.toml` in `rust-lang/rust`:

[2021-11-07 16:32] camelid commented on #1251
Closing for now, please re-open if it still doesn't work when you add it to `config.toml`.

[2021-11-07 16:32] #1251 closed

[2021-11-07 18:19] piegamesde commented on #1251
Oh wow I totally missed that. Thank you.

[2021-11-10 13:36] spastorino opened #1254 "Link the perf-book"
I think it would be great, if @nnethercote allows us, to link the perf book from the guide https://nnethercote.github.io/perf-book/

[2021-11-10 19:54] camelid opened #1255 "`cfg(bootstrap)` docs don't say what it does"
https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html#why-does-only-libstd-use-cfgbootstrap

cc https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/rename.20.60cfg.28bootstrap.29.60.20to.20.60cfg.28stageN.29.60

[2021-11-10 20:20] nnethercote commented on #1254
Absolutely :)

[2021-11-27 03:58] tamaroning opened #1263 "examples/rustc-driver-getting-diagnostics.rs doesn't work"
I followed [this page](https://rustc-dev-guide.rust-lang.org/rustc-driver-getting-diagnostics.html) and tried to compile the example. But couldn't.

In my environment, src/main.rs contains the same component as rustc-driver-getting-diagnostics.rs
[code]

[2021-11-27 04:10] tamaroning commented on #1263
Oh, I found #1262 .
So I'm going to update documents.

[2021-11-27 08:40] jyn514 commented on #1263
Yeah, the examples aren't guaranteed to work with old versions; the compiler can make breaking changes to the internal API whenever it likes.

[2021-11-27 08:40] #1263 closed

[2021-12-01 12:06] github-actions[bot] opened #1265 "Date Reference Triage for 2021-12"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2021-12), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2021-12-01 21:48] camelid commented on #1245
Superseded by #1265.

[2021-12-01 21:48] #1245 closed

[2021-12-05 01:23] rukai opened #1269 "tcx.hir().as_local_node_id(def_id) no longer exists"
In this section https://rustc-dev-guide.rust-lang.org/hir.html#the-hir-map
The linked function `tcx.hir().as_local_node_id(def_id)` no longer exists and the link is dead.

[2021-12-09 15:11] #1269 closed

[2021-12-21 04:55] rlee287 opened #1278 "Prerequisites page has link to nonexistent section of Suggested Workflows page"
The prerequisites page states that

Where "this section" is a link to https://rustc-dev-guide.rust-lang.org/building/suggested.html#skipping-llvm-build.

However, the Suggested Workflows page does not contain information on skipping the LLVM build. Can this link be corrected or removed?

(Incidentally, I'd like to know if it is possible to use the system LLVM instead of either building LLVM or dow

[2021-12-21 15:25] ehuss commented on #1278
Essentially you just need to set llvm-config in config.toml.

It looks like it was removed in #1030.   @jyn514 I think there are legitimate use cases for needing to use the system LLVM, and having some instructions won't hurt.

[2021-12-21 15:26] jyn514 commented on #1278
Seems good! I won't have time to add it back for a while though.

[2021-12-22 01:34] camelid commented on #1278
I think I already re-added this section back in February. Is [this](https://rustc-dev-guide.rust-lang.org/building/new-target.html#using-pre-built-llvm) what you were looking for? (Added in 2d42cf7ba4b1eeb0c286caacf8ba8972efab76f2.)

[2021-12-22 03:06] rlee287 commented on #1278
Looks (to me, at least, since this is the first time I'm building `rustc` myself) like this does have the relevant information, in which case the link I mentioned should be changed to point to this section instead.

[2021-12-29 04:17] #1278 closed

[2022-01-01 04:27] su225 opened #1283 "Link to dataflow analysis related YouTube lectures is broken"
https://www.youtube.com/watch?v=NVBQSR_HdL0&list=PL_sGR8T76Y58l3Gck3ZwIIHLWEmXrOLV_&index=3

It shows "Video unavailable".

[2022-01-01 12:06] github-actions[bot] opened #1284 "Date Reference Triage for 2022-01"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-01), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-01-01 22:30] camelid commented on #1265
Superseded by #1284.

[2022-01-01 22:30] #1265 closed

[2022-01-04 03:48] Aaron1011 opened #1285 "Describe query recovery"
The section on incremental compilation mentions 're-running' a query when one of its inputs is red. We should describe this process ("recovery") in detail. In particular, we should note that this is currently only possible when the query ID can be mapped to a `DefPathHash` (this is the case for `CrateNum`, `LocalDefId`, and `DefId`).

[2022-01-09 21:04] camelid commented on #1255
It also misleadingly says that rustc only uses `cfg(bootstrap)` when adding internal lints for diagnostic items. That's not true; rustc also uses `cfg(bootstrap)` when feature gates that are used internally are renamed or removed

[2022-01-18 14:12] #686 closed

[2022-01-18 14:19] spastorino commented on #1285
@Aaron1011 agreed, it would be great to document that in more detail.

[2022-01-18 14:24] spastorino commented on #1283
I'm not sure if the videos are around somewhere else but or we either find them online and fix the link or just remove the link and suggestion altogether.

[2022-01-18 18:08] ehuss commented on #204
FWIW, there are now two chapters related to this:

* [Testing with Docker](https://rustc-dev-guide.rust-lang.org/tests/docker.html) shows how to locally build and run the same as CI.  Of course this doesn't cover macOS or Windows testing, which can be hard to replicate.
* [Testing with CI](https://rustc-dev-guide.rust-lang.org/tests/ci.html) covers how to use CI to run tests.

I realize I probably

[2022-01-18 18:09] ehuss commented on #866
There is now a dedicated chapter for this at https://rustc-dev-guide.rust-lang.org/tests/ci.html.
However, I didn't add links to it from the other places.

[2022-02-01 12:07] github-actions[bot] opened #1292 "Date Reference Triage for 2022-02"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-02), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-02-03 12:41] JohnTitor commented on #1284
Superseded by #1292

[2022-02-03 12:41] #1284 closed

[2022-02-17 19:04] pierwill opened #1299 "Instructions for adding a new query"
## Summary of issue

We have a good start on documenting adding a new query: https://rustc-dev-guide.rust-lang.org/query.html#adding-a-new-kind-of-query. However, I think there's room for greater clarity.

☞ After reading [this section](https://rustc-dev-guide.rust-lang.org/query.html#adding-a-new-kind-of-query), I know where to *define* a query. I want to know where and how to *implement* one.

#

[2022-02-17 19:06] pierwill commented on #1299
See also https://github.com/rust-lang/rust/pull/94097.

[2022-02-17 20:16] pierwill commented on #1299
I'm currently working on revisions to this chapter in https://github.com/rust-lang/rustc-dev-guide/pull/1301.

Addressing this issue should probably come after changes from that are merged.

[2022-02-17 20:46] #1254 closed

[2022-02-17 21:16] pierwill opened #1303 "Problem rendering TOC"
https://github.com/rust-lang/rustc-dev-guide/commit/cb3fb942e3c357ef2f901a1963efde8a4e54776c added a TOC to this page: https://rustc-dev-guide.rust-lang.org/query.html. Locally, this worked fine, but currently it looks like this:

<img width="1042" alt="Screen Shot 2022-02-17 at 3 14 43 PM" src="https://user-images.githubusercontent.com/19642016/154571953-5abc8ea8-1bff-41a4-bb78-1bf4d3ba16c1.png">

[2022-02-17 21:24] camelid commented on #1303
What's weird also is that the last entry "External Links" is rendered correctly...

[2022-02-17 21:25] camelid commented on #1303
Ah, I think I have a fix (though I think this is still a bug in the toc tool we use, cc @igaray who knows more about that).

[2022-02-17 21:48] #1303 closed

[2022-02-26 22:42] RalfJung opened #1318 "Running tests manually for check-pass?"
https://rustc-dev-guide.rust-lang.org/tests/running.html#running-tests-manually explains how to run the tests manually. However, it does not explain how to do this for check-pass and build-pass tests. I assume for build-pass it might just be a regular rustc invocation, but how do I check-pass tests by hand? That would be quite good to know when evaluating whether check-pass is sufficient to reprod

[2022-02-26 23:52] ehuss commented on #1318
Not sure if that is a rhetorical question, but the answer to how check-pass works is `rustc +stage1 --emit=metadata src/test/foo.rs`
That is how `cargo check` works, too.

[2022-02-27 00:00] RalfJung commented on #1318
Definitely not a rhetorical question. Thanks!

[2022-03-01 12:11] github-actions[bot] opened #1321 "Date Reference Triage for 2022-03"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-03), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-03-02 20:14] camelid commented on #1292
Superseded by #1321.

[2022-03-02 20:14] #1292 closed

[2022-03-04 21:27] skippy10110 opened #1324 "Windows prerequisite instructions install incorrect Python package"
I'm working on contributing to rust for the first time and was following the instructions here: https://rustc-dev-guide.rust-lang.org/building/prerequisites.html

This says to use "winget install python", but this will install "Introduction to Python Programming by GoLearningBus". I think the correct instruction should be "winget install Python.Python.3".

I assume this got messed up when the msst

[2022-03-05 23:12] camelid commented on #1324
cc @wesleywiser – I think you're knowledgeable about Rust and Windows?

[2022-03-08 15:22] wesleywiser commented on #1324
Yeah, changing the instructions to use the complete package names (`Python.Python.3` and `Kitware.CMake`) is the correct solution. 👍

[2022-03-08 16:49] skippy10110 commented on #1324
Actually, I wonder if a -e (for --exact) should be thrown in there too, just to be extra sure. :)

[code]

[2022-03-12 22:53] camelid commented on #1324
Can someone familiar with Windows open a PR to fix this? @skippy10110 would you like to?

[2022-03-12 22:58] skippy10110 commented on #1324
I can do that up. I was distracted working on my first ever MCP and so I was being lazy not posting a PR myself. 🤣 I did end up just switching over to linux for dev since it seemed easier. (WSL rocks!)

[2022-03-12 23:06] skippy10110 commented on #1324
I just posted a PR, but this is actually my first time doing that on GitHub. Let me know if I did anything wrong!

[2022-03-12 23:38] camelid commented on #1324
You did it correctly :)

[2022-03-14 15:40] #1324 closed

[2022-04-01 12:11] github-actions[bot] opened #1331 "Date Reference Triage for 2022-04"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-04), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-04-04 22:21] camelid commented on #1321
Superseded by #1331.

[2022-04-04 22:21] #1321 closed

[2022-04-17 22:39] hadrizi opened #1342 "New git hook script name"
https://github.com/rust-lang/rustc-dev-guide/blob/master/src/building/suggested.md contains broken link `https://github.com/rust-lang/rust/blob/master/src/etc/pre-commit.sh`. This script is now called [`pre-push.sh`](https://github.com/rust-lang/rust/blob/master/src/etc/pre-push.sh)

[2022-04-21 15:55] #1342 closed

[2022-05-01 12:07] github-actions[bot] opened #1344 "Date Reference Triage for 2022-05"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-05), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-05-01 21:28] JohnTitor commented on #1331
Superseded by https://github.com/rust-lang/rustc-dev-guide/issues/1344.

[2022-05-01 21:28] #1331 closed

[2022-05-16 14:36] #1283 closed

[2022-05-23 22:18] FrankReh opened #1357 "confusing incremental-compilation-in-detail.html"
"different same" and "cannot not" phrases on this page don't seem right.

[2022-05-24 23:03] #1357 closed

[2022-06-01 12:09] github-actions[bot] opened #1361 "Date Reference Triage for 2022-06"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-06), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-06-01 12:14] JohnTitor commented on #1344
Superseded by https://github.com/rust-lang/rustc-dev-guide/issues/1361

[2022-06-01 12:14] #1344 closed

[2022-07-01 12:09] github-actions[bot] opened #1379 "Date Reference Triage for 2022-07"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-07), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-07-02 03:41] JohnTitor commented on #1361
Superseded by #1379

[2022-07-02 03:41] #1361 closed

[2022-07-08 15:15] pierwill opened #1387 "Update MIR `Place` description"
It looks like this is out-of-date, since [`Place`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/struct.Place.html) is a struct, not an enum.

https://github.com/rust-lang/rustc-dev-guide/blob/9d2081110a3e2bc5f1c95ebd830f92d6fe1c2942/src/mir/index.md#L238-L247

[2022-07-14 15:39] ehuss commented on #1157
The sources are at:
* lldb: https://github.com/llvm/llvm-project/blob/main/llvm/lib/Demangle/RustDemangle.cpp
* gdb: https://sourceware.org/git/?p=binutils-gdb.git;a=blob;f=libiberty/rust-demangle.c;h=8dfeeac2a4fe44a82da54a2e4d9327e9b5b1c257;hb=HEAD

if that's what you are asking for. This is for v0 mangling, which is currently (https://github.com/rust-lang/rust/issues/60705) still not the default

[2022-07-14 15:41] ehuss opened #1391 "Debugging support chapter is somewhat outdated"
The chapter at https://rustc-dev-guide.rust-lang.org/debugging-support-in-rustc.html has several things that I noticed were out-of-date. Some observations:

* The GDB fork hasn't been a thing for about 4 years now. I think that link and the mention that there is a fork could be removed.
* The LLDB fork also hasn't been a thing for about as long. It is not built in CI, so all the notes about macOS

[2022-07-14 22:40] eddyb commented on #1157
It might be a bit early (well, it's functional but lacks a bunch of newer features), but just in case I lose track of this issue, I did end up [making a repo for my C port of `rustc-demangle`](https://github.com/LykenSol/rust-demangle.c) <sub>(`v0`-only for now, and mostly the 2019 code that I had eventually integrated into `libiberty` which `binutils`/`gdb`/`perf` use - see the README for more de

[2022-07-15 00:58] tshepang commented on #1391
@ehuss should "Code signing for LLDB debug server on macOS" also be removed

[2022-07-15 01:23] ehuss commented on #1391
I'm not sure how much to remove.  I would consider just putting a prominent notice on the LLDB section that this is outdated/historical information, and then it can be reworked once things move forward again.

The debugging working group has been very recently talking about what approach they will take with lldb integration. So things are very much in flux in that regard.

I think gdb, lldb, windb

[2022-07-15 06:46] tshepang commented on #1391
Will leave that in in #1393 then... the rest is gone.

[2022-07-15 06:47] tshepang commented on #1391
It's based on a single talk, so did not even attempt to be any comprehensive.

[2022-07-15 11:24] #1391 closed

[2022-07-16 11:01] tshepang commented on #1387
@spastorino this is something you worked on... would update it, but am not familiar enough

[2022-07-18 16:53] spastorino commented on #1387
Yes `Place` was an enum and if I'm not wrong I've changed it a long while ago to be an struct. By looking at the source code is still a struct https://github.com/rust-lang/rust/blob/7e54847de328a7346c588720f616bf1fcdf609d5/compiler/rustc_middle/src/mir/syntax.rs#L792-L797 so we can update this section of the guide yeah.

[2022-07-18 18:48] tshepang commented on #1387
@spastorino is the description that follows still accurate

[2022-07-19 14:14] spastorino commented on #1387
It seems to me that things have changed a bit since I've last checked it. I don't think statics are handled through it, I'd change the more abstract `ProjectionElem` to `PlaceElem` and I don't think `Deref` is handled through it anymore neither. To be honest, I didn't check the code to say what I'm saying, I'm kind of playing by ear.

cc @oli-obk

[2022-07-19 15:09] oli-obk commented on #1387
other than that `Deref` still exists (it's in the process of being removed), everything you said is correct

[2022-07-24 12:20] fasterthanlime opened #1407 "Add `rust-analyzer` to list of "External Dependencies (subtree)""
..as soon as https://github.com/rust-lang/rust/pull/99603 is merged.

https://github.com/rust-lang/rustc-dev-guide/blob/d5201cddace979b299ec1bf9fd8997338151aa9d/src/contributing.md#external-dependencies-subtree

[2022-07-25 09:40] #1407 closed

[2022-07-25 22:47] JohnTitor opened #1409 "The "Debugging support in the Rust compiler" chapter seems relevant for users rather than contributors"
_Originally posted by @rylev in https://github.com/rust-lang/rustc-dev-guide/pull/1406#pullrequestreview-1049224734_:

Should we move this chapter somewhere or clarify how it's involved in hacking rustc?

[2022-07-26 13:54] MihailMihov opened #1410 "Outdated link to trait `ResolverAstLowering` in Name Resolution chapter"
https://rustc-dev-guide.rust-lang.org/name-resolution.html#basics mentions a trait `ResolverAstLowering` and links to https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast_lowering/trait.ResolverAstLowering.html, which no longer exists since https://github.com/rust-lang/rust/pull/98106/commits/603746a35e35827b7a25604145832e9dc8057ece. The documentation for the struct `ResolverAstLowering` is l

[2022-07-30 00:12] #1410 closed

[2022-08-01 12:09] github-actions[bot] opened #1414 "Date Reference Triage for 2022-08"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (2022-08), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merged. Pl

[2022-08-01 22:25] #1379 closed

[2022-08-06 14:36] chenyukang commented on #1409
Sounds great!

For deugging rustc we already has:
https://rustc-dev-guide.rust-lang.org/compiler-debugging.html#configuring-the-compiler

I want to debug rustc with GDB, and can not find enough information on it.
So I spent some time to make it work.
Issues comes from an old GDB version, https://github.com/rust-lang/rust/issues/60705#issuecomment-761602642.

I will try to make a PR to complement i

[2022-08-08 18:59] jyn514 opened #1419 "Add the diagrams from my rustconf talk"
https://docs.google.com/presentation/d/1GnKlK98APzZ0Fw1BOqbroPQyvIio5Tm7SP7P0B8x3Cc/edit#slide=id.gf49216051b_0_96 (and the following 7 slides)

the *sequence* of slides, i.e. being shown multiple different diagrams in order, seemed to be particularly helpful - maybe we can find some way to do that with mdbook?

[2022-08-08 19:01] eholk commented on #1419
It'd be a pain to re-draw the diagrams, but you can do [mermaid diagrams] in mdbook. I don't know if that'd help make it so they can build on each other though.

[mermaid diagrams]: https://mermaid-js.github.io/mermaid/#/

[2022-08-08 19:03] jyn514 commented on #1419
@RalfJung @ehuss @camelid you mentioned in https://github.com/rust-lang/rustc-dev-guide/pull/843 that you found my diagram confusing - do the diagrams here make more sense to you?

cc https://github.com/rust-lang/rustc-dev-guide/issues/914

[2022-08-08 20:17] camelid commented on #1419
Yeah, I think the new diagrams (from the talk) are clearer. I'm not sure exactly why, but I think the run-stage/build-stage distinction in the old diagrams was confusing. It's also helpful that the new one has version numbers and a graph representation rather than a table representation.

The one thing I found confusing in the new one is that in e.g. this diagram it says it's "Building" the beta c

[2022-08-08 20:44] camelid commented on #1419
I was able to adapt the diagram in mermaid, but I can't figure out how to get right angles and/or the nightly compiler and nightly std being at the same vertical position.

[code]

[2022-08-08 22:12] jyn514 commented on #1419
I meant "building" to mean "the thing doing the building" - I agree "building with" is more clear, happy to change it.

[2022-08-08 22:38] camelid commented on #1419
One other thing I noticed is that "nightly compiler" has two separate nodes for each stage, but "nightly std" only has one. Shouldn't std be two as well?

[2022-08-08 23:35] RalfJung commented on #1419
I like it! It took me a bit to realize that the A, B, C on the arrows indicates the order though.

My main suggestion is that IMO it's confusing that the two standard libraries have the same node. It looks like there is a cyclic dependency when there isn't. Also you split up the two nightly compilers into two nodes, so for consistency IMO you should do the same with the standard libraries. That wi

[2022-08-09 00:47] camelid commented on #1419
Here's the same diagram with two std nodes:

[code]

[2022-08-09 00:59] camelid commented on #1419
Here's another option I made that I think is a bit clearer (though please let me know):

[code]

[2022-08-09 01:27] RalfJung commented on #1419
Yes, that is the structure I was looking for. :)  Not sure which of the two is better.

The remaining question is the labels... what you label "stage1 compiler" is the same as what bootstrap calls "stage 0 compiler artifacts", I think. So it might be worth having that as a separate node?
[code]

[2022-08-09 21:30] camelid commented on #1419
Ok, I've opened a PR!

[2022-08-09 21:44] #1419 closed

[2022-08-16 07:49] lengyijun opened #1433 "StringReader in `the-parser.md`"
StringReader doesn't come from `rustc_ast`.

[2022-08-17 04:57] tshepang commented on #1132
@RalfJung this looks like can be closed, given #1241

[2022-08-17 10:33] JohnTitor commented on #1433
Fixed by https://github.com/rust-lang/rustc-dev-guide/pull/1435

[2022-08-17 10:33] #1433 closed

[2022-08-17 10:38] tshepang commented on #1433
hm, why did this not get automatically closed

[2022-08-17 11:49] RalfJung commented on #1132
https://github.com/rust-lang/rustc-dev-guide/issues/1241 was closed as a duplicate of this one. If we also close this one there's none left to track this. ;)

[2022-08-19 05:25] tshepang commented on #674
this is pinned... is it current, should it remain open

[2022-08-24 01:44] SUPERCILEX opened #1444 "Document how to cross-compile to targets with additional requirements"
https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html?highlight=platform#building-targets-for-cross-compilation

[code]

I've also tried `x86_64-apple-darwin` and that fails because the gcc `-arch` flag doesn't exist on Linux.

[2022-08-24 02:09] SUPERCILEX commented on #1444
Sounds like the wasm stuff should work, but would need a wasi toolchain. That should be explained. It would also be a good idea to link here: https://rustc-dev-guide.rust-lang.org/tests/ci.html#using-ci-to-test. That's what I was actually looking for since it will let me test my change.

[2022-08-24 13:16] jyn514 commented on #1132
this is my opinion as well - unless we have some way to enforce it, we'll use an enormous amount of energy to switch over the existing docs only to have new PRs not follow the format (and either have another round of back and forth to fix it, or it just won't get fixed because the reviewer won't think about it). Tooling would greatly reduce the effort for both the initial switch and continued main

[2022-08-26 02:31] SparrowLii commented on #81
The reason for using the fork version of rayon needs to be added to the documentation.

[2022-08-29 12:01] steffahn opened #1451 "No explanation what an eRFC is?"
Took me a while to find out [what an eRFC is](https://github.com/rust-lang/rfcs/pull/2033#issuecomment-309057591), I believe such information should also be in the dev-guide, but it isn’t AFAICT.

[2022-08-29 12:08] JohnTitor commented on #1451
Maybe https://rustc-dev-guide.rust-lang.org/walkthrough.html#pre-rfc-and-rfc would be a good candidate to document it.

[2022-08-29 18:11] tshepang commented on #1451
it seems they are rarely used these days

[2022-08-29 22:25] JohnTitor commented on #1451
Yeah, but the explanation is still helpful when someone reads an old eRFC or related topic, e.g. https://rust-lang.github.io/rfcs/2318-custom-test-frameworks.html or https://github.com/rust-lang/rfcs/pull/2136.

[2022-08-31 01:46] tshepang commented on #1132
am working on the tool... it is so far not so clever, but I could already start using to migrate things gradually

[2022-08-31 18:09] me-diru commented on #1451
Hello, May I contribute to this?

[2022-09-01 12:08] github-actions[bot] opened #1454 "Date Reference Triage for 2022-09"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (September 2022), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been mer

[2022-09-01 22:40] #1414 closed

[2022-09-02 14:04] JohnTitor opened #1455 "Move the submodule explanation to somewhere?"
Correct. The `[patch]` tables are gone.

BTW, I was noticing that there seems to be a lot of detailed information about git in this "introduction" chapter. Almost nobody needs to know about how to update a submodule. I feel like more of this could be pushed off into the git chapter (or maybe even a subchapter of that). I held back from making larger changes.

_Originally posted by @ehuss in https:

[2022-10-01 12:08] github-actions[bot] opened #1472 "Date Reference Triage for 2022-10"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (October 2022), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merge

[2022-10-02 22:48] #1454 closed

[2022-10-21 13:34] lcnr opened #1491 "cleanup the remaining mentions of `rustc_typeck`"
`rustc_typeck` has been split into `rustc_hir_analysis` and `rustc_hir_typeck`, we should update the dev guide for this. partially done in #1490

[2022-10-24 16:23] lcnr opened #1492 "talk about coherence separately"
are never overlapping impls, where two impls could be used with
  equal precedence.

we should move this doc to a separate file. Coherence is not really a part of trait resolution.

[2022-10-24 16:27] compiler-errors opened #1493 "Move stability attribute section to std dev guide?"
https://rustc-dev-guide.rust-lang.org/stability.html probably could live in https://std-dev-guide.rust-lang.org/, since it's not that relevant to the compiler. Just a thought.

[2022-10-25 01:58] tshepang commented on #1493
does it apply only to std though, or should it perhaps move to forge

[2022-10-25 18:28] compiler-errors commented on #1493
I *think* the only place we really use stability attributes are the standard library.

[2022-10-31 14:01] spastorino opened #1498 "Unused generic arguments of anonymous constants link 404ing"
In this section https://rustc-dev-guide.rust-lang.org/constants.html the [some interesting errors](https://github.com/rust-lang/project-const-generics/blob/master/design-docs/anon-const-substs.md#unused-substs) link at the end of the page is 404ing.

[2022-10-31 17:05] spastorino commented on #1184
https://github.com/rust-lang/rustc-dev-guide/issues/374 is related.

[2022-11-01 12:10] github-actions[bot] opened #1501 "Date Reference Triage for 2022-11"
## Procedure

Each of these dates should be checked to see if the docs they annotate are up-to-date. Each date should be updated (in the Markdown file where it appears) to use the current month (November 2022), or removed if the docs it annotates are not expected to fall out of date quickly.

Please check off each date once a PR to update it (and, if applicable, its surrounding docs) has been merg

[2022-11-05 15:38] jyn514 opened #1505 "Document local vs extern query providers"
This has caused confusion in the past and can result in runtime panics if you get them wrong.

_Originally posted by @jyn514 in https://github.com/rust-lang/rustc-dev-guide/pull/1483#discussion_r1014646759_

[2022-11-05 15:44] jyn514 commented on #1505
oh lol this already exists https://rustc-dev-guide.rust-lang.org/query.html#providers

[2022-11-05 15:44] #1505 closed

[2022-11-05 15:59] jyn514 commented on #1299
The `provide` function looks like this: https://github.com/rust-lang/rust/blob/c7b6ebdf7c0acf2382696988c09902beb91f4082/compiler/rustc_ty_utils/src/layout.rs#L26-L28
and is called from rustc_interface: https://github.com/rust-lang/rust/blob/a474ec50b7010d289d103242a63c806ed6f01c2e/compiler/rustc_interface/src/passes.rs#L726-L756

The name `provide` isn't special but is used in all crates for consi

[2022-11-05 16:02] jyn514 commented on #1299
cc https://github.com/rust-lang/rust/issues/104011

[2022-11-05 16:06] jyn514 commented on #1299
@Nilstrieb mentions "projection queries" are also a good reason for using a query instead of a function, for better caching. https://rustc-dev-guide.rust-lang.org/queries/incremental-compilation-in-detail.html#the-projection-query-pattern

[2022-11-05 16:09] Nilstrieb commented on #1299
Most rustc code runs inside some form of query provider (for example the entirety of the borrow checker in the `mir_borrowck` query), so really you need to always be careful unless you are explicitly outside the realms of the query system and it should be phrased like that.

[2022-11-18 10:32] michaelwoerister commented on #1299
@jyn514, sounds right to me.

I think there are some instances where there's more than one `provide()` method in a crate. But there is no deeper meaning to that, afaik. One per crate seems fine.

[2022-11-20 06:45] #1498 closed

[2022-11-20 06:49] JohnTitor commented on #1217
Triage: Does this situation still continue? If not, I think we could close this issue.

[2022-11-20 06:55] jyn514 commented on #1217
No, 2021 is stable on beta now.

[2022-11-20 06:55] #1217 closed

[2022-11-25 20:04] spastorino opened #1516 "Fix RA recommended configuration"
https://rustc-dev-guide.rust-lang.org/building/suggested.html#configuring-rust-analyzer-for-rustc

it mentions `stage0-sysroot`, more discussion https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/empty.20build.2F.24HOST.20directory

Is not clear what's the right suggestion

cc @jyn514

[2022-11-27 04:52] camelid commented on #1451
Hey @me-diru, are you still planning to work on this issue? If not, I can take it over. If you want to work on it, let me know if you need any help!